﻿<style>
.cartelIndicacion{
	top:-28px;
}
#fnd_M2_P05-1{
		background: url(img/fnd_M2_P05-1.png) no-repeat;
}
#fnd_M2_P05_2{
		background: url(img/fnd_M2_P05-2.png) no-repeat;
}
.piramide {color:#fff !important; font-size:14px !important; text-align:center; line-height:13px !important;}
.piramide2 { font-size:14px !important; text-align:center; line-height:13px !important;}
.piramideizq {color:#fff !important; font-size:14px !important; text-align:left; line-height:13px !important;}
.piramideizq2 {font-size:14px !important; text-align:left; line-height:13px !important;}
.piramideder {color:#fff !important; font-size:14px !important; text-align:right; line-height:13px !important;}
.piramideder2 { font-size:14px !important; text-align:right; line-height:13px !important;}

.giro {width:100px;
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg); 
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
	}

</style>

<div id="container_page">
	 <div class="cartelIndicacion"> <p>Pulse sobre las flechas verticales para ver el contenido.</p></div>
	<div id="info_box1" class="info_box grande"><h1 style="width:600px;">El cono de aprendizaje</h1> </div>			

	<div id="gallery">
		<div id="gallery_container">
			<div class="gallery_item" id="fnd_M2_P05-1" rel="1">
				
				<div id="info_box2" class="info_box" style="left:450px; top:40px; width:400px;"><p style="width:400px;">Edgar Dale (1969) desarrolló un modelo que explica cuáles son los <b>métodos más y menos efectivos</b> para el aprendizaje: “El cono del aprendizaje” (ha sido utilizado durante mucho tiempo por los docentes y <b>ha resultado exitoso)</b>.</p></div>
				
				<div id="info_box3" class="info_box" style="left:450px; top:160px; width:400px;">
				<p style="width:400px;">El estudio demostró que los métodos clásicos como los <b>libros y el uso del tablero</b> eran los <b>menos efectivos,</b> pues los niños <b>recordaban más</b> el tema si se explicaba  a través de <b>actividades lúdicas y/o videos. </b></p>
				</div>
				
				<div id="info_box4a" class="info_box" style="left:136px; top:59px; width:200px;"><p class="piramide2" style="width:200px;">Lectura</p></div>
				<div id="info_box4b" class="info_box" style="left:140px; top:90px; width:200px;"><p class="piramide2" style="width:200px;">Palabras oidas</p></div>
				<div id="info_box4c" class="info_box" style="left:140px; top:120px; width:200px;"><p class="piramide2" style="width:200px;">Dibujos observados</p></div>
				<div id="info_box4d" class="info_box" style="left:139px; top:177px; width:200px;"><p class="piramide" style="width:190px;">Ver una película. Ir a una exhibición. Ver una demostración. Ver algo hecho en la realidad </p></div>
				<div id="info_box4e" class="info_box" style="left:150px; top:278px; width:200px;"><p class="piramide" style="width:200px;">Participar en un debate. <br/>Tener una conversación</p></div>
				<div id="info_box4f" class="info_box" style="left:110px; top:340px; width:290px;"><p class="piramide" style="width:290px;">Realizar una representación teatral. Simular experiencias reales. Hacer la cosa que se intenta aprender </p></div>
				
				
				
			</div>
			
			<div class="gallery_item" id="fnd_M2_P05_2" rel="2">
					
				<div id="info_box5" class="info_box" style="left:232px; top:454px; width:980px;">
					<div id="info_box5a" class="info_box" style="left:136px; top:59px; width:200px;"><p class="piramide2" style="width:200px; ">Lectura</p></div>
					<div id="info_box5b" class="info_box" style="left:140px; top:90px; width:200px;"><p class="piramide2" style="width:200px; ">Palabras oidas</p></div>
					<div id="info_box5c" class="info_box" style="left:140px; top:120px; width:200px;"><p class="piramide2" style="width:200px; ">Dibujos observados</p></div>
					<div id="info_box5d" class="info_box" style="left:139px; top:181px; width:200px;"><p class="piramide" style="width:190px;">Ver una película. Ir a una exhibición. Ver una demostración. Ver algo hecho en la realidad </p></div>
					<div id="info_box5e" class="info_box" style="left:150px; top:282px; width:200px;"><p class="piramide" style="width:200px;">Participar en un debate.<br/>Tener una conversación</p></div>
					<div id="info_box5f" class="info_box" style="left:110px; top:350px; width:290px;"><p class="piramide" style="width:290px;">Realizar una representación teatral. Simular experiencias reales. Hacer la cosa que se intenta aprender </p></div>
				</div>	

				<div id="info_box6" class="info_box" style="left:0px; top:454px; width:980px;">
					<div id="info_box6g" class="info_box" style="left:70px; top:20px; width:400px;"><p style="width:400px;">Después de dos semanas tendemos a recordar</p></div>
					
					<div id="info_box6a" class="info_box" style="left:140px; top:59px; width:200px;"><p class="piramideizq2" style="width:200px;">El 10% de lo que leemos</p></div>
					<div id="info_box6b" class="info_box" style="left:140px; top:90px; width:200px;"><p class="piramideizq2" style="width:200px;">El 20% de lo que oímos</p></div>
					<div id="info_box6c" class="info_box" style="left:140px; top:120px; width:200px;"><p class="piramideizq2" style="width:200px;">El 30% de lo que vemos</p></div>
					<div id="info_box6d" class="info_box" style="left:140px; top:181px; width:200px;"><p class="piramideizq" style="width:190px;">El 50% de lo que oímos y vemos</p></div>
					<div id="info_box6e" class="info_box" style="left:140px; top:282px; width:200px;"><p class="piramideizq" style="width:200px;">El 70% de lo que<br/>decimos</p></div>
					<div id="info_box6f" class="info_box" style="left:140px; top:350px; width:290px;"><p class="piramideizq" style="width:290px;">El 90% de lo<br/>que decimos a<br/>y hacemos</p></div>
				</div>	

				<div id="info_box7" class="info_box" style="left:420px; top:454px; width:980px;">
				<div id="info_box7g" class="info_box" style="left:100px; top:20px; width:300px;"><p style="width:300px;">Naturaleza de la actividad involucrada</p></div>
					<div id="info_box7a" class="info_box" style="left:140px; top:59px; width:200px;"><p class="piramideder2" style="width:200px; ">Actividad verbal</p></div>
					<div id="info_box7d" class="info_box" style="left:140px; top:200px; width:200px;"><p class="piramideder" style="width:200px;">Actividad visual</p></div>
					<div id="info_box7e" class="info_box" style="left:140px; top:279px; width:200px;"><p class="piramideder" style="width:200px;">Actividad<br/>participativa<br/> y  receptiva</p></div>
					<div id="info_box7f" class="info_box" style="left:140px; top:350px; width:290px;"><p class="piramideder" style="width:200px;">Actividad<br/>pura</p></div>
				</div>	
				
				<div id="info_box8" class="info_box" style="left:650px; top:805px; width:100px;"><p class="giro">Pasivo</p></div>
				<div id="info_box9" class="info_box" style="left:650px; top:992px; width:100px;"><p class="giro">Activo</p></div>
				<div id="info_box9" class="info_box" style="left:-10px; top:855px; width:100px;"><p style="font-size:12px"><i>Fuente: sabidura.com</i></p></div>
				
			</div>
	

		<div class="gallery_prev" style="top:470px"></div>
		<div class="gallery_next"></div>
	</div>
	
	
</div>

<script type="text/javascript" src="js/_utils/_gallery/gallery.js"></script>
<script>
	var totalEventos;
	var totalActivos;
	var queue;
	
	var ruta_img =  "contenido/M2_P05/img/";
	
	function init(){
		portada = false;
		precarga();

		//Control de eventos para pasar de página (Plantilla)
		totalEventos = 2;
		totalActivos = new Array();
		for (var i = 1; i < totalEventos + 1; i++) {
			totalActivos[i] = 0;
		}

		$("#gallery").gallery({visible : 1, direction : "vertical", distance : 50, duration : 300, callback : descontarGaleria});
		
		_global.externalTrace("plantilla, cantidad de eventos",totalEventos);
	}


	function precarga(){
		//Precarga de imagenes
		queue = new createjs.LoadQueue(true);	
		queue.addEventListener("fileload", handleFileLoad);
		queue.addEventListener("complete", handleComplete);
		handleComplete();

	}
	
	function handleFileLoad(event) {
		var item = event.item; // Referencia al item que genera el evento
			
	}
	
	
	/* al acabar la carga lanzamos las animaciones */
	
	function handleComplete(event) {
		navigation.checkStatus();
	}	
	

	
	function descontarGaleria(item) {
		descontar(item.attr("rel"));
	}
	
	

	/* AVANCE */
	
	function descontar(cual) {
		_global.externalTrace("plantilla descontar ",cual);
		totalActivos[cual] = 1;
		compruebaBotones();
	}
	
	function compruebaBotones() {
		alguno = false;
		for (i = 1; i < totalActivos.length + 1; i++) {
			if (totalActivos[i] == 0) {
				alguno = true;
				break;
			}
		}
		if (!alguno) {
			HabilitaBotones();
		}
		_global.externalTrace("plantilla compruebaBotones ",alguno);
	}
	
</script>
	