<style>


</style>

<div id="container_page">
	
	<div id="fnd" class="fnd_actividad"></div>

	
	<div id="info_box" class="info_box mediano2">
		<h1>Actividad práctica</h1>
		<p>Finlandia tiene el mejor sistema de educación; es un hecho que no podemos ignorar. Así que ¿por qué no replicar el modelo finlandés y acoplarlo al entorno en el que usted como docente enseña? </p>

		<h2>Actividad</h2>	
			<ol>
				<li>Establezca <b>sinergias y deferencias</b> entre los modelos educativos. Su <b>modelo educativo vs. el modelo finlandés.</b></li>
				<li>De las diferencias, ¿cuáles considera <b>positivas</b> de Finlandia para <b>tomarlas como referencia?</b></li>
				<li>Cree un <b>plan</b> para incorporar las características positivas en su clase o si quiere tener más impacto en su escuela.</li>
			</ol><br/>
	
	<h2>Objetivo</h2>
			<p>Contribuir a la transformación de las escuelas.</p>

	<br/>	
	<h2>Resultado</h2>
			<p>Comparta el plan con sus colegas. Forme parte de la comunidad que construye <b>plataformas y soluciones para el trabajo colaborativo.</b></p>

	</div>
	
	<div id="link_subpage_1" class="link_secundario gris" rel="1" style="left:610px; top:470px; width:190px" >
		<p>Decargar PDF</p>
	</div>
</div>
 








<script>
	var totalEventos;
	var totalActivos;
	var queue;

	var ruta_img =  "contenido/M5_P02/img/";
	    

	function init(){
		portada = false;

		precarga();
		//HabilitaBotones();
		// array for the buttons numbers

		//Control de eventos para pasar de página (Plantilla)
		totalEventos = 1;
		totalActivos = new Array();
		for (var i = 1; i < totalEventos + 1; i++) {
			totalActivos[i] = 0;
		}

		



		$("a.btn_back").bind(clickEvent,function(e){
			var container = $(this).parent().parent();
			e.preventDefault();	
				container.fadeOut();
		});

		$(".back_sub").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeOut();
			$(".subpagePopUp").fadeOut();
		});

		$(".button").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeIn();
			$("#subpagePopUp_" + $(this).attr("rel")).fadeIn();
			descontar($(this).attr("rel"));
		});

		 $("#link_subpage_1").click(function(event){ 
		window.open('contenido/download/manuales/M6_P02_pdf1.pdf', '_blank');
		event.preventDefault();
		descontar($(this).attr("rel"));
		}); 

		_global.externalTrace("plantilla, cantidad de eventos",totalEventos);
	}

	function precarga(){
		//Precarga de imagenes
		queue = new createjs.LoadQueue(true);	
		queue.addEventListener("fileload", handleFileLoad);
		queue.addEventListener("complete", handleComplete);
		handleComplete();

	}
	
	function handleFileLoad(event) {
		var item = event.item; // Referencia al item que genera el evento
			
	}
	
	
	/* al acabar la carga lanzamos las animaciones */
	
	function handleComplete(event) {
		navigation.checkStatus();
	}	




	/* AVANCE */

	function descontar(cual) {
		_global.externalTrace("plantilla descontar ",cual);
		totalActivos[cual] = 1;
		compruebaBotones();
	}

	function compruebaBotones() {
		alguno = false;
		for (i = 1; i < totalActivos.length + 1; i++) {
			if (totalActivos[i] == 0) {
				alguno = true;
				break;
			}
		}
		if (!alguno) {
			HabilitaBotones();
		}
		_global.externalTrace("plantilla compruebaBotones ",alguno);
	}

</script>
