﻿<style>
.button{height: 130px;}

.fnd_M2_P02{
		background: url(img/fnd_M2_P02.png) no-repeat;
	}

#link_subpage_1{top:180px; left:510px; width:330px;}
#link_subpage_2{top:240px; left:510px; width:330px;}
#link_subpage_3{top:300px; left:510px; width:330px;}
#link_subpage_4{top:360px; left:510px; width:330px;}
#link_subpage_5{top:420px; left:510px; width:330px;}
#link_subpage_6{top:480px; left:40px; width:330px;}


.fnd_marron1{padding: 5px; text-align: center;	}
#cartelIndicacion{top: -40px;left: 800px; }

</style>


<div id="container_page">
	<div id="fnd" class="fnd_M2_P02" style="top:33px"></div>
	<div class="cartelIndicacion"> <p style="padding:99px 0px 0px 12px;">Pulse sobre los botones para más información.</p></div>
	
	<div id="info_box" class="info_box" ><h1>El modelo finlandés</h1></div>
	
	<div id="info_box2" class="info_box" style="top:90px; left:40px; width:750px"><p>El <b>100%</b> de los estudiantes de <b>Primaria y Secundaria</b> asisten a <b>colegios públicos. </b></p>
	<p><b>¿Qué hacen los finlandeses para tener el mejor sistema educativo?</b></p>
	</div>

<div id="link_subpage_1" class="link_secundario azul" rel="1"> <p>Gobierno</p></div>
<div id="link_subpage_2" class="link_secundario azul" rel="2"> <p>Profesores</p></div>
<div id="link_subpage_3" class="link_secundario azul" rel="3"> <p>Estudiantes</p></div>
<div id="link_subpage_4" class="link_secundario azul" rel="4"> <p>Clases y educación superior</p></div>
<div id="link_subpage_5" class="link_secundario azul" rel="5"> <p>Exámenes y tareas</p></div>

<div id="link_subpage_6" class="link_secundario gris" rel="6"> <p>Descargar PDF</p></div>

	<div id="subpagePopUp_1" class="subpagePopUp">
		<div class="text">
			<a href="javascript:void(0)" class="btn_back"></a>
			<h1>Gobierno</h1>
			<ul>
			<li>Gasta un 30% <b>menos por alumno</b> de lo que gasta el Gobierno de los EE. UU.</li>
			<li>Financia el <b>100%</b> del sistema educativo.</li>
			<li><b>No</b> hay colegios <b>privados.</b></li>
			</ul>
		 </div>
	</div>
	

	<div id="subpagePopUp_2" class="subpagePopUp">
		<div class="text">
			<a href="javascript:void(0)" class="btn_back"></a>
			<h1>Profesores</h1>
			<ul>
			<li>Solo pasan <b>4 horas en la clase</b> y tienen <b>2 horas a la semana de formación.</b></li>
			<li>Todos deben tener <b>estudios</b> de profesorado.</li>
			<li>En el año 2011, de las 6.600 personas que se presentaron para entrar en la Universidad para ser profesores, solo el <b>10%</b> (660) fueron aceptados.</li>
			</ul>
		 </div>
	</div>
	
	<div id="subpagePopUp_3" class="subpagePopUp">
		<div class="text">
			<a href="javascript:void(0)" class="btn_back"></a>
			<h1>Estudiantes</h1>
			<ul>
			<li>Los niños finlandeses empiezan el colegio a los <b>7 años.</b></li>
			<li>Todos los niños, independientemente de su capacidad, reciben clases <b>en la misma aula.</b></li>
			<li>La diferencia entre el alumno más fuerte y el más débil es <b>mínima y la menor del mundo.</b></li>
			<li>Los alumnos de Primaria tienen descansos de <b>75 minutos</b> al día.</li>
			</ul>
		 </div>
	</div>
	
	<div id="subpagePopUp_4" class="subpagePopUp">
		<div class="text">
			<a href="javascript:void(0)" class="btn_back"></a>
			<h1>Clases y educación superior</h1>
			<ul>
			<li>El 30% de los niños reciben <b>ayudas extras</b> por parte de los profesores.</li>
			<li>Las clases de Ciencias tienen un máximo de <b>16 estudiantes,</b> de modo que todos puedan realizar experimentos en todas las clases.</li>
			<li>El 93% de los finlandeses se gradúan como bachilleres y el <b>66%</b> de los alumnos entra en educación superior.</li>
			</ul>
		 </div>
	</div>
	
	<div id="subpagePopUp_5" class="subpagePopUp">
		<div class="text">
			<a href="javascript:void(0)" class="btn_back"></a>
			<h1>Exámenes y tareas</h1>
			<ul>
			<li>Muy rara vez, los alumnos tienen <b>tareas o exámenes</b> durante la Primaria.</li>
			<li>Los niños <b>no son calificados</b> durante los primeros 6 años de escuela.</li>
			</ul>
		 </div>
	</div>

</div>

<script>
	var totalEventos;
	var totalActivos;
	var queue;
	var n_rel;
	var ruta_img =  "contenido/M1_P03/img/";



	function init(){
		portada = false;
		precarga();
		initInteractions();
		//HabilitaBotones(); //Enable next buttom	
		
		//Control de eventos para pasar de página (Plantilla)
		totalEventos = 6;
		totalActivos = new Array();
		for (var i = 1; i < totalEventos + 1; i++) {
			totalActivos[i] = 0;
		}
		_global.externalTrace("plantilla, cantidad de eventos",totalEventos);


		 
	}

	function initInteractions(){	
	 
		$("a.btn_back").bind(clickEvent,function(e){
			var container = $(this).parent().parent();
			e.preventDefault();	
				container.fadeOut();
		});

		$(".back_sub").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeOut();
			$(".subpagePopUp").fadeOut();
		});

		$(".link_secundario").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeIn();
			$("#subpagePopUp_" + $(this).attr("rel")).fadeIn();
			descontar($(this).attr("rel"));
		});

		 $("#link_subpage_6").click(function(event){ 
		window.open('contenido/download/manuales/M2_P02_pdf1.pdf', '_blank');
		event.preventDefault();
		descontar($(this).attr("rel"));
		}); 

	}

	
	


	function precarga(){
		//Precarga de imagenes
		queue = new createjs.LoadQueue(true);	
		queue.addEventListener("fileload", handleFileLoad);
		queue.addEventListener("complete", handleComplete);

		handleComplete();
		}
	
	function handleFileLoad(event) {
		var item = event.item; // Referencia al item que genera el evento
	}
	
	
	/* al acabar la carga lanzamos las animaciones */
	
	function handleComplete(event) {
	
		navigation.checkStatus(); // Comunication with Scorm
	}	
	
	

	/* AVANCE */
	
	function descontar(cual) {
		_global.externalTrace("plantilla descontar ",cual);
		totalActivos[cual] = 1;
		compruebaBotones();
	}
	
	function compruebaBotones() {
		alguno = false;
		for (i = 1; i < totalActivos.length + 1; i++) {
			if (totalActivos[i] == 0) {
				alguno = true;
				break;
			}
		}
		if (!alguno) {
		 
		HabilitaBotones();
		 
		}
		_global.externalTrace("plantilla compruebaBotones ",alguno);
	}

</script>