﻿<style>
.button{
    width: 370px;
    height: 286px;
}

	.fnd_M4_P03{background: url(img/fnd_M4_P03.png) no-repeat;	}
	.fnd_M4_P03-2{background: url(img/fnd_M4_P03-2.png) no-repeat;	}

</style>


<div id="container_page">
	<div id="fnd" class="fnd_M4_P03"></div>

	<div class="cartelIndicacion"> <p style="padding:99px 0px 0px 12px;">Pulse sobre el botón para más información.	</p></div>

	<div id="info_box1" class="info_box" style="width:800px;"><h1>Al abordaje</h1>
	<p>Un cambio en la forma de enseñar de los maestros puede <b>influenciar al mundo entero. </b> </p></div>

	<div id="info_box2" class="info_box" style="width:535px; left:190px; top:160px;"><p>Empezará por la <b>unidad más pequeña</b> que es el estudiante y podrá expandirse más allá de la misma ciudad donde trabaja. <b>¿Cómo se logra esto?</b></p></div>





	<div id="link_subpage_1" class="button" rel='1' style="left:424px; top:245px;">
		<div class="link_verMas" style="left:0px"></div>
	</div>


	<div id="subpagePopUp_1" class="subpagePopUp">
		<div class="text"  style="height:470px">
			<a href="javascript:void(0)" class="btn_back" style="right: 55px !important; top: 45px !important; z-index:99"></a>
				<h1>Familia, escuela y sociedad</h1>
				<div id="fnd" class="info_box fnd_M4_P03-2" style="top:-20px"></div>

				<div id="info_box3" class="info_box" style="width:500px; left:300px; top:118px;"><p>Usted como docente tiene una <b>idea nueva,</b> un <b>plan de estudios nuevo y una manera diferente de enseñar</b> a sus alumnos.</p></div>

				<div id="info_box4" class="info_box" style="width:200px; left:360px; top:210px;"><p><b>Comparte su idea</b> con otros colegas que están buscando soluciones con sus alumnos. </p></div>

				<div id="info_box5" class="info_box" style="width:250px; left:710px; top:210px;"><p>Sus colegas tienen <b>nuevas ideas</b> que comparten al mismo tiempo con <b>otros docentes y sus alumnos. </b></p></div>

				<div id="info_box6" class="info_box" style="width:500px; left:300px; top:350px;"><p>Los alumnos comparten <b>su conocimiento y creatividad</b> con otros alumnos, con su familia y amigos, y se ven <b>motivados a aprender más.</b> Se despierta la <b>curiosidad y la creatividad.</b>  </p></div>

				<div id="info_box7" class="info_box" style="width:680px; left:85px; top:482px;"><p>La curiosidad y la creatividad les convierten en <b>personas innovadoras, </b>que aportan nuevas ideas, soluciones y hasta <b>productos a la sociedad.</b> Estas nuevas ideas, herramientas y soluciones son usadas por los maestros para <b>repetir el ciclo</b> y permitir que el <b>mundo avance. </b></p></div>
		 </div>
	</div>
	</div>

<script>
	var totalEventos;
	var totalActivos;
	var queue;
	var n_rel;
	var ruta_img =  "contenido/M1_P03/img/";



	function init(){
		portada = false;
		precarga();
		initInteractions();
		//HabilitaBotones(); //Enable next buttom

		//Control de eventos para pasar de página (Plantilla)
		totalEventos = 1;
		totalActivos = new Array();
		for (var i = 1; i < totalEventos + 1; i++) {
			totalActivos[i] = 0;
		}
		_global.externalTrace("plantilla, cantidad de eventos",totalEventos);



	}

	function initInteractions(){


		$("a.btn_back").bind(clickEvent,function(e){
			var container = $(this).parent().parent();
			e.preventDefault();
				container.fadeOut();
		});

		$(".back_sub").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeOut();
			$(".subpagePopUp").fadeOut();
		});

		$(".link_secundario, #link_subpage_1").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeIn();
			$("#subpagePopUp_" + $(this).attr("rel")).fadeIn();
			descontar($(this).attr("rel"));
		});



	}





	function precarga(){
		//Precarga de imagenes
		queue = new createjs.LoadQueue(true);
		queue.addEventListener("fileload", handleFileLoad);
		queue.addEventListener("complete", handleComplete);

		handleComplete();
		}

	function handleFileLoad(event) {
		var item = event.item; // Referencia al item que genera el evento
	}


	/* al acabar la carga lanzamos las animaciones */

	function handleComplete(event) {

		navigation.checkStatus(); // Comunication with Scorm
	}



	/* AVANCE */

	function descontar(cual) {
		_global.externalTrace("plantilla descontar ",cual);
		totalActivos[cual] = 1;
		compruebaBotones();
	}

	function compruebaBotones() {
		alguno = false;
		for (i = 1; i < totalActivos.length + 1; i++) {
			if (totalActivos[i] == 0) {
				alguno = true;
				break;
			}
		}
		if (!alguno) {

		HabilitaBotones();

		}
		_global.externalTrace("plantilla compruebaBotones ",alguno);
	}

</script>
