﻿
<div id="container_page">

<div id="fnd" class="fnd_resumen"></div>


<div id="info_box" class="info_box mediano2">
		<h1>Resumen</h1>
		<p>Es claro que el <b>sistema educativo</b> en nuestros países necesita un <b>cambio radical,</b> y si queremos que las futuras generaciones salgan preparadas para competir con estudiantes de otros países, usted, <b>como docente debe actuar ya. </b></p>
		
		<p>Los <b>tres cambios</b> a los que se tiene que enfrentar en el siglo XXI son:</p>
		
		<ol>
		<li><b>Cambios relacionados con el saber tradicional vs. digital:</b> los libros, la clase magistral, profesor catedrático vs. videos, actividades lúdicas, presentaciones, profesor creativo, etc. </li>
		<li><b>Relación pedagógica:</b> el docente y el alumno asumen nuevos roles.  </li>
		<li><b>Cambios institucionales:</b> los cambios en la infraestructura de las escuelas influyen notoriamente en la manera de enseñar, pues ahora las escuelas dotan a los docentes con herramientas adicionales a las tradicionales para que den sus clases.</li>
		</ol>

		</div>
</div>


</div>


<script>
	var totalEventos;
	var totalActivos;
	var queue;

	var ruta_img =  "contenido/M5_P02/img/";
	    

	function init(){
		portada = false;

		precarga();
		HabilitaBotones();
		// array for the buttons numbers

		//Control de eventos para pasar de página (Plantilla)
		totalEventos = 1;
		totalActivos = new Array();
		for (var i = 1; i < totalEventos + 1; i++) {
			totalActivos[i] = 0;
		}

		



		$("a.btn_back").bind(clickEvent,function(e){
			var container = $(this).parent().parent();
			e.preventDefault();	
				container.fadeOut();
		});

		$(".back_sub").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeOut();
			$(".subpagePopUp").fadeOut();
		});

		$(".button").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeIn();
			$("#subpagePopUp_" + $(this).attr("rel")).fadeIn();
			descontar($(this).attr("rel"));
		});


		_global.externalTrace("plantilla, cantidad de eventos",totalEventos);
	}

	function precarga(){
		//Precarga de imagenes
		queue = new createjs.LoadQueue(true);	
		queue.addEventListener("fileload", handleFileLoad);
		queue.addEventListener("complete", handleComplete);
		handleComplete();

	}
	
	function handleFileLoad(event) {
		var item = event.item; // Referencia al item que genera el evento
			
	}
	
	
	/* al acabar la carga lanzamos las animaciones */
	
	function handleComplete(event) {
		navigation.checkStatus();
	}	




	/* AVANCE */

	function descontar(cual) {
		_global.externalTrace("plantilla descontar ",cual);
		totalActivos[cual] = 1;
		compruebaBotones();
	}

	function compruebaBotones() {
		alguno = false;
		for (i = 1; i < totalActivos.length + 1; i++) {
			if (totalActivos[i] == 0) {
				alguno = true;
				break;
			}
		}
		if (!alguno) {
			HabilitaBotones();
		}
		_global.externalTrace("plantilla compruebaBotones ",alguno);
	}

</script>
