﻿<style>
.cartelIndicacion{	top:-28px;}
#fnd_M5_P03 { background: url(img/fnd_M5_P03.png) no-repeat; }
#fnd_M5_P03_1 { background: url(img/fnd_M5_P03-1.png) no-repeat; }
.recuadro {color:#fff; font-family: 'OpenSans';font-weight: 300;font-size: 16px; line-height:21px;}

</style>

<div id="container_page">
	<div id="fnd" class="fnd_M5_P03"></div>
	 <div class="cartelIndicacion"> <p>Pulse sobre las flechas verticales para ver el contenido.</p></div>
	<div id="info_box1" class="info_box grande"><h1 style="width:600px;">Análisis DAFO</h1> </div>			

	<div id="gallery">
		<div id="gallery_container">
			
			<div class="gallery_item" id="fnd_M5_P03_1" rel="1">
				
				<div id="info_box2" class="info_box" style="left:0px; top:-20px; width:800px;"><p style="width:800px;">El análisis DAFO (Debilidades, Amenazas, Fortalezas y Oportunidades) es una herramienta usada para <b>evaluar el estatus de una empresa,</b> un <b>proyecto,</b> un <b>plan de trabajo,</b> etc. </p></div>
				
				<div id="info_box3" class="info_box" style="left:198px; top:210px; "><h2>Análisis DAFO</h2></div>
				
				<div id="info_box3b" class="info_box" style="left:482px; top:136px;"><h2>Ejercicio</h2><p style="width:265px; margin-top:-66px;">
				<b>¿Dónde está usted?</b></br>Analice y reflexione sobre su estado como docente del siglo XXI. Por ejemplo: ¿está preparado para afrontar las nuevas tendencias? ¿Es bueno usando herramientas como las TIC?</p></div>
				
				<div id="info_box4" class="info_box" style="left:135px; top:308px; "><p style="width:610px;">El análisis se hace a los<b> factores internos</b>  (debilidades y fortalezas propias) y a los <b>factores externos</b> (amenazas y oportunidades).</p></div>
					
			</div>
			
			
			<div class="gallery_item" id="fnd_M5_P03_2" rel="2">
				
				<div id="info_box5" class="info_box" style="left:150px; top:520px; "><h2>Análisis interno</h2></div>
				<div id="info_box6" class="info_box" style="left:560px; top:520px; "><h2>Análisis externo</h2></div>
				
				<div id="info_box7" class="info_box fnd_marron1" style="left:80px; top:560px; width:350px; padding:10px 20px;"><span class="recuadro"><b>Debilidades</b></br> Son problemas del docente, que solo él sabe cómo solucionar. Por ejemplo, ser reacio al cambio. Aún así, una vez identificados y desarrollando una adecuada estrategia, pueden y deben eliminarse. </span></div>
				
				<div id="info_box8" class="info_box fnd_marron1" style="left:500px; top:560px; width:350px; padding:20px 20px;"><span class="recuadro"><b>Amenazas </b></br>Son situaciones negativas, externas al docente, que pueden atentar contra este. Por ejemplo, debido a problemas con la conexión de luz, ningún equipo puede ser usado.  </span></div>
				
				<div id="info_box9" class="info_box fnd_marron1" style="left:80px; top:730px; width:350px; padding:10px 20px;"><span class="recuadro"><b>Fortalezas </b></br>Son todos aquellos elementos internos y positivos que diferencian al docente de otros. Por ejemplo, antes de trabajar en la escuela en la que trabaja, había sido parte de un programa de entrenamiento en tecnologías y es experto en el uso de Internet.  </span></div>
				
				<div id="info_box10" class="info_box fnd_marron1" style="left:500px; top:730px; width:350px; padding:20px 20px;"><span class="recuadro"><b>Oportunidades </b></br>Son factores positivos que se generan en el entorno y que, al ser identificados, pueden aprovecharse. Por ejemplo, tener nuevos equipos tecnológicos en la escuela representa oportunidades para usarlos con los niños.</span></div>			
				
					
			</div>			
			

		<div class="gallery_prev" style="top:470px"></div>
		<div class="gallery_next"></div>
	</div>
	
	
</div>

<script type="text/javascript" src="js/_utils/_gallery/gallery.js"></script>
<script>
	var totalEventos;
	var totalActivos;
	var queue;
	
	var ruta_img =  "contenido/M5_P03/img/";
	
	function init(){
		portada = false;
		precarga();

		//Control de eventos para pasar de página (Plantilla)
		totalEventos = 2;
		totalActivos = new Array();
		for (var i = 1; i < totalEventos + 1; i++) {
			totalActivos[i] = 0;
		}

		$("#gallery").gallery({visible : 1, direction : "vertical", distance : 50, duration : 300, callback : descontarGaleria});
		
		_global.externalTrace("plantilla, cantidad de eventos",totalEventos);
	}


	function precarga(){
		//Precarga de imagenes
		queue = new createjs.LoadQueue(true);	
		queue.addEventListener("fileload", handleFileLoad);
		queue.addEventListener("complete", handleComplete);
		handleComplete();

	}
	
	function handleFileLoad(event) {
		var item = event.item; // Referencia al item que genera el evento
			
	}
	
	
	/* al acabar la carga lanzamos las animaciones */
	
	function handleComplete(event) {
		navigation.checkStatus();
	}	
	

	
	function descontarGaleria(item) {
		descontar(item.attr("rel"));
	}
	
	

	/* AVANCE */
	
	function descontar(cual) {
		_global.externalTrace("plantilla descontar ",cual);
		totalActivos[cual] = 1;
		compruebaBotones();
	}
	
	function compruebaBotones() {
		alguno = false;
		for (i = 1; i < totalActivos.length + 1; i++) {
			if (totalActivos[i] == 0) {
				alguno = true;
				break;
			}
		}
		if (!alguno) {
			HabilitaBotones();
		}
		_global.externalTrace("plantilla compruebaBotones ",alguno);
	}
	
</script>
	