﻿<style>
.button{height: 130px;}

.fnd_M2_P06{
		background: url(img/fnd_M2_P06.png) no-repeat;
	}

#link_subpage_1{top:470px; left:40px;}
#link_subpage_2{top:410px; left:40px;}

#cartelIndicacion{top: -40px;left: 800px; }

</style>


<div id="container_page">
	<div id="fnd" class="fnd_M2_P06" style="top:33px"></div>
	<div class="cartelIndicacion"> <p style="padding:99px 0px 0px 12px;">Pulse sobre los botones para más información.</p></div>
	
	<div id="info_box" class="info_box" ><h1>Las TIC, herramientas innovadoras</h1></div>
	
	<div id="info_box2" class="info_box" style="top:90px; left:40px; width:750px"><p>Las TIC son unas <b>herramientas muy útiles,</b> pues su uso requiere de una actividad participativa y permiten que el alumno decida <b>cómo usarlas,</b> despertando así su <b>creatividad.</b></p>	</div>
	
	<div id="info_box3" class="info_box" style="top:250px; left:614px; width:230px;"><h2 style="text-align:center; color:#6d5c48;">"Me lo contaron y lo olvidé; lo vi y lo entendí; lo hice y lo aprendí." <br/><i>Confucio</i></h2> </div>

		<div id="link_subpage_1" class="link_secundario azul" rel="1"> <p>Saber más</p></div>
		<div id="link_subpage_2" class="link_secundario azul" rel="2"> <p>Ejercicio</p></div>


	<div id="subpagePopUp_1" class="subpagePopUp">
		<div class="text">
			<a href="javascript:void(0)" class="btn_back"></a>
			<h1>Uso de las TIC</h1>
			<p>Las herramientas clásicas no son muy efectivas. Por esta razón, es recomendable que los <b>docentes migren</b> hacia el uso de <b>herramientas nuevas</b> que permitan que el estudiante recuerde más del 50% de lo aprendido.</p>
			<p>El docente también puede hacer uso de las TIC para desarrollar su clase, por ejemplo, usar videos, animaciones, demostraciones de experimentos en línea, etc.</p>
		 </div>
	</div>
	

	<div id="subpagePopUp_2" class="subpagePopUp">
		<div class="text">
			<a href="javascript:void(0)" class="btn_back"></a>
			<h1>Herramientas TIC</h1>
			<p>Durante los últimos dos módulos se presentaron herramientas tecnológicas que usted como docente puede usar. Así pues, de acuerdo con el cono de aprendizaje, nombre tres herramientas basadas en las TIC que facilitarían y mejorarían el proceso de aprendizaje, y que usted utilizaría en clase.</p>
			<ol>
			<li><span style="color:#00afc6;">____________________________________________________________________________________</span></li>
			<li><span style="color:#00afc6;">____________________________________________________________________________________</span></li>
			<li><span style="color:#00afc6;">____________________________________________________________________________________</span></li>
			</ol>
		 </div>
	</div>
	


</div>

<script>
	var totalEventos;
	var totalActivos;
	var queue;
	var n_rel;
	var ruta_img =  "contenido/M1_P03/img/";



	function init(){
		portada = false;
		precarga();
		initInteractions();
		//HabilitaBotones(); //Enable next buttom	
		
		//Control de eventos para pasar de página (Plantilla)
		totalEventos = 2;
		totalActivos = new Array();
		for (var i = 1; i < totalEventos + 1; i++) {
			totalActivos[i] = 0;
		}
		_global.externalTrace("plantilla, cantidad de eventos",totalEventos);


		 
	}

	function initInteractions(){	
	 
		$("a.btn_back").bind(clickEvent,function(e){
			var container = $(this).parent().parent();
			e.preventDefault();	
				container.fadeOut();
		});

		$(".back_sub").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeOut();
			$(".subpagePopUp").fadeOut();
		});

		$(".link_secundario").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeIn();
			$("#subpagePopUp_" + $(this).attr("rel")).fadeIn();
			descontar($(this).attr("rel"));
		});



	}

	
	


	function precarga(){
		//Precarga de imagenes
		queue = new createjs.LoadQueue(true);	
		queue.addEventListener("fileload", handleFileLoad);
		queue.addEventListener("complete", handleComplete);

		handleComplete();
		}
	
	function handleFileLoad(event) {
		var item = event.item; // Referencia al item que genera el evento
	}
	
	
	/* al acabar la carga lanzamos las animaciones */
	
	function handleComplete(event) {
	
		navigation.checkStatus(); // Comunication with Scorm
	}	
	
	

	/* AVANCE */
	
	function descontar(cual) {
		_global.externalTrace("plantilla descontar ",cual);
		totalActivos[cual] = 1;
		compruebaBotones();
	}
	
	function compruebaBotones() {
		alguno = false;
		for (i = 1; i < totalActivos.length + 1; i++) {
			if (totalActivos[i] == 0) {
				alguno = true;
				break;
			}
		}
		if (!alguno) {
		 
		HabilitaBotones();
		 
		}
		_global.externalTrace("plantilla compruebaBotones ",alguno);
	}

</script>