/* = Quality Devs Reset CSS
-------------------------------------------------------------- */

/* CSS GENERAL */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	/* background: transparent; */
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	text-decoration: none;
}
body {
	line-height: 1;
	margin:0;
	padding:0;
	font-family: arial;
	font-size: 11px;
	color: #000;
	background-position: center center;
	background-repeat: no-repeat;
	max-width: 100%;
	min-width: 562px;
	display: block;
	/* margin: 120px auto; */
	/* min-height: 150px; */
	/* max-height: 873px; */
	background-color: #ffffff;
	left: 0px;
	transform-origin: left top;
	-webkit-transform-origin: left top;
	-moz-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal; 
}
ol, ul {
	list-style: none;
	margin:0;
	padding:0;
}
a{color: #178a9d;font-family: 'OpenSanssemibold';text-decoration:underline;}


b{
  font-family: 'OpenSanssemibold';
}
blockquote {
	quotes: none;
}
/*blockquote:before, blockquote:after {
	content: '';
	content: none;
}*/
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	margin-top:10px;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #0be3ff;
}
a img {
	border: none;
}
a:hover{
	text-decoration:underline;
}
.fix{clear:both;}

object {
    display:block;
}

td{border: 1px solid #00afc6;font-family: 'OpenSans';font-weight: 300;font-size: 16px;line-height: 17px;color: #323232;background-color:#fff;padding: 5px;}

.call{font-size13px;font-style:italic;font-size: 13px!important;color: #8a8989!important;}
td li{
font-family: 'OpenSans';
font-weight: 300;
font-size: 14px;
line-height: 14px;
color: #323232;
background-color:#fff;
padding: 3px!important;
}

td ul{
margin-left: 20px !important;
padding: 0px!important;
font-family: 'OpenSans';
font-weight: 300;
font-size: 14px;
line-height: 14px;
}


th{

font-family: 'nunitobold';

font-weight: 400;

font-size: 19px;

line-height: 20px;

color: #fff;

background-color: #00afc6;

padding:5px;

border: 1px solid #1a98ad;
}

#container_web{
  width: 980px;
  height: 596px;
  background-color: #e9dbc3;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  margin: 0px auto 0 auto;
  -moz-box-shadow: 0px 0px 26px 1px rgba(0,0,0,0.55);
}

#back_content{
	  width: 980px;
	  height: 596px;
	  background-color: #fff;
/*	  background: url(img/back_content.jpg) no-repeat 0 0px;*/
	  overflow: hidden;
	  position: absolute;
}
	
	#back_page {
		position: absolute;
		left: 1200px;
		top: -46px;
		width:980px; 
		height:596px; 
		overflow: hidden; 
	
		background-color: #fff000;
}
		
	
	
	
	#menu_downloads_wrap{position:absolute;left: 0px;top: 1px;/* margin-top: -160px; *//* margin-left: -357px; */width: 918px;height: 530px;padding: 25px 22px 0px 40px;}
		#menu_downloads_wrap > div{width:100%;height: 365px;overflow:auto;overflow-x: hidden;}
		#menu_downloads_wrap h1{font-family: 'nunitobold';font-weight: 700;font-size: 25px;line-height: 27px;color: #ffffff;margin-bottom: 30px;}
		#menu_downloads_wrap h2{width:780px;border-bottom:1px solid #fff;font-family: 'nunitobold';font-weight: 700;font-size: 19px;line-height: 27px;color: #ffffff;margin-bottom: 10px;text-align: left;padding-top: 15px;}
		#menu_downloads_wrap p{font-family: 'OpenSans';font-size: 15px;line-height: 22px;color: #ffffff;/* margin: 20px 0px; */text-align: left;height: 20px;/* position: relative; *//* padding-bottom: 23px; */}
		#menu_downloads_wrap li{font-family: 'OpenSans';font-size: 15px;line-height: 22px;color: #ffffff;margin: 10px 0px;text-align: left;/* height: 20px; */position: relative;/* padding: 9px 0px; */}
		#menu_downloads_wrap a.close{position:absolute;display:block;width: 30px;height: 44px;top: 7px;right: 10px;background: url(img/sprite.png) no-repeat -218px -19px;}
		#menu_downloads_wrap a.close:hover{}

		#menu_downloads_wrap div.download{float:left;/* width: 860px; */height: auto;margin: 0px 20px 10px 0;} 
		#menu_downloads_wrap div.download a{float:left;width: 878px;color: #fff;height: 30px;/* margin-right: -15px; */padding-left: 31px;background-image: url(img/sprite.png);background-repeat: no-repeat;} 
		#menu_downloads_wrap div.download a.pdf:hover{background-position: -34px -410px;color: #324144;}
		#menu_downloads_wrap div.download a.pdf{background-position: -34px -370px;}
		#menu_downloads_wrap div.download a.jpg{background-position: -75px -370px;}
		#menu_downloads_wrap div.download a.jpg:hover{background-position: -75px -410px}
		#menu_downloads_wrap div.download a.avi{background-position: -82px -370px}
		#menu_downloads_wrap div.download a.zip{background-position: -82px -370px}
		#menu_downloads_wrap div.download a.link:hover{background-position: -688px -609px;color: #324144;}
		#menu_downloads_wrap div.download a.link{background-position: -688px -569px;}
		
		

#content{
	width:980px;
	height: 600px;
	overflow: hidden;
	position:absolute;
	z-index: 15;
}

#content_wrap{width:980px;height: 600px;overflow: hidden;position:absolute;z-index: 12;}

#loading{width:980px;height:596px;background:url(img/ajax-loader.gif) no-repeat center center;overflow: hidden;position:absolute;z-index: 0;}


 #continue_screen{width:980px;height:596px;overflow: hidden;position:absolute;z-index:200;display:none;background: url(img/bt_continuar.png) no-repeat;}
	#continue_screen H1{position:absolute;top: 100px;left: 50px;font-family: 'nunitobold';font-weight: 700;font-size: 55px;line-height: 35px;color: #1eadc4;text-align:right;}
	#btn_continue_course, #btn_continue_course2{position:absolute;top: 187px;left: 137px;width: 290px;height: 26px;font-family: 'OpenSans';font-weight: 400;font-size: 24px;line-height: 30px;color: #00afc6;text-align: left;padding: 6px;text-decoration: none;}
	#btn_continue_course:hover, #btn_continue_course2:hover{text-decoration: underline;color: #00afc6;}
	#btn_start_course {position:absolute;top: 292px;left: 137px;width: 250px;height: 26px;font-family: 'OpenSans';font-weight: 400;font-size: 24px;line-height: 30px;color: #00afc6;/* text-align:right; */padding: 6px;text-decoration: none;}
	#btn_start_course:hover{text-decoration: underline;color: #00afc6;}

 
#footer{height: 39px;width: 980px;position:absolute;z-index:80;bottom:0;display:none;}
	#navegacion_wrap{height:68px;width:100%;position:absolute;z-index:80;bottom:0;background-color: #000;zoom: 1;filter: alpha(opacity=55);opacity: 0.55;display:none;}
	#menu_wrap{height: 40px;width:100%;position:absolute;z-index:82;bottom:0;background-color: rgba(68, 68, 68, 0.31);}
	#menu_app{position:absolute;bottom: 2px;left: 150px;height: 38px;}
		#menu_app a{float: left;margin-top: 8px;margin-left: 12px;}
		#menu_main{display:block;float:left;width: 45px;height: 37px;background: url(img/sprite.png) no-repeat -83px -5px;/* border-right: 1px solid #dedcd9; */}
		#menu_main:hover{background-position: -153px -5px;}
		 

		#derechos{float: right;height: 36px;width: 385px;text-align: left;font-family: 'OpenSans';font-weight: 400;font-size: 12px;line-height: 40px;color: #6c6f70;}



	

	#menu_index{
		  background: url(img/sprite.png) no-repeat -12px -220px;
		  width: 33px;
		  height: 26px;
	}

	#menu_index:hover{
		background-position: -57px -220px;
	}

	#menu_download{
		 background: url(img/sprite.png) no-repeat -204px -220px;
		 width: 33px;
		 height: 26px;
		 left: 623px;
		 position: absolute;
	}

	#menu_download:hover{
		background-position: -243px -220px;
	}

	#menu_help{
		   background: url(img/sprite.png) no-repeat -105px -221px;
		   width: 34px;
		   height: 26px;
	}

	#menu_help:hover{
		  background-position: -149px -221px;
	}

	#menu_credits{	
		 background: url(img/sprite.png) no-repeat -178px -373px;
		  width: 70px;
		  padding-left: 40px;
	}

	#menu_credits:hover{
		background: url(img/sprite.png) no-repeat -178px -405px;
		width: 70px;
		padding-left:40px;
	}

	#menu_glosario{
		 background: url(img/sprite.png) no-repeat -383px -217px;
		 width: 20px;
		 height: 26px;
		 /* padding-left: 40px; */
		 left: 580px;
		 position: absolute;
	}

	#menu_glosario:hover{
		background: url(img/sprite.png) no-repeat -415px -217px;
		/* width: 80px; */
		/* padding-left:40px; */
	}
	#botonera_navegacion{position:absolute;bottom:0;left: 0;z-index:85;display:none;width: 980px;}	 
	.btn_navegacion_prev_activo{
    display: block;
    width: 155px;
    height: 40px;
    background: url(img/sprite.png) no-repeat -8px -15px;
    bottom: 0px;
    position: absolute;
    left: 0px;
    z-index: 100;
    }
	.btn_navegacion_prev_activo:hover{background-position: -8px -65px;}
	.btn_navegacion_prev_inactivo{display:block;float:left;width: 27px;height: 147px;background: url(img/sprite.png) no-repeat -75px -116px;cursor:default;margin-top: 15px;margin-right: 5px;}
	
	.btn_navegacion_next_activo{display:block;width: 155px;height: 40px;background: url(img/sprite.png) no-repeat -8px -113px;bottom: 0px;position: absolute;right: 0px;z-index: 100;}
	.btn_navegacion_next_activo:hover{background-position: -8px -163px;}
	.btn_navegacion_next_inactivo{display:block;float:left;width: 155px;height: 40px;background: url(img/sprite.png) no-repeat -8px -113px;bottom: 0px;position: absolute;right: 0px;z-index: 100;cursor: auto;}
	#botonera_navegacion div.counter{height: auto;width: 160px;text-align:center;font-family: 'nunitoregular';font-size: 16px;line-height: 20px;color: #fff;right: 409px;position: absolute;bottom: 6px;}
	
#menu_index_container,#menu_downloads_container,#menu_credits_container,#menu_glosario_container{width:980px;height: 556px;overflow: hidden;position:absolute;z-index:150;display:none;}
	.shadow{position:absolute;width:980px;height: 560px;background-color: #7c7c7b;zoom: 1;filter: alpha(opacity=60);opacity: 0.6;}
	
	#menu_index_wrap{position:absolute;left:0px;top: 597px;width: 940px;height: 279px;background-color: rgb(0, 175, 198);padding: 30px 0 0 40px;}
		#menu_index_wrap a.close{position:absolute;display:block;width: 30px;height: 28px;top: 11px;right:12px;background: url(img/sprite.png) no-repeat -218px -19px;}
		#menu_index_wrap a.close:hover{background-position: -218px -19px;}
		#menu_index_wrap h1{font-family: 'nunitobold';font-weight: 700;font-size: 25px;line-height: 27px;color: #fff;padding-bottom: 20px;}
		#menu_index_wrap > div.wrap_text_index{width: 890px;height: 209px;overflow:auto;margin: 5px 0 0;padding-right:20px;}
		#menu_index_wrap > div.wrap_text_index > ul > li {margin-top:10px;}
		#menu_index_wrap ul li {font-family: 'OpenSans'; font-weight: 700;font-size: 13px; line-height: 18px;} 
		#menu_index_wrap ul li.module{color: #fff;font: 15px/20px OpenSans;padding-bottom: 10px;}
		#menu_index_wrap ul li.menu_item{color: #a5dade;font-family: 'OpenSans';font-weight: 400;font-size: 14px;line-height: 20px;margin-left: 10px;padding-bottom: 2px;}
		#menu_index_wrap ul li.menu_item a{color: #ffffff;text-decoration: none;}
		#menu_index_wrap ul li.menu_item a:hover{color: #03505a;text-decoration:none;}
		#menu_index_wrap ul li ul{margin-bottom: 7px;}
		
		
	
	#menu_downloads_wrap{position:absolute;left: 0px;top: 1px;/* margin-top: -160px; *//* margin-left: -357px; */width: 918px;height: 530px;padding: 25px 22px 0px 40px;}
		#menu_downloads_wrap > div{width:100%;height: 365px;overflow:auto;overflow-x: hidden;}
		#menu_downloads_wrap h1{font-family: 'nunitobold';font-weight: 700;font-size: 25px;line-height: 27px;color: #ffffff;margin-bottom: 30px;}
		#menu_downloads_wrap a.close{position:absolute;display:block;width: 30px;height: 44px;top: 7px;right: 10px;background: url(img/sprite.png) no-repeat -218px -19px;}
		#menu_downloads_wrap a.close:hover{}

		#menu_downloads_wrap div.download{float:left;/* width: 860px; */height: auto;margin: 0px 20px 10px 0;} 
		#menu_downloads_wrap div.download a{float:left;width: 878px;color: #fff;height: 30px;/* margin-right: -15px; */padding-left: 31px;background-image: url(img/sprite.png);background-repeat: no-repeat;} 
		#menu_downloads_wrap div.download a.pdf:hover{background-position: -34px -410px;color: #324144;}
		#menu_downloads_wrap div.download a.pdf{background-position: -34px -370px;}
		#menu_downloads_wrap div.download a.jpg{background-position: -75px -370px;}
		#menu_downloads_wrap div.download a.jpg:hover{background-position: -75px -410px}
		#menu_downloads_wrap div.download a.avi{background-position: -82px -370px}
		#menu_downloads_wrap div.download a.zip{background-position: -82px -370px}
		#menu_downloads_wrap div.download a.link:hover{background-position: -688px -609px;color: #324144;}
		#menu_downloads_wrap div.download a.link{background-position: -688px -569px;}
		
/*		.link_download a{font-family: 'OpenSans';font-weight: 400;font-size: 15px;line-height: 22px;color: #323232;margin-top: 3px;}
*/		    .link_download {font-family: 'OpenSans';font-weight: 400;font-size: 15px;line-height: 22px;color: #fff;float:left;width: 878px;color: #fff;height: 30px;/* margin-right: -15px; */padding-left: 31px;background-image: url(img/sprite.png);background-repeat: no-repeat;} 

	.link_download:hover{background-position: -688px -609px;color: #324144;}
	.link_download {background-position: -688px -569px;}
	
	#menu_credits_wrap{position:absolute;left:50%;top:50%;margin-top:-130px;margin-left: -357px;width: 662px;height:273px;background: #fff;padding: 25px 22px 0 30px;}
		#menu_credits_wrap > div{width:100%;height:243px;overflow:auto;}
		#menu_credits_wrap h1{font: 35px/37px robotolight;color: #e76500;margin-bottom: 10px;}
		#menu_credits_wrap a.close{position:absolute;display:block;width: 30px;height: 25px;top:12px;right:12px;background: url(img/sprite.png) no-repeat -22px -60px;}		
		#menu_credits_wrap a.close:hover{background-position: -22px -88px;}
#menu_help_container, #menu_credits_container,#menu_glosario_container{width:980px;height:596px;overflow: hidden;position:absolute;z-index:150;display:none;background-color: #e9dbc3;}
		#menu_help_wrap{position:absolute;left: 41px;top: 30px;width: 32px;height: 30px;}
		#menu_help_wrap h1{font-family: 'nunitobold';font-size: 35px;line-height: 35px;color: #6d5c48;text-align: left;padding: 5px 0px 20px 0px;}
		#menu_help_wrap p{font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px; color: #323232;padding: 10px 0;}
		
		
		#content_help{position:absolute;background: #fff;padding: 10px; filter: alpha(opacity=80);opacity: 0.8;}
		#content_help p {font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px; color: #323232;padding: 5px 0;}
		
		#menu_help_wrap > div{width:100%;height:243px;overflow:auto;}
		#menu_help_wrap a.close{position: absolute;display: block;width: 30px;height: 35px;top: -4px;right: 0px;background: url(img/sprite.png) no-repeat -261px -17px;}		
		#menu_help_wrap a.close:hover{background-position: -261px -17px;}


#menu_glosario_wrap{position:absolute;left: 0px;top: 0px;width: 930px;height: 531px;/* background: #fff; */padding: 25px 22px 0 30px;}
		#menu_glosario_wrap h1{font-family: 'nunitobold';font-weight: 700;font-size: 25px;line-height: 27px;color: #ffffff;margin-bottom: 30px;}
		#menu_glosario_wrap a.close{position:absolute;display:block;width: 30px;height: 44px;top: 7px;right: 10px;background: url(img/sprite.png) no-repeat -218px -19px;}
		#menu_glosario_wrap a.close:hover{ }
		/* CSS glosario // */
	

	/*  FONDOS de colores  */
	#fnd{
	position: absolute;
    top: 0px;
    left: 0px;
    width: 980px;
    height: 596px;
	}


	/*-----------------FONDOS GENERICOS ------------------*/
	.fnd_test{
		background: url(img/bg_test.png) no-repeat;
	}

	
	.fnd_presentacion{
		background: url(img/bg_presentacion.png) no-repeat;
	}
	.fnd_portadaUnidad{
		background: url(img/bg_portadaUnidad.png) no-repeat;
	}

	.fnd_punto_de_partida{
		background: url(img/bg_punto_de_partida.png) no-repeat;
	}
	
	.fnd_actividad{
		background:  url(img/bg_actividad.png) no-repeat;
	}
	.fnd_resumen{
		background:  url(img/bg_resumen.png) no-repeat;
	}
	
	.fnd_objetivos{
		background:  url(img/bg_objetivos.png) no-repeat;
	}
	.fnd_despedida{
		background:  url(img/bg_despedida.png) no-repeat;
	}

	.fnd_esquemaContenidos{
		background:  url(img/bg_esquemaContenidos.png) no-repeat;
	}

	
	.fnd_azul{
		background-color: #1eadc4;
		 
	}
	
	.fnd_marron1{
		background-color: #735c45;
	}

	.fnd_marron2{
		background-color: #d1b494;
	}
	.fnd_neutro{
		background-color: #e9dbc3;
	}




	/*-----------------FONDOS PANTALLAS ------------------*/

.fnd_M1_P01{
		background: url(img/fnd_M1_P01.png) no-repeat;
	}
	.fnd_M1_P03{
		background: url(img/fnd_M1_P03.png) no-repeat;
	}
	.fnd_M1_P04{
		background: url(img/fnd_M1_P04.png) no-repeat;
	}
	.fnd_M1_P05{
		background: url(img/fnd_M1_P05.png) no-repeat;
	}

.fnd_M2_P01{
		background: url(img/fnd_M2_P01.png) no-repeat;
	}

	.fnd_M2_P02{
		background: url(img/fnd_M2_P02.png) no-repeat;
	}
	.fnd_M2_P03{
		background: url(img/fnd_M2_P03.png) no-repeat;
	}
	.fnd_M2_P04{
		background: url(img/fnd_M2_P04.png) no-repeat;
	}


.fnd_M3_P01{
		background: url(img/fnd_M3_P01.png) no-repeat;
	}	


	.fnd_M3_P02{
		background: url(img/fnd_M3_P02.png) no-repeat;
	}

	.fnd_M3_P03{
		background: url(img/fnd_M3_P03.png) no-repeat;
	}

	.fnd_M3_P04{
		background: url(img/fnd_M3_P04.png) no-repeat;
	}

	.fnd_M3_P05{
		background: url(img/fnd_M3_P05.png) no-repeat;
	}

.fnd_M4_P01{
		background: url(img/fnd_M4_P01.png) no-repeat;
	}
	.fnd_M4_P02{
		background: url(img/fnd_M4_P02.png) no-repeat;
	}
	.fnd_M4_P03{
		background: url(img/fnd_M4_P03.png) no-repeat;
	}

	.fnd_M4_P04{
		background: url(img/fnd_M4_P04.png) no-repeat;
	}


.fnd_M5_P01{
		background: url(img/fnd_M5_P01.png) no-repeat;
	}
	.fnd_M5_P02{
		background: url(img/fnd_M5_P02.png) no-repeat;
	}
	.fnd_M5_P03{
		background: url(img/fnd_M5_P03.png) no-repeat;
	}


	/*  -----------------------------  */
	#menu_glos{
		position:relative;
		top:15px;
		left: 0px;
		float:left;
		display:block;
	}
	#contenido_glos{
		position:relative;
		top:200px;
		width:690px;
		height:200px;

	}
	#content_words{
		/*position:relative;*/
		position:absolute;
		/*top:-20px;*/
		top:30px\0/;
		width: 910px;
		height: 280px;
		/*overflow:scroll;*/
		overflow: hidden;
	}
	
	
	#fondo_glos{
		position:absolute;
		top:-10px;
		top:20px\0/;
		width:660px;
		height:270px;
		
		/*opacity: .25;
	   -moz-opacity: .25;
	   filter:alpha(opacity=25);	*/
	}

	.termino{
		font-family: 'nunitobold';
		font-weight: 700;
		font-size: 19px;
		line-height: 20px;
		padding-bottom:10px;
		color: #ffffff;
	}


	.descripcion{
		font-family: 'OpenSans';
		font-weight: 400;
		font-size: 15px;
		line-height: 18px;
		padding-bottom:20px;
		color: #ffffff;
	}
	

	#menu_glos .listado_menu_glos{
		list-style: none;
		margin:0;
		padding:0;
		border:0;
		float:left;
	}

	#menu_glos .listado_menu_glos li{
		background: none;
	}

	#menu_glos .menu_glos{
		display:block;
		float: left;
		margin: 0 9px 0 2px;
		padding:0;
		border:0;
		font-family: 'nunitobold';
		font-weight: 700;
		font-size: 30px;
		line-height: 32px;
		color:#333;
		cursor: pointer;
	}

	/*#menu_glos .listado_menu_glos .menu_glos_activo:hover{
		color:#fff;
		background-color:#d18829;
	}*/


	#menu_glos .listado_menu_glos .menu_glos_activo{
		color:#fff;
		background-color: #137080;
	}

	#menu_glos .listado_menu_glos .letra_seleccionada{
		color:#fff;
		background-color: #137080;
	}

	#menu_glos .listado_menu_glos .letra_desactivada{
		color: #bbb7b3;
		cursor: default;
	}
		
		
		
		/* CSS MENU // */

	.main_menu_item{
		position:absolute;
		width: 243px;
		height: 596px;
		font-family: 'OpenSans'; 
		font-weight: 400;
		font-size: 23px; 
		line-height: 28px;
		text-align: left;
	}	

	.main_menu_item:hover{
		text-decoration:none;
	}
	
	
	.main_menu_item > img{
		position: relative;
		top: 0px;
		left: 0px;
		cursor: pointer;
	}
	
	.main_menu_item .imgItem{
		position: absolute;
		top: 0px;
		height: 596px;
		width: 243px;
		left: 0px;
	}
 

	 
	.main_menu_item_active{
		position:absolute;
		width: 225px;
		height: 127px;
		padding: 37px 0px 0px 20px;
		color: #000;
		
		font-family: 'OpenSans'; 
		font-weight: 400;
		font-size: 23px; 
		line-height: 28px;
		text-align: left;
	}
	.main_menu_item_active:hover{
		background-color: #fff !important;
		text-decoration:none;
	}
	
	
	
	
	.main_menu_item .textItem{
		position: absolute;
		top: 300px;
		left: 0px;
		width: 242px;
		height: 175px;
		background-color: rgba(255, 255, 255, 0.35);
	}
	
	.main_menu_item .titulo_curso{
		font-family: 'OpenSans';
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		color: #323232;
		width: 222px;
		padding: 10px;
		text-align: center;
	}
	
	.main_menu_item .item_status{
		position: absolute;
		bottom: 10px;
		font-family: 'OpenSans'; 
		font-weight: 400;
		font-size: 16px; 
		line-height: 26px;
		color: #fff;
		width: 202px;
		padding: 0 20px;
		text-align: center;
	}
	
	
	.main_menu_item .not_started{
		color: #323232;
	}
	
	.main_menu_item .incomplete{
		color: #7f1818;
	}
	
	.main_menu_item .complete{
		color: #323232;
		font-style: italic;
	}
	
	.main_menu_item .failed{
		color:#ff0000;
	}
	
	
	/****************************************************************/
	
	
	

/* CSS DE PANTALLAS // PAGES CSS*/



	.link {
		color: #e76500;
		text-decoration: underline;
		cursor: pointer;
		padding-left: 30px;
		background: url(img/sprite.png) no-repeat -82px -373px;
	}
	.info_box a {
		color: #1eadc4;
		text-decoration: underline;
		cursor: pointer;
		padding: 4px 0px 14px 23px;
		background: url(img/mas.png) no-repeat -2px 4px;
		font-size: 16px;
	}
	.info_box a:hover {
		color: #168a9d;
	}
	.info_box .link {
		color: #036eb6;
		text-decoration: underline;
		cursor: pointer;
		padding: 4px 0px 14px 20px;
		background: url(img/mas.png) no-repeat -4px 4px;
	}

	.info_box .link:hover {
		color: #97be0a;
	}

	.info_box, .info_boxTitBig {
		position: absolute;
		top: 40px;
		left: 40px;
		height: auto;
	}

	.info_boxRounded{
		width: 194px;
		/* height: 48px; */
		position: absolute;
		right: 0px;
		padding: 9px;
		top: 14px;
		border-radius: 67px 67px 67px 67px;
		-moz-border-radius: 67px 67px 67px 67px;
		-webkit-border-radius: 27px 27px 27px 27px;
		text-align: center;
	}
	/*  COLORES TEXTO de  INFOBOX  */
	.text_blanco{
		 color:#fff !important; 
	}
	.text_negro{
		color:#000 !important;
	}
	.gris{
		color: #7b7b7b !important;
	}
	.grisOscuro{
		color: #353535 !important;
	}
	.azul{
		color: #1eadc4 !important;
	}
	.azulOscuro{
		color: #168a9d !important;
	}	
	/* -------------------- */

	/*   TAMAÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¹Ã…â€œOs de INFOBOX_ */


	.maxi {
		width: 900px;
	}

	.grande {
		width: 800px;
	}

	.mediano0 {
		width: 290px;
	}

	.mediano1 {
		width: 400px;
	}
	
	.mediano2 {
		width: 550px;
	}

	.intermedio {
		width: 650px;
	}

	.mediano3 {
		width: 750px;
	}

	.pequeno {
		width: 250px;
	}

	.mini {
		width: 150px;
	}

	.esquema {
		padding: 14px 0px!important;
	}
	

	 
	/* -------------------- */

	.popup p{
		color: #fff;
		width: 463px;
		font: 15px/16px OpenSans;
	}

	.button >.popup h1 {
		color: #fff;
		margin-bottom: 2px;
		font: 25px/25px nunitoregular;
		text-shadow: 0px 2px 4px rgba(2, 0, 0, 0.22);
		padding:0px;
	}
	.popup{
		position: absolute;
		padding: 10px 25px 25px 15px;
		width: 92%;
		height: 100%;
		background-color: rgba(109, 92, 72, 0.80);
	}
	.popup ul{
		color: rgb(255, 255, 255);
		padding: 0px 0px 30px 20px;
		list-style: disc;
		width: 430px;
		font: 15px/18px OpenSans;
		font-weight: 400;
	}

	.button {
		position: absolute;
		width: 490px;
		height: 200px;
		overflow: hidden;
		cursor: pointer !important;
	}

	.button h2{
		color: #615a50;
		margin-bottom: 2px;
		font: 25px/25px nunitoregular;
		text-shadow: 0px 2px 4px rgba(2, 0, 0, 0.22);
		padding:20px;
	}


	.imagen_button{
		width: 50px;
		height: 50px;
		right: 10px;
		top: 10px;
		position: absolute;
		background-image: url('img/sprite.png');
		background-position: -25px -266px;
	}






	#background {
		width: 980px; 
		height:596px;
		position:absolute;
	}
	#container_page #instruction {
		font-family: 'OpenSans'; 
		font-weight: 400;
		font-size: 14px; 
		line-height: 21px;
		color: #323232;
	}

	.instruction{
		padding: 4px 0px 4px 0px;
		/* background: url(img/mas.png) no-repeat -4px 4px; */
		color:#222220;
		font-family: 'OpenSans'; 
		font-weight: 300 italic;
		font-size: 14px; 
		line-height: 15px;
	}
	.info_boxTitBig h1{
		font-family: 'nunitobold';
		font-size: 55px;
		line-height: 1.2;
		color: #1eadc4;
		text-align: left;
		padding: 5px 0px 20px 0px;
		text-shadow: 0px 2px 4px rgba(7, 0, 0, 0.22);
	}
	
	.info_boxTitBig h2  {
		font-family: 'nunitobold';
		font-size: 56px;
		line-height: 1.2;
		color: #ffffff;
		padding: 5px 0px;
		text-align: left;
		text-shadow: 0px 2px 4px rgba(7, 0, 0, 0.22);
	}
	

	.info_box h1, .info_boxRounded h1  {
		font-family: 'nunitobold';
		font-size: 35px;
		line-height: 35px;
		color: #6d5c48;
		text-align: left;
		padding: 5px 0px 20px 0px;
	}
	
	.info_box h2, .info_boxRounded h2  {
		font-family: 'nunitobold';
		font-size: 26px;
		line-height: 1.2;
		color: #00afc6;
		padding: 5px 0px;
		text-align: left;
	}
	.info_box h3, .info_boxRounded h3  {
		font-family: 'nunitobold';
		font-size: 33px;
		line-height: 1.2;
		color: #fff;
		text-align: left;
		padding: 5px 0px;
		text-shadow: 0px 2px 4px rgba(7, 0, 0, 0.22);
	}

		.info_box h5, .info_boxRounded h5  {
		font-family: 'nunitobold';
		font-size: 22px;
		line-height: 1.1;
		color: #00afc6;
		text-align: left;
		padding: 5px 0px;
		/*text-shadow: 0px 2px 4px rgba(7, 0, 0, 0.22);*/
	}
	
	
	.info_box p, .info_boxRounded p{
		font-family: 'OpenSans';
		font-size: 16px;
		line-height: 19px;
		color: #383838;
		padding: 5px 0px;
	}

	.info_box ul, .info_boxRounded ul {
		font-family: 'OpenSans';
		font-size: 16px;
		line-height: 20px;
		color: #383838;
		margin-left: 30px;
		padding: 5px 0;
		list-style-image: url('img/bullet_summary.png');
	}
	.info_box ol, .info_boxRounded ol {
	 list-style: decimal;
	 font-family: 'OpenSans';
	 font-size: 16px;
	 line-height: 20px;
	 color: #383838;
	 margin-left: 30px;
	 padding: 5px 0;
	}

	#container_page {
		width:980px;
		height:596px;
		overflow: hidden;
		position:absolute;
		background-color: #e9dbc3;
}


	#container_page .subpage .link {
		color: #d62068;
		text-decoration: underline;
		cursor: pointer;
	}

	#container_page .subpage ol{
		list-style: decimal;
	}



	#container_page .enlaceBlackPDF, #container_page .subpage .enlaceBlackPDF{
		font-family: 'OpenSans'; 
		font-weight: 400;
		font-size: 17px; 
		line-height: 21px;
		color: #009893;
		text-align: center;
		text-decoration: none;
	}

	#container_page .enlaceBlackPDF > div, #container_page .subpage .enlaceBlackPDF > div{
		position: absolute;
		padding: 10px 10px;
		background-color: #a4ac49;
		cursor: pointer;
		z-index: 2;
	} 

	#container_page .enlaceBlackPDF > div:hover, #container_page .subpage .enlaceBlackPDF > div:hover{
		background-color: #f4aa00;
		padding: 10px 10px;
		
	} 

	.cartelIndicacion{
		background: url(img/sprite.png) no-repeat -597px 0px;
		width: 117px;
		height: 183px;
		position: absolute;
		left: 820px;
		z-index: 10;
	}
	.cartelIndicacion p{
		font-family: 'nunitobold';
		font-size: 14px;
		line-height: 1.1;
		text-align:center;
		width: 95px;
		padding: 93px 0px 0px 12px;
	}

	.cartelAlerta{
		background: url(img/sprite.png) no-repeat -666px -676px #fff;
		width: 420px;
		height: 60px;
		position: absolute;
		padding: 10px;
		z-index: 100;
		box-shadow: 0px 2px 3px 0px rgba(7, 0, 0, 0.26);
		-webkit-box-shadow: 0px 2px 3px 0px rgba(7, 0, 0, 0.26);
		-moz-box-shadow: 0px 2px 3px 0px rgba(7, 0, 0, 0.26);
	}
	.cartelAlerta p{
		font-family: 'OpenSans';
		font-size: 17px;
		line-height: 1.1;
		text-align: left;
		padding: 14px;
		color: #353535;
		padding-left: 54px;
	}

	.flechazul01{
		background: url(img/flecha02_abajo.png) no-repeat;
		width: 25px;
		height: 15px;
		position: absolute;
	}
	
	
	.flecha01{
		background: url(img/flecha01.png) no-repeat;
		width: 25px;
		height: 37px;
		position: absolute;
		top: 51px;
	}
	.flecha02{
		background: url(img/flecha02.png) no-repeat ;
		width: 25px;
		height: 15px;
		position: absolute;
	}

	.flecha02_derecha{
		background: url(img/flecha02_derecha.png) no-repeat ;
		width: 15px;
		height: 25px;
		position: absolute;
	}

/**********************************BUTTONS********************************/
	
	.link_subpage {
		position: absolute;
		padding: 20px 40px 20px 20px;
		background: #00afc6;
		cursor: pointer;
		z-index: 2;
		width: 250px;
	}

	.link_subpage p, .subpage p{
		font-family: 'OpenSans';
		font-weight: 400;
		font-size: 16px;
		line-height: 18px;
		color:#fff;
		text-align: left;
		text-decoration: none;
	}
	.link_subpage_wrap_link{
		width: 60px;
		height: 50px;
		position: absolute;
		right: 0px;
		top: 14px;
	}
	.link_masInfo{
		background: url(img/sprite.png) -15px -266px;
		width: 68px;
		height: 16px;
		position: absolute;
		cursor: pointer;
		font-family: 'OpenSans';
		font-size: 14px;
		line-height: 1.1;
		text-align: center;
		padding-top: 54px;
		color: #000;
		margin: 10px;
	}
	.link_masInfo:hover{
		background-position: -96px -266px;
	}
	/*.link_masInfo:before {
  		content: "MÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡s Info";
  		padding-top: 175px;
  	}*/
	.link_verMas{
		background: url(img/sprite.png) -178px -266px;
		width: 68px;
		height: 16px;
		position: absolute;
		cursor: pointer;
		font-family: 'OpenSans';
		font-size: 14px;
		line-height: 1.1;
		text-align: center;
		padding-top: 54px;
		color: #000;
		margin: 10px;
	}
	.link_verMas:hover{
		background-position: -259px -266px;
	}

	.button:hover > .link_verMas{
		background-position: -259px -266px
		
	}

	.button:hover > .link_masInfo{
		background-position: -258px -266px;
	}

	.button:hover > .link_enlace{
		background-position: -258px -266px;
	}

	.button:hover > .imagen_button{
		background-position: -104px -266px;
	}



	/*.link_verMas:before {
  		content: "Ver MÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡s";
  		padding-top: 175px;
  	}*/
	.link_enlace{
		background: url(img/sprite.png) -591px -203px;
		width: 210px;
		height: 54px;
		position: absolute;
		cursor: pointer;
		font-family: 'OpenSans';
		font-size: 14px;
		line-height: 1.1;
		text-align: center;
		/* padding-top: 54px; */
		color: #000;
		margin: 10px;
	}
	.link_enlace:hover, .link_enlace:hover p {
		background-position: -591px -265px;
		color: #178a9d;
	}


	.link_enlace p{
		width: 280px;
		/* padding-left:20px; */
		padding-top: 15px;
		color: #1eadc4;
		font-family: OpenSansSemibold;
	}
	/*.link_enlace:before {
  		content: "Enlace";
  		padding-top: 175px;
  	}*/
	.link_btSaber{
		background: url(img/sprite.png) -16px -470px;
		width: 198px;
		height: 38px;
		position: absolute;
		right: 0px;
		top: 14px;
		cursor: pointer;
		padding-left: 30px;
	}
	.link_btSaber:before {
  		 
  		padding-left: 55px;
  	}
  	.link_btSaber:hover:before {
		color: #00afc6 !important;
	}

	.link_btSaber:hover{
		background-position: -16px -529px;
		color: #178a9d;
	}
	.gris{
		background-color: #7b7b7b;
	}
	.gris:hover{
		background-color: #353535;
	}
	.azul{
		background-color: #1eadc4;
	}
	.azul:hover{
		background-color: #168a9d;
	}	
	
	.link_secundario{
		width: 250px;
		height: 48px;
		position: absolute;
		right: 0px;
		top: 14px;
		cursor: pointer;
		border-radius: 67px 67px 67px 67px;
		-moz-border-radius: 67px 67px 67px 67px;
		-webkit-border-radius: 67px 67px 67px 67px;
	}

		 
	
	 .link_secundario p{
		font-family: 'nunitobold';
		font-size: 18px;
		line-height: 1.1;
		text-align: center;
		padding-top: 14px;
		color: #ffffff;
	}
	
	.link_btSaber p{
		font-family: 'nunitobold';
		font-size: 18px;
		line-height: 1.1;
		text-align: center;
		padding-top: 14px;
		color: #1eadc4;
	}
	

	.subpage {
		position: absolute;
		padding: 20px 40px 20px 20px;
		background: #d1b494;
		cursor: pointer;
		z-index: 2;
		width: 250px;
		display: none;
	}

	.subpage_wrap_link{
		background: url(img/sprite.png) -24px -402px;
		width: 60px;
		height: 50px;
		position: absolute;
		right: 0px;
		top: 14px;
	}


	.link_subpage_img {
		position: absolute;
		width: auto;
		height: auto;
		cursor: pointer;
		text-decoration: none;
	}

	.link_subpage_img p{
		font-family: 'OpenSans'; 
		font-weight: 400;
		font-size: 17px; 
		line-height: 21px;
		color: #009893;
		text-align: center;
		text-decoration: none;
		position: absolute;
		top: 135px;
		left: 30px;
	}

	.link_subpage_img:hover{
		text-decoration: none;
	}


	
	.active{
		/* background-color: #95C11F; */
	}
	
	

/**********************************Pop Ups********************************/
 .subpagePopUp{
		width:980px;
		height:596px;
		overflow: hidden;
		position:absolute;
		z-index: 10;
		display:none;
	}
 
	.subpagePopUp .text{
		background-color: #fff;
		z-index: 5;
		position: absolute;
		padding: inherit;
		bottom: 40px;
		width: 880px;
		height: auto;
		padding: 50px;
	}


 
	
	.subpagePopUp .text p{
		font-family: 'OpenSans';
		font-size: 16px;
		line-height: 19px;
		color: #383838;
		padding-bottom: 9px;
	}
	.subpagePopUp .text h1{
		color: #00afc6;
		font-size: 30px;
		line-height: 1.2;
		padding-bottom: 15px;
	}

	.subpagePopUp .text  a {
		color: #1eadc4;
		text-decoration: underline;
		cursor: pointer;
		padding: 4px 0px 14px 23px;
		background: url(img/mas.png) no-repeat -2px 4px;
	}
	.subpagePopUp .text  a:hover {
		color: #168a9d;
	}

.btn_back{
		display:block;
		position:absolute;
		right: 10px;
		top: 10px;
		width:25px;
		height:28px;
		background: url(img/sprite.png) no-repeat -261px -17px;
	}

	.subpagePopUp .text h2{
		color: #6d5c48;
		font-size: 20px;
		line-height: 1.2;
		padding-bottom: 15px;
		font-family: 'OpenSanssemibold';
	}
	#container_web .subpagePopUp .text ul{
		 margin-left: 30px;
		 font-family: 'OpenSans';
		 font-weight: 400;
		 font-size: 16px;
		 line-height: 19px;
		 color: #383838;
		 padding: 5px 0;
		 list-style-image: url('img/bullet_summary.png');
	}


	#container_web .subpagePopUp .text ol{
		margin-left: 30px;
		font-family: 'OpenSans'; 
		font-weight: 400;
		font-size: 15px; 
		line-height: 18px; 
		color: #000;
		 padding: 5px 0;
		list-style: decimal;
	}
	.btn_back{
		display:block;
		position:absolute;
		right: 10px;
		top: 10px;
		width:25px;
		height:28px;
		background: url(img/sprite.png) no-repeat -261px -17px!important;
		padding: 0px!important;
		text-decoration: none!important;
	}

 
	
 
	
 
	
	#container_web  .subpage .headline_popup, .content_popup{
		display: block;
		clear: both;
	}
	
	#container_web .subpage .headline_popup h1, #container_web .subpage h1{
		font-family: 'OpenSans'; 
		font-weight: 400;
		font-size: 24px; 
		line-height: 21px;
		color: #009893;
		display: inline;
		position: relative;
	}
	#container_web .subpage .text ul{
		 margin-left: 30px;
		 font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px; 
		 color: #000;
		 padding: 5px 0;
		 list-style-image: url('img/bullet_summary.png');
	}


	#container_web .subpage .text ol{
		margin-left: 30px;
		font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px; 
		color: #000;
		 padding: 5px 0;
		list-style: decimal;
	}

	#container_web .subpage .btn_back{
		display:block;
		position:absolute;
		right: 0px;
		top: 0px;
		width:25px;
		height:28px;
		background: url(img/sprite.png) no-repeat -22px -87px;
	}

#container_web .subpage .btn_back:hover{
	
background-position: -22px -57px;
	}


/**********************************Dinamic table********************************/

	#container_web  .subpage_dinamic{
		position:absolute;
	}
	
	
	#container_web .subpage_dinamic .text{
	    /* background-color: #fff; */
	    padding: 16px 0px;
	    width: 500px;
	    overflow: hidden;
	    position: absolute;
	    z-index: 5;
	    left: 1020px;
	    /* height: 162px; */
	}


	 
	.subpage_dinamic .text p{
		padding: 5px 0 0;
	}
	
	.subpage_dinamic .text .content_dinamic{
		padding: 25px 5px 15px 25px;
		background-color: rgba(255, 255, 255, 0.77);
		width: auto;
		/* left: -30px; */
		margin-top: 0px;
	}

	
	
	#container_web .subpage_dinamic .content_dinamic > p, #container_web .subpage_dinamic  p{
		font-family: 'OpenSans';
		font-weight: 400;
		font-size: 16px;
		line-height: 18px;
		padding: 0px 15px 10px 5px;
		color: #565656;
		z-index: 1;
	}
	
	#container_web  .subpage_dinamic .headline_dinamic, .content_dinamic{
		display: block;
		clear: both;
	}
	
	#container_web .subpage_dinamic .headline_dinamic h1, #container_web .subpage_dinamic h1{
		font-family: 'OpenSans'; 
		font-weight: 400;
		font-size: 19px; 
		line-height: 21px;
		color: #009893;
		display: inline;
		position: relative;
	}
	#container_web .subpage_dinamic .text ul{
		 margin-left: 30px;
		 font-family: 'OpenSans';
		 font-weight: 400;
		 font-size: 15px;
		 line-height: 18px;
		 color: #565656;
		 padding: 5px 0;
		 list-style-image: url('img/bullet_summary.png');
	}


	#container_web .subpage_dinamic .text ol{
		margin-left: 30px;
		font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px; 
		color: #000;
		 padding: 5px 0;
		list-style: decimal;
	}

/*********************************MODAL****************/
	#container_page .subpage_modal {
		position: absolute;
		left: 0px;
		top: 0px;
		background-color: #F2F7E6;
		display:none;
		width: 100%;
		height: 560px;
		display: none;
		z-index: 150;
}
	#container_page .subpage_modal .background_modal{
		position: absolute;
		left: 980px;
		top: 0px;
		width: 500px;

		height: 585px;
		background-color: #000;
		
	
		/* z-index: 92; */
}
	
	#container_page .subpage_modal .text{
		left: 0px;
		top: 0px;
		width: 425px;
		height: 429px;
		padding: 26px 32px 0;
		opacity: 1.0;
		filter: alpha(opacity=100);
		filter: none;
		font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px; 
		color: #fff;
	}

	.text_1{
font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px;
float: right;
position: absolute;
width: 265px;
top: 270px;
height: 150px;
padding-top: 30px;
padding-right: 5px;
}

	.text_1 h1{
		font-family: 'OpenSans'; 
		font-weight: 400;
		font-size: 18px; 
		line-height: 18px;
		color: #009893;
		display: inline;
		position: relative;
	}

	.text_1 ul{
		list-style-type:disc;
		margin-left:40px;
		font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px;
		color: #323232;
		padding: 5px 0;
	}	
	
	
	#container_page .subpage_modal .text p{
		padding: 10px 0 0;
		font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px; 
		color: #323232;
		line-height: 110%;
	}
	
	#container_page .subpage_modal .text h1{
		font-family: 'OpenSans';
		font-weight: 400;
		font-size: 26px;
		line-height: 29px;
		color: #009893;
		display: inline;
		position: relative;
	}

	#container_page .subpage_modal .text .content_modal{
		position: absolute;
		width: 85%;
		top: 130px;
		left:-500px;
	}

	#container_page .subpage_modal .text ul{
		list-style-type:disc;
		margin-left:40px;
		font-family: 'OpenSans'; 
		font-weight: 400;
		font-size: 15px; 
		line-height: 16px;
		color: #000;
		padding: 5px 0;
	}	
	
	#container_page .subpage_modal .text li{
		 padding: 4px 0;
	}
	
	
	#container_page .subpage_modal .text  .back_button{
		position: absolute;
		bottom: 20px;
		right: 20px;
		width: 87px;
		height: 33px;
		background: url(img/sprite.png) no-repeat -87px -133px #ECF1E0;
		cursor: pointer;
	}

	#container_page .subpage_modal .text  .back_button:hover{
		background-position: -87px -166px;
	}
	
	#container_page .subpage_modal .text  .back_button > p{
		font-family: 'OpenSans'; 
		font-weight: 400;
		font-size: 16px; 
		line-height: 18px;
		color: #009893;
		padding: 8px 36px;
	}
	
	#container_page .subpage_modal .text .back_button > p:hover{
		color: #009893;
	}
	

	
	#container_page .subpage_modal .text .highlighted{
		font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px; 
		 color: #323232;
		 text-align: center;
	}


	/**************** GALLERY *************************/
	#gallery {
		width: 980px;
		height: 472px;
		position : absolute;
		overflow : hidden;
		top: 83px;
		/* left: 0px; */
	}
	 
	 .gallery_item ul{
		width: 410px;
		margin-left: 30px;
		font-family: 'OpenSans';
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #383838;
		padding: 5px 60px;
		list-style-image: url('img/bullet_summary.png');
	}
	 .gallery_item .link {
		color: #009893;
		text-decoration: underline;
		cursor: pointer;
		padding: 4px 0px 14px 20px;
		background: url(img/mas.png) no-repeat -4px 4px;
	}


	.gallery_item .link:hover {
			color: #3DA6EC;
	}
		
	.gallery_item {
		width: 980px;
		height: 472px;
	}

	 .gallery_item a{
		left: 50px;
		position: absolute;
		color: #1eadc4;
		text-decoration: underline;
		cursor: pointer;
		padding: 4px 0px 14px 23px;
		background: url(img/mas.png) no-repeat -2px 4px;
		font-size: 16px;
	}

	 

	.gallery_item h1  {
		font-family: 'nunitobold';
		font-size: 35px;
		line-height: 1.2;
		color: #6d5c48;
		text-align: left;
		padding: 5px 0px 20px 0px;
		left: 40px;
		position: relative;
		/* top: 90px; */
		width: 380px;
	}
	
	.gallery_item h2  {
		font-family: 'nunitobold';
		font-size: 20px;
		line-height: 1.2;
		color: #00afc6;
		padding: 5px 0px;
		text-align: left;
		left: 40px;
		position: relative;
		width: 380px;
	}
	.gallery_item h3  {
		font-family: 'nunitobold';
		font-size: 33px;
		line-height: 1.2;
		color: #fff;
		text-align: left;
		padding: 5px 0px;
		text-shadow: 0px 2px 4px rgba(7, 0, 0, 0.22);
		left: 40px;
		position: relative;
		padding-top: 10px;
		width: 380px;
	}
	
	.gallery_item p{
		font-family: OpenSans;
		font-size: 16px;
		line-height: 21px;
		color: #383838;
		padding: 5px 0px;
		width: 410px;
		left: 40px;
		position: relative;
		padding-top: 60px;
	}
	
	.gallery_prev {
		width: 81px;
		height: 29px;
		position : absolute;
		
		top: 0px;
		cursor : pointer;
		left: 447px;
		
		background: url(img/arrowup_gallery.png) no-repeat 0 0;
	}
		
	.gallery_next {
		width: 81px;
		height: 29px;
		position : absolute;
		top: 445px;
		cursor : pointer;
		right: 462px;
		background: url(img/arrowdown_gallery.png) no-repeat 0 0;
	}
		
	#gallery_container{
		position : relative;
		height: 395px;
		top: 34px;
	}
	.video_infobox {
		position: absolute;
		left: 127px;
		top: 116px;
		-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
	}		
	/*********Embedded video in Popup*********/
	#video_box {
		position: relative;
		top: 27%;
		width: 684px;
		height: 384px;
		display: none;
		z-index: 10;
		margin: 0 auto;
		-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
	}
	#container_web  .subpage_video{
		width:980px;
		height:596px;
		overflow: hidden;
		position:absolute;
		z-index:5;
		display:none;
	}
	
	#container_web .subpage_video .back_sub{
		width:980px;
		height:596px;
		overflow: hidden;
		position:absolute;
		background-color: #666565;
		filter: alpha(opacity=50);
		opacity: 0.5;
	}
	
	#container_web .subpage_video .text{
		background-color: #fff;
		position: relative;
		padding: 26px 32px 0;
		height: 400px;
		filter: alpha(opacity=0);
		opacity: 0;
		margin: 0 auto;
		top:18%;
		width: 80%;
		-webkit-box-shadow: 5px 8px 26px 0px rgba(0,0,0,0.44);
		-moz-box-shadow: 5px 8px 26px 0px rgba(0,0,0,0.44);
		box-shadow: 5px 8px 26px 0px rgba(0,0,0,0.44);
	}


	.subpage_video .text{
		height: auto;
		padding: 26px 32px 0;
	}
	
	.subpage_video .text p{
		padding: 10px 0 0;
	}
	
	.subpage_video .text .content_video{
		padding: 15px 0 25px;
	}

	
	
	#container_web .subpage_video .content_video > p, #container_web .subpage_video  p{
		font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px; 
		color: #343434;
	}
	
	#container_web  .subpage_video .headline_popup, .content_video{
		display: block;
		clear: both;
	}
	
	#container_web .subpage_video .headline_popup h1, #container_web .subpage_video h1{
		font-family: 'OpenSans'; 
		font-weight: 400;
		font-size: 20px; 
		line-height: 21px;
		color: #009893;
		display: inline;
		position: relative;
	}
	#container_web .subpage_video .text ul{
		 margin-left: 30px;
		 font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px; 
		 color: #323232;
		 padding: 5px 0;
		 list-style-image: url('img/bullet_summary.png');
	}


	#container_web .subpage_video .text ol{
		margin-left: 30px;
		font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px; 
		color: #323232;
		 padding: 5px 0;
		 list-style: decimal;
	}

	#container_web .subpage_video .btn_back{
		display:block;
		position:absolute;
		right:10px;
		top:10px;
		width:25px;
		height:28px;
		background: url(img/sprite.png) no-repeat -22px -87px;
	}
	#container_web .subpage_video .btn_back:hover{

		background-position: -22px -56px;
	}

	

	/*****************Selecction***************/

	#test_box{
		position:absolute;
		background-color: #fff;
		width: 900px;
		top: 140px;
		left: 0px;
	}
	
	#test_box .questions{
		position:absolute;
		top:140px;
		left:-742px;
		width:600px;
	}
	#test_box .questions{
		position:absolute;
		top: 40px;
		left: 8px;
		width: 940px;
	}
	#test_box .questions p{
		font-family: 'OpenSans';
		font-weight: 400;
		font-size: 15px;
		line-height: 16px;
		color: #323232;
		padding: 0px 0px 3px 0px;

	}



	#test_box .test_intro{
		position:absolute;
		top:70px;
		left:-745px; 
		font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px;  
		color: #00c6d7;
		width:400px;
	}

	.test_multi{
		position:absolute;
		top: -30px;
	}
	/*****************Simple Selecction ***************/
	ul.test_simple li {
		height:29px;
		/* margin-bottom:8px; */
		/* padding-bottom: 50px; */
	}
	
	ul.test_simple li p{
		display:block;
		float:left;
		width: 804px;
		height: auto;
		font-family: 'OpenSans';
		font-weight: 400;
		font-size: 15px;
		line-height: 18px;
		color: #323232;
	}
	
	ul.test_simple li a{
		display:block;
		/*	float:left;*/
		width:805px;
		height:28px;
		background: url(img/back_btn_test_opt.png) no-repeat 0px 0px;
		margin-right:5px;
		margin: 9px 50px 31px 50px;
	} 
	
	
	ul.test_simple li a:hover{text-decoration:none;} 
	ul.test_simple li a.inactive{background-position: 0 -66px;}
	ul.test_simple li a.active{background-position: 0 -98px;}
	ul.test_simple li a.active p{border: 2px solid #00afc6;}
	ul.test_simple li a.correct{background-position: 0 -3px;}
	ul.test_simple li a.incorrect{background-position: 0 -34px;}
	

	/*****************Multi Selecction ***************/
	ul.test_multi li {
		height:29px;
		margin-bottom:8px;
		padding-bottom: 28px;
	}
	
	ul.test_multi li p{
		display:block;
		float:left;
		width: 820px;
		font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px;
		color: #323232;
	}
	
	ul.test_multi li a{
		display:block;
		/*	float:left;*/
		width:805px;
		height:28px;
		font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px;
		color: #000;
		background: url(img/back_btn_test_multi_opt.png) no-repeat 0px 0px;
		margin-right:5px;
		margin: 12px 50px 20px 50px;
	} 
	
	
	ul.test_multi li a:hover{text-decoration:none;} 
	ul.test_multi li a.inactive{background-position: 0 -66px;}
	ul.test_multi li a.active{background-position: 0 -98px;}
	ul.test_multi li a.correct{background-position: 0 -3px;}
	ul.test_multi li a.incorrect{background-position: 0 -34px;}
	


	/*****************True/false Selecction ***************/
	
	
	#test_box .t_question{
		width: 125px;
		height: 25px;
		float: left;
		margin: 0px 0px 0px 12px;
		/* background-color: #dedcd9; */
		color: #323232;
		text-align:center;
		padding: 5px 0 0 0;
		font-family: 'OpenSans'; 
		font-weight: 400;
		font-size: 16px; 
		line-height: 18px;
	}
	


	ul.test_TF li {
		height:29px;
		margin-bottom:8px;
	}
	
	ul.test_TF li p{
		display:block;
		float: left;
		width:515px;
		font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px; 
		color: #323232;
	}
	
	ul.test_TF li a{
		display:block;
		float:left;
		width:30px;
		height:28px;
		font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px; 
		color: #000;
		text-align:center;
		margin-right:5px;
		margin: 0px 50px 0px 50px;
		background: url(img/back_btn_test_opt.png) no-repeat 0px 0px;
	} 

	
	ul.test_TF li a:hover{text-decoration:none;} 
	ul.test_TF li a.inactive{background-position: 0 -66px;}
	ul.test_TF li a.active{background-position: 0 -97px;}
	ul.test_TF li a.correct{background-position: 0 -3px;}
	ul.test_TF li a.incorrect{background-position: 0 -34px;}


/**********************/	
	a#test_confirm{
		display: block;
		position: absolute;
		top: 455px;
		text-decoration: none;
		left: 686px;
		width: 170px;
		height: 38px;
		font-family: 'nunitobold';
		font-size: 18px;
		line-height: 1.1;
		text-align: center;
		padding-top: 14px;
		color: #fff;
		cursor:pointer;
		z-index:1;
		background-color: #1eadc4;
		border-radius: 67px 67px 67px 67px;
		-moz-border-radius: 67px 67px 67px 67px;
		-webkit-border-radius: 67px 67px 67px 67px;
	}
	a#test_confirm:before {
  		content: "Comprobar";
  		padding-left: 10px;

  	}


	a#test_confirm:hover{background-color: #168a9d;}
	a#test_confirm.inactive{cursor:default;}
	a#test_confirm.inactive:hover{background-color: #168a9d;}
	a#test_confirm.active{cursor:pointer;}

	a#test_repetir{
		position: absolute;
		top: 485px;
		left: 686px;
		width: 230px;
		height: 38px;
		font-family: 'nunitobold';
		font-size: 18px;
		line-height: 1.1;
		text-align: center;
		padding-top: 14px;    
		color: #fff;
		cursor:pointer;
		z-index:1;
		background-color: #1eadc4;
		border-radius: 67px 67px 67px 67px;
		-moz-border-radius: 67px 67px 67px 67px;
		-webkit-border-radius: 67px 67px 67px 67px;
	}

	a#test_repetir:before {
  		content: "Repetir";
  		padding-left: 55px;
  	}	
	a#test_repetir:hover{background-color: #168a9d;}
	a#test_repetir.inactive{cursor:default;}
	a#test_repetir.inactive:hover{background-position: -52px -287px}
	a#test_repetir.active{cursor:pointer;}
	
/*	#back_question{
		position: absolute;
		top: 149px;
		left: 0px;
		width: 1020px;
		height: 320px;
		background-color:#ECF8CE;
		filter: alpha(opacity=70);
		opacity: 0.7;
	}
*/


	/******************FEEDBACK ******************/
	.text_azul{
		background-color: #1eadc4;
	}
	.text_gris{
		background-color: #5c5c5c;
	}
	#container_web  .result_box{
		width:980px;
		height:596px;
		overflow: hidden;
		position:absolute;
		z-index:5;
		display:none;
		top: 0px;
	}
	
	#container_web .result_box .back_sub{
		width:980px;
		height:596px;
		overflow: hidden;
		position:absolute;
		background-color: #666565;
		filter: alpha(opacity=50);
		opacity: 0.5;
	}
	
	#container_web .result_box .text{
		z-index: 5;
		position: absolute;
		padding: inherit;
		bottom: 40px;
		width: 880px;
		height: auto;
		padding: 16px 50px 60px 50px;
		background-color: #fff;
	}
	

	.result_box_ko{
		background-color: #5c5c5c!important;
		padding: 46px 32px 30px;
		height: auto;
		/*background-image: url(img/sprite.png) no-repeat -25px -729px;*/
		background: url(img/feedback_KO.png) no-repeat 191px 31px;
		z-index: 100;
	}
	.result_box_ok{
		padding: 46px 32px 30px;
		height: auto;
		background-color: #1eadc4 !important;
		background: url(img/feedback_OK.png) no-repeat 161px 61px;
	}
	#container_web  .result_box .text .result_box_med{
		background-color: #a5dade;
		padding: 46px 32px 30px;
		height: auto;

	}
	#container_web  .result_box .text p{
		    font-family: 'OpenSans';
		    font-size: 16px;
		    line-height: 19px;
		    color: #ffffff;
		    padding-bottom: 9px;
		    padding-left: 40px;
		    text-align: center;
		    padding-top: 20px;
	}
	#container_web  .result_box .text h1{
		font-family: 'OpenSans';
		color: #fff;
		font-size: 31px;
		line-height: 1.2;
		padding-top: 23px;
		text-align: center;
	}
	#container_web .result_box a.close{
		    display: block;
		    position: absolute;
		    right: 10px;
		    top: 10px;
		    width: 25px;
		    height: 28px;
		    background: url(img/sprite.png) no-repeat -223px -17px;
	}
/*	#container_web  .result_box a.close:hover{
		background-position: 38px -58px;
	}*/
	
	/*********************************/
	
	.questions p, .questions a p  {
		font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px; 
		color: #323232;
		margin: 0px 35px;
	}
	
	.questions p  {
		font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px; 
	}
	
	.result_box ul{
		list-style-type:disc;
		margin: 15px;
	}
	
	.result_box li{
		padding: 3px 0px;
	}


	/***************Imagen selecction **********/
	.sub_button{
		position: absolute;
		height: 238px;
		width: 182px;
		z-index: 4;
		
		background-color: #FFF;
		zoom: 1; filter: alpha(opacity=0); opacity: 0;
	}
	
	.fnd_name{
		z-index: 3;
	}
	
	
	.link_img_subpage{
		position: absolute;
		height: 238px;
		width: 182px;
		box-shadow: 0px 0px 5px #666666;
	}
	
	.link_img_subpage_name{
		position: absolute;
		height: 24px;
		width: 181px;
		top: 203px;
		background-color: #FFF;	
		padding-top: 9px;
		border: 1px solid #11abbd;		
		text-align: center;
		font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px; 
		color: #323232;	
	}

/***************** Drop-Down Boxes ************/

	.form span.customSelect {
		font-family: 'OpenSans';
		font-weight: 400;
		font-size: 15px;
		line-height: 18px;
		background-color: #fff;
		padding-left:10px;
		border: 2px solid #1eadc4;
		margin-top:10px;
		width:134px;
		height:21px;
	}

	span.customSelect.changed {
		background-color: #c3d0d0;
	}
	

	.combo{
		clear: both;
		float:left;
		margin-top:10px;
		width: 187px;
		height:25px;
		cursor: pointer;
	}
	.combo .customSelectInner {
		height:25px;
		width:28px;
		background: url(img/sprite.png) no-repeat -576px -760px;
		display:block;
		text-decoration:none;
	}
	
	
	.buttons{
		display: block;
		position: absolute;
		top: 625px;
		text-decoration: none;
		left: 686px;
		width: 200px;
		height: 38px;
		font-family: 'nunitobold';
		font-size: 18px;
		line-height: 1.1;
		text-align: center;
		padding-top: 14px;
		color: #fff;
		cursor: pointer;
		z-index: 1;
		background-color: #1eadc4;
		border-radius: 67px 67px 67px 67px;
		-moz-border-radius: 67px 67px 67px 67px;
		-webkit-border-radius: 67px 67px 67px 67px;
	}
	
	.buttons:hover{
	background-color: #168a9d;
	}
	
	




/******************* Drag and Drop *************/
	
	#options{
		position: absolute;
		top: 240px;
		left: 1500px;
	}
	
	.options{
		margin: 5px 0px;
		filter: alpha(opacity=70);opacity: 0.7;
		border-bottom: dashed 1px #343434;
		width: 640px;
		padding: 5px 0px 6px 220px;
		height:50px;
	}
	
	.options:last-child{
		border-bottom: none;
	}
	
	.options p{
		font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px; 
		color: #323232;
	}
	
	.outer_box{
		position: absolute;
		width: 435px;
		height: 175px;
		border: 1px dashed #00c4d9;
		z-index:0;
	}
	.box, .box_unique{
		position: absolute;
		background-color: #fff;
		border: 1px solid #e76500;
		z-index:1;
	}
	
	.box_unique{
		background-color: #fff
	}
	
	.box .header, .box_unique .header{
		z-index:2;
	}
	
	.box .header p, .box_unique .header p{
		font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px; 
		color:#fff;
		text-align: center;
		padding: 10px 10px;
	}
	
	.box_unique .header p{
		color:#666565;
	}
	
	.box_solution .header p {
		color:#ffffff;
	}
	
	.box.box_right.box_solution, .box_unique.box_right.box_solution {
		background-color : #839a22;
		color : #ffffff;
	}
	
	.box.box_wrong.box_solution, .box_unique.box_wrong.box_solution {
		background-color : #b12a34;
		color : #ffffff;
	}
	
	.element{
		position: absolute;
		-ms-touch-action: none;
		
	}
	
	.element_position{
		position: absolute;
		
	}
	
	.element p{
		font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px; 
		color:#e76500;
		width: 195px;
		text-align: center;
		padding: 10px 3px;
		background-color: #fff;
		border: 1px solid grey;
	}
	
	.element_position p{
		font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px; 
		width: 100%;
		text-align: center;
		
		padding-top:0px;
		padding-bottom:0px;
		padding-left:10px;
		padding-right:0px;
		background-color: none;
		color:#FFF;
	}
	
	
	.element p{
		cursor:pointer;
	}
	
	
	#feedback_back{
		width:980px;
		height:596px;
		overflow: hidden;
		position:absolute;
		background-color: #666565;
		filter: alpha(opacity=50);
		opacity: 0.5;
		display:none;
		z-index:2;
	}
	
	#feedback {
		position: absolute;
		width: 450px;
		height: auto;
		top: 260px;
		left: 290px;
		filter: alpha(opacity=0);
		opacity: 0;
		display: none;
		z-index: 10;
	}
	
	#feedback_right {
		background-color: #839a22;
		height: 100%;
		padding:15px;
	}
	
	#feedback_wrong {
		background-color: #b12a34;
		height: 100%;
		padding:15px;
	}
	
	#feedback  h1{
		font-family: 'OpenSans'; 
		font-weight: 700;
		font-size: 18px; 
		line-height: 21px;
		color: #fff;
		display: inline;
		padding-left: 20px;
		text-align: left;
	}
	
	#feedback  p{
		font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px;
		color: #fff;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 20px;
		padding-left: 20px;
		width: 400px;
		text-align: left;
	}

	#feedback .close_feed {
		background: url(img/sprite.png) no-repeat transparent -147px -57px;
		display: block;
		position: absolute;
		right: 12px;
		top: 12px;
		width: 26px;
		height: 25px;
		cursor:pointer;
	}
	#volver{
		background: url(img/sprite.png) no-repeat transparent -52px -336px;
		position: absolute;
		left: 906px;
		top: 465px;
		width: 40px;
		height: 40px;
		cursor:pointer;
		
	}
	
	#volver:hover{
		background: url(img/sprite.png) no-repeat transparent -107px -336px;
		position: absolute;
		left: 906px;
		top: 465px;
		width: 40px;
		height: 40px;
		cursor:pointer;
		
	}

	/******************* UNIT QUIZ *************/
	.subpage_test{width: 880px;padding: 10px 20px 10px;position:absolute;height: 350px;top: 111px;left: 20px;width: 550px;}
	.subpage_test h1{
		font-family: 'nunitobold';
		font-size: 33px;
		line-height: 1.2;
		color: #fff;
		text-align: left;
		padding: 5px 0px 35px 0px;
		text-shadow: 0px 2px 4px rgba(7, 0, 0, 0.22);
		}
	.subpage_test div.text{font-family: 'OpenSans';font-weight: 400;font-size: 16px;line-height: 19px;color: #383838;}
	.subpage_test div.navigation_pretest{text-align: center;height:29px;position:absolute;bottom: 0px;right: 160px;}
	
	
	
	.subpage_test_result h1{margin-top:30px;font-family: 'nunitobold';font-size: 33px;line-height: 1.2;color: #fff;text-align: left;padding: 5px 0px 35px 0px;text-shadow: 0px 2px 4px rgba(7, 0, 0, 0.22);}
	.subpage_test_result .module{width:410px;height:26px;margin-bottom:10px;}
	.subpage_test_result .module .title{float:left;width:304px;height:26px;font-family: 'OpenSans'; font-weight: 400;font-size: 16px; line-height: 26px; color: #fff;padding: 0 10px;}
	.subpage_test_result .module .status_passed{text-align:center;float:left;width:63px;height:26px;font-family: 'OpenSans'; font-weight: 400;font-size: 16px; line-height: 26px; color: #fff;padding: 0 5px;margin-left:10px;}
	.subpage_test_result .module .status_failed{text-align:center;float:left;width:63px;height:26px;font-family: 'OpenSans'; font-weight: 400;font-size: 16px; line-height: 26px; color: #fff;padding: 0 5px;margin-left:10px;}
	.subpage_test_result .text{margin:30px;}
	.subpage_test_result .result_test{text-align:center;font-family: 'OpenSans';font-weight: 400;font-size: 15px;line-height: 18px;color: #000;}
	.subpage_test_result .result_exito span{font-family: 'OpenSans';font-weight: 400;font-size: 100px;line-height: 120px;color: #1eadc4;}
	.subpage_test_result .result_fail span{font-family: 'OpenSans'; font-weight: 400;font-size: 100px; line-height: 120px; color: #dd0101;}
	

	.subpage_test div.navigation_pretest .btn_ok{
		display:block;
		width:42px;
		height:40px;
	}
	
	.subpage_test div.navigation_pretest .btn_ok{
		width: 250px;
		position: absolute;
		left: 35px;
		top: 0px;
		cursor: pointer;
		font-family: 'nunitobold';
		font-size: 18px;
		line-height: 1.5;
		text-align: center;
		padding-top: 12px;
		color: #fff;
		text-decoration: none;
		background-color: #1eadc4;
		border-radius: 67px 67px 67px 67px;
		-moz-border-radius: 67px 67px 67px 67px;
		-webkit-border-radius: 67px 67px 67px 67px;
	}
	.subpage_test div.navigation_pretest .btn_ok:hover{
		background-color: #168a9d;
	}
	.subpage_test div.navigation_pretest .btn_ok:before {
  		content: "Comenzar";
  		padding-top: 175px;
  	}

	.subpage_test div.navigation_pretest	.info_avance{
		float:right;
		width:114px;
		height:13px;
		margin-right:15px;
		margin-top: 15px;
		/* background: url(img/sprite_test.png) -63px -89px no-repeat; */
	}
	
	.subpage_test div.navigation_pretest .info_avance_max_1{width: 18px;}
	.subpage_test div.navigation_pretest .info_avance_max_2{width: 39px;}
	.subpage_test div.navigation_pretest .info_avance_max_3{width: 58px;}
	.subpage_test div.navigation_pretest .info_avance_max_4{width: 76px;}
	.subpage_test div.navigation_pretest .info_avance_max_5{width: 97px;}
	.subpage_test div.navigation_pretest .info_avance_max_6{width: 114px;}
	



	.subpage_test div.navigation_pretest	.btn_next{
		display:block;
		float:right;
		width:40px;
		height:40px;
	}
	.subpage_test div.navigation_pretest	.next_inactive{cursor:default;}


	.subpage_test div.navigation_pretest	.next_active{cursor:pointer;background: url(img/sprite_test.png) -95px -1px no-repeat;}

	
	.subpage_test div.navigation_pretest	.btn_prev{
		display:block;
		float:right;
		width:40px;
		height:40px;
		margin-right:4px;
	}
	.subpage_test div.navigation_pretest	.prev_inactive{cursor:default;background: url(img/sprite_test.png) -53px -44px no-repeat;}
	.subpage_test div.navigation_pretest	.prev_active{cursor:pointer;background: url(img/sprite_test.png) -53px -44px no-repeat;}
	

	

	.subpage_test_unica_multiple .radio{margin-bottom: 15px;margin-left: 10px;}
	.subpage_test_unica_multiple .radio .label{font-family: 'OpenSans';font-weight: 400;font-size: 15px;line-height: 17px;color: #383838;padding-left: 30px;padding-top: 3px;} 
	.radio div.radiobtn{width:25px;height:25px;background: url("img/sprite_test.png") 0px 0px no-repeat transparent;float:left;cursor:pointer;margin-right:5px;}
	
	
	.check{margin-bottom:25px;margin-left:30px;}
	.check .checkbox{width:25px;height:25px;float:left;cursor:pointer;margin-right:5px;}
	.check .label{font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 25px;color:#000;padding-left: 20px;} 
	
	.subpage_test_verdadero_falso .question{width:865px;height:28px;font-family: 'OpenSans'; font-weight: 400;font-size: 14px; line-height: 28px;color:#fff;padding-left:10px;margin-top:25px}
	
	.radio > .radiobtn:activo{
		    border: solid 2px #1eadc4;
	}
	
	.subpage_test_verdadero_falso .answer{
		width:865px;
		height:55px;
		padding-left:10px;
		margin-top:15px; 
		border-bottom: dotted 2px #666;
		position:relative;
	}
	
	.subpage_test_verdadero_falso .answer p{
		width:640px;		
		font-family: 'OpenSans'; font-weight: 400;font-size: 14px; line-height: 15px;
		color:#000;
	}
	
	.subpage_test_verdadero_falso .answer .radio_true{position:absolute;left:683px;top:7px;}
	.subpage_test_verdadero_falso .answer .radio_false{position:absolute;left:807px;top:7px;}
	
	
	
	.subpage_test_unica_multiple .question{width: 523px;height: auto;font-family: 'OpenSans bold';font-weight: 700;font-size: 16px;line-height: 20px;color:#323232;padding:4px 20px 0 10px;margin-top:25px;margin-bottom: 30px;}

	
	#btn_points{display:block;width:42px;height:40px;}
	.subpage_test div.navigation_pretest .btn_ok:hover{background-position: 0 -40px;}
	
	
	
	.learning_points{width: 880px; padding: 10px 20px 10px;position:absolute;height:320px;top:150px;left:30px;border: solid 2px #e76500;background-color: #fff;opacity: 0.9;filter: alpha(opacity=90);display:none;}
	.learning_points a{display:block;position:absolute;left:865px;top:287px;width:40px;height:40px;}
	.learning_points a:hover{background-position: -44px -40px;}
	.learning_points h1{position:absolute;top:165px;left:50px;color:#00c6d7;font-family: 'OpenSans'; font-weight: 400;font-size: 18px; line-height: 23px; color: #00c6d7;}
	
	.learning_points p{
		position:absolute;
		top:20px;
		left:50px;
		color:#00c6d7;
		font-family: 'OpenSans'; font-weight: 400;font-size: 18px; line-height: 23px;
		color: #e76500;
	}
	
	.learning_points_wrap {
		position: absolute;
		top: 60px;
		left: 50px;
	}
	
	.learning_points_wrap ul li{
		width: 430px;
		background-color: #dedcd9;
		text-align: center;
		font-family: 'OpenSans'; font-weight: 400;font-size: 15px; line-height: 18px;
		color: #323232;
		padding: 6px 10px;
		margin-bottom:5px;
	}

	.btn_repasar{
		width: 250px;
		position: absolute;
		left: 15px;
		top: 320px;
		cursor: pointer;
		font-family: 'nunitobold';
		font-size: 18px;
		line-height: 1.1;
		text-align: center;
		padding-top: 18px;
		padding-bottom: 18px;
		color: #fff;
		text-decoration: none;
		background-color: #1eadc4;
		border-radius: 67px 67px 67px 67px;
		-moz-border-radius: 67px 67px 67px 67px;
		-webkit-border-radius: 67px 67px 67px 67px;
	}
	.btn_repasar:hover{
		background-color: #168a9d;
		text-decoration: none;
	}
	/*.btn_repasar:before {
  		content: "Repasa tus respuestas";
  		padding-top: 175px;
  	}*/

  	/*ACTIVIDAD FLECHAS*/

  	  #flechas_box {
    width: 100%;
    height: 546px;
    float: left;
    position: relative;
  }

  .flechas.origen,
  .flechas.destino {
    background: #1eadc4;
    padding: 10px;
    cursor: pointer;
    font: 15px/16px OpenSans;
  }

  .flechas.origen:hover, .flechas.destino:hover{
  	background: #7b7b7b;
  }
.flechas.origen, .flechas.destino p{
	color:#fff;
}
  .btn_repetir,
  .btn_ok {
    position: absolute;
    bottom: 30px;
  }

  .btn_ok {
    right: 50px;
    width: 190px;
    height: 48px;
    position: absolute;
    right: 50px;
    cursor: pointer;
    border-radius: 67px 67px 67px 67px;
    -moz-border-radius: 67px 67px 67px 67px;
    -webkit-border-radius: 67px 67px 67px 67px;
    background-color: #1eadc4;
    color:#fff;
    padding: 0px;
    border: none;
    font: 16px/16px OpenSanssemibold;
  }
 
	  .btn_repetir:hover, .btn_ok:hover{
		background-color: #168a9d;
	}	
  .btn_repetir {
    width: 190px;
    height: 48px;
    position: absolute;
    right: 270px;
    cursor: pointer;
    border-radius: 67px 67px 67px 67px;
    -moz-border-radius: 67px 67px 67px 67px;
    -webkit-border-radius: 67px 67px 67px 67px;
    background-color: #1eadc4;
    color:#fff;
    padding: 0px;
    border: none;
    font: 16px/16px OpenSanssemibold;
    }