<style>
 .cartelAletaDisabled {
    top: 458px;
    left: 310px;
  }

</style>

<div id="container_downloads">
    <div class="cartelAlerta-old" style="display:none;">
        <p>Sin conectividad, hay contenidos que no se visualizarán. </p>
    </div>
    <div id="menu_downloads_wrap" class="fnd_azul">
        <h1>Materiales </h1>
        <a href="javascript:void(0)" id="download_close" class="close"></a>
       <div>
	   
		<h2>Bibliografía</h2>
			<ul>
			 <li>Carrión Ramos, V. Rol del docente del S.XXI.</li>
			 <li>Rossario, A. L. Las TIC y el nuevo paradigma educativo. Primera Jornada nacional de civilización digital. Córdoba, Argentina.</li>
			</ul>
          
        <h2>Enlaces</h2>
          <p><a class="link_download" href="//es.wikiquote.org/wiki/Educaci%C3%B3n" target="_blank">Frases celébres.</a></p>
		  <p><a class="link_download" href="//www.educacontic.es/blog" target="_blank">Tecnología y educación.</a></p>
		  <p><a class="link_download" href="//scientix.fecyt.es/2014/03/escuela-del-siglo-xxi-future-classroom.html" target="_blank">iTEC.</a></p>
		  <p><a class="link_download" href="//idnews.idaccion.com/como-crear-tu-blog-en-10-pasos/" target="_blank">Hazblog.</a></p>
		  
		<h2>Descargas</h2>
		   <p><a class="link_download link_pdf" href="contenido\download\manuales\M1_P04_pdf1.pdf" target="_blank">Esquema de contenidos</a></p>
		   <p><a class="link_download link_pdf" href="contenido\download\manuales\M2_P02_pdf1.pdf" target="_blank">Finlandia, un caso  de éxito académico</a></p>
		   <p><a class="link_download link_pdf" href="contenido\download\manuales\M6_P02_pdf1.pdf" target="_blank">Actividad práctica</a></p>
		   <p><a class="link_download link_pdf" href="contenido\download\manuales\transformar-aula-desde-innovacion.pdf" target="_blank">Transformar el aula desde la innovación</a></p>
		</div>
     
    </div>
</div>

<script>

function download_init(){
    
    $("#menu_downloads_wrap > div").html(this.msg).jScrollPane({showArrows: false});
    $("#download_close, #fnd_shadow").click(function(e){
      e.preventDefault();
      //resumeVideo();
      resumeAudio();
      $("#menu_downloads_container").fadeOut();
      if((ie)||(oldIe)){
      $('#popup-youtube-player').show();
    }   
    });

    function descontarGaleria(item) {
    descontar(item.attr("rel"));

  }
      }  
</script>
