﻿<style>

.fnd_M4_P02{background: url(img/fnd_M4_P02.png) no-repeat;	}
.M4_P02-1{background: url(img/img_M4_P02-1.png) no-repeat;	}
.M4_P02-2{background: url(img/img_M4_P02-2.png) no-repeat;	}
.fnd_marron1{padding: 5px; text-align: center;	}


</style>


<div id="container_page">
	<div id="fnd" class="fnd_M4_P02" style="top:33px"></div>

	
	<div id="info_box" class="info_box" ><h1>¡Preparado, listo, ya!
</h1></div>
	
	<div id="info_box2" class="info_box" style="top:90px; left:40px; width:750px"><p>¿Está listo para ser un agente influenciador y desarrollar un plan de acción innovador?</p>
	</div>

	<div id="info_box3" class="info_box fnd_marron1" style="width:80px; left:80px; top:160px;"><p class="text_blanco">Adopte</p></div>
	<div id="info_box4" class="info_box fnd_marron1" style="width:80px; left:80px; top:245px;"><p class="text_blanco">Adapte</p></div>
	<div id="info_box5" class="info_box fnd_marron1" style="width:80px; left:80px; top:355px;"><p class="text_blanco">Cree</p></div>
	<div id="info_box6" class="info_box fnd_marron1" style="width:80px; left:80px; top:440px;"><p class="text_blanco">Comparta</p></div>
	
	
	<div id="info_box7" class="info_box fnd_marron1" style="width:300px; left:240px; top:150px;"><p class="text_blanco">Técnicas y herramientas existentes como las TIC. </p></div>
	<div id="info_box8" class="info_box fnd_marron1" style="width:300px; left:240px; top:230px;"><p class="text_blanco">Como profesor es una persona creativa e innovadora y puede adaptar estas herramientas a su ambiente de trabajo.</p></div>
	<div id="info_box9" class="info_box fnd_marron1" style="width:300px; left:240px; top:350px;"><p class="text_blanco">A partir de las herramientas estudiadas y disponibles para usted, elabore un nuevo plan de estudios.</p></div>
	<div id="info_box10" class="info_box fnd_marron1" style="width:300px; left:240px; top:430px;"><p class="text_blanco">Comparta este currículum y déselo a conocer a sus alumnos y colegas.</p></div>
	
	<div id="info_box11" class="info_box fnd_marron1" style="width:300px; left:600px; top:200px;"><p class="text_blanco">Usted como docente se verá beneficiado del desarrollo de capacidades creativas.</p></div>
	
	
	<div id="info_box12" class="info_box fnd_marron1" style="width:300px; left:600px; top:310px;"><p class="text_blanco"  style="text-align:left;">Beneficia a:</p>
	<ul class="text_blanco" style="text-align:left;">
	<li><b>Sus alumnos:</b> les motivará a ser parte del nuevo sistema, incentivándoles a ser más creativos e innovadores. Tendrá un impacto positivo en las familias y en la sociedad en la que viven.</li>
	<li><b>Sus colegas:</b> conocerán experiencias nuevas y podrán ponerlas en práctica.</li></ul></div>
	
	<div id="01" class="flecha02_derecha" style="top:165px; left:200px;"></div>
	<div id="02" class="flecha02_derecha" style="top:255px; left:200px;"></div>
	<div id="03" class="flecha02_derecha" style="top:363px; left:200px;"></div>
	<div id="04" class="flecha02_derecha" style="top:447px; left:200px;"></div>
	
	<div id="01a" class="info_box M4_P02-1" style="top:150px; left:570px; height:300px; width:10px;"></div>
	<div id="01b" class="info_box M4_P02-2" style="top:350px; left:570px; height:300px; width:10px;"></div>


</div>

<script>
	var totalEventos;
	var totalActivos;
	var queue;
	var n_rel;
	var ruta_img =  "contenido/M1_P03/img/";



	function init(){
		portada = false;
		precarga();
		initInteractions();
		HabilitaBotones(); //Enable next buttom	
		
		//Control de eventos para pasar de página (Plantilla)
		totalEventos = 0;
		totalActivos = new Array();
		for (var i = 1; i < totalEventos + 1; i++) {
			totalActivos[i] = 0;
		}
		_global.externalTrace("plantilla, cantidad de eventos",totalEventos);


		 
	}

	function initInteractions(){	
	 
		$("a.btn_back").bind(clickEvent,function(e){
			var container = $(this).parent().parent();
			e.preventDefault();	
				container.fadeOut();
		});

		$(".back_sub").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeOut();
			$(".subpagePopUp").fadeOut();
		});

		$(".link_secundario").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeIn();
			$("#subpagePopUp_" + $(this).attr("rel")).fadeIn();
			descontar($(this).attr("rel"));
		});



	}

	
	


	function precarga(){
		//Precarga de imagenes
		queue = new createjs.LoadQueue(true);	
		queue.addEventListener("fileload", handleFileLoad);
		queue.addEventListener("complete", handleComplete);

		handleComplete();
		}
	
	function handleFileLoad(event) {
		var item = event.item; // Referencia al item que genera el evento
	}
	
	
	/* al acabar la carga lanzamos las animaciones */
	
	function handleComplete(event) {
	
		navigation.checkStatus(); // Comunication with Scorm
	}	
	
	

	/* AVANCE */
	
	function descontar(cual) {
		_global.externalTrace("plantilla descontar ",cual);
		totalActivos[cual] = 1;
		compruebaBotones();
	}
	
	function compruebaBotones() {
		alguno = false;
		for (i = 1; i < totalActivos.length + 1; i++) {
			if (totalActivos[i] == 0) {
				alguno = true;
				break;
			}
		}
		if (!alguno) {
		 
		HabilitaBotones();
		 
		}
		_global.externalTrace("plantilla compruebaBotones ",alguno);
	}

</script>