﻿<style>
.m1_p03{background: url(img/M1_P03_img01.png) no-repeat;	}	
.fnd_azul{padding: 5px; text-align: center;	}

</style>	


<div id="container_page">
	
	<div id="fnd" class="fnd_punto_de_partida"></div>
	<div id="info_box_1" class="info_box mediano2" >
		<h1>Punto de partida</h1>
		<p>¿Cómo impartir una clase? Independientemente de la materia que se quiera enseñar, hay que plantearse los siguientes interrogantes:</p>	
	</div>
	
	<div id="info_box2" class="info_box fnd_azul" style="width:130px; top:170px; left:40px;"><p class="text_blanco">¿Quiere mantener a sus alumnos motivados?</p></div>
	<div id="info_box3" class="info_box fnd_azul" style="width:186px; top:170px; left:200px;"><p class="text_blanco">¿Ha decidido ser<br/>un agente de cambio<br/>y transformar<br/>su aula?</p></div>
	<div id="info_box4" class="info_box fnd_azul" style="width:130px; top:170px; left:415px;"><p class="text_blanco">¿Ha implementado nuevos métodos?</p></div>
	
	<div id="info_box5" class="info_box fnd_azul" style="width:504px; top:330px; left:40px;"><p class="text_blanco">Todos somos capaces, las <b>habilidades de creatividad e innovación</b> son <b>aprendidas,</b> desarrolladas y <b>fortalecidas</b> a medida que usted las <b>utiliza.</b></p></div>
	
	<div id="flecha01" class="flechazul01" style="top:290px; left:100px;"></div>
	<div id="flecha02" class="flechazul01" style="top:290px; left:290px;"></div>
	<div id="flecha03" class="flechazul01" style="top:290px; left:475px;"></div>
	
	<div id="info_box6" class="info_box" style="width:520px; top:415px; left:40px;"><h2>Atrévase a ser innovador, a intentarlo y a transformar a sus alumnos, a su escuela y a su sociedad.	</h2></div>
</div>

<script>
	var totalEventos;
	var totalActivos;
	var queue;
	var n_rel;
	var ruta_img =  "contenido/M1_P03/img/";



	function init(){
		portada = false;
		precarga();
		initInteractions();
		HabilitaBotones(); //Enable next buttom	
		
		//Control de eventos para pasar de página (Plantilla)
		totalEventos = 1;
		totalActivos = new Array();
		for (var i = 1; i < totalEventos + 1; i++) {
			totalActivos[i] = 0;
		}
		_global.externalTrace("plantilla, cantidad de eventos",totalEventos);


		 
	}

	function initInteractions(){	
	 
		$("a.btn_back").bind(clickEvent,function(e){
			var container = $(this).parent().parent();
			e.preventDefault();	
				container.fadeOut();
		});

		$(".back_sub").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeOut();
			$(".subpagePopUp").fadeOut();
		});

		$(".link_secundario").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeIn();
			$("#subpagePopUp_" + $(this).attr("rel")).fadeIn();
			descontar($(this).attr("rel"));
		});



	}

	
	


	function precarga(){
		//Precarga de imagenes
		queue = new createjs.LoadQueue(true);	
		queue.addEventListener("fileload", handleFileLoad);
		queue.addEventListener("complete", handleComplete);

		handleComplete();
		}
	
	function handleFileLoad(event) {
		var item = event.item; // Referencia al item que genera el evento
	}
	
	
	/* al acabar la carga lanzamos las animaciones */
	
	function handleComplete(event) {
	
		navigation.checkStatus(); // Comunication with Scorm
	}	
	
	

	/* AVANCE */
	
	function descontar(cual) {
		_global.externalTrace("plantilla descontar ",cual);
		totalActivos[cual] = 1;
		compruebaBotones();
	}
	
	function compruebaBotones() {
		alguno = false;
		for (i = 1; i < totalActivos.length + 1; i++) {
			if (totalActivos[i] == 0) {
				alguno = true;
				break;
			}
		}
		if (!alguno) {
		 
		HabilitaBotones();
		 
		}
		_global.externalTrace("plantilla compruebaBotones ",alguno);
	}

</script>
	