﻿<style>

.fnd_M5_P02{background: url(img/fnd_M5_P02.png) no-repeat;}
#link_subpage_1{top:480px; left:40px;}
#cartelIndicacion{top: -40px;left: 800px; }

</style>


<div id="container_page">
	<div id="fnd" class="fnd_M5_P02" style="top:33px"></div>
	<div class="cartelIndicacion"> <p style="padding:99px 0px 0px 12px;">Pulse sobre el botón para más información.</p></div>
	
	<div id="info_box" class="info_box" ><h1>Creación de un blog</h1></div>
	
	<div id="info_box2" class="info_box" style="top:90px; left:40px; width:750px"><p>Un blog puede ser una <b>herramienta muy poderosa</b> para el <b>trabajo colaborativo.</b>  Puede convertirse en un <b>espacio para compartir</b> experiencias con colegas en todo el mundo, <b>obtener retroalimentación</b> sobre actividades realizadas y hasta tener ideas y <b>recomendaciones</b> para el desarrollo de un<b> nuevo plan de estudios.</b></p>	</div>


	
<div id="link_subpage_1" class="link_secundario azul" rel="1"> <p>Ejercicio</p></div>

	<div id="subpagePopUp_1" class="subpagePopUp">
		<div class="text">
			<a href="javascript:void(0)" class="btn_back"></a>
			<h1>Cree su propio blog</h1>
			<p>Cree un blog sobre sus ideas para el desarrollo del plan de estudios y envíe una invitación a todos sus colegas. Plantee una <b>idea creativa</b> para desarrollar una actividad y pida a sus colegas que la evalúen y le den recomendaciones y sugerencias.</p>
			<p>Una vez que tenga las ideas necesarias, ponga en práctica la actividad y luego comparta su experiencia. Recuerde usar fotos y videos, entre otras herramientas, para exponer su caso de éxito. </p>
			<p>Para crear un blog, consulte los enlaces recomendados en la sección “Material”.</p>
		 </div>
	</div>
	
</div>

<script>
	var totalEventos;
	var totalActivos;
	var queue;
	var n_rel;
	var ruta_img =  "contenido/M1_P03/img/";



	function init(){
		portada = false;
		precarga();
		initInteractions();
		//HabilitaBotones(); //Enable next buttom	
		
		//Control de eventos para pasar de página (Plantilla)
		totalEventos = 1;
		totalActivos = new Array();
		for (var i = 1; i < totalEventos + 1; i++) {
			totalActivos[i] = 0;
		}
		_global.externalTrace("plantilla, cantidad de eventos",totalEventos);


		 
	}

	function initInteractions(){	
	 
		$("a.btn_back").bind(clickEvent,function(e){
			var container = $(this).parent().parent();
			e.preventDefault();	
				container.fadeOut();
		});

		$(".back_sub").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeOut();
			$(".subpagePopUp").fadeOut();
		});

		$(".link_secundario, .button").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeIn();
			$("#subpagePopUp_" + $(this).attr("rel")).fadeIn();
			descontar($(this).attr("rel"));
		});



	}

	
	


	function precarga(){
		//Precarga de imagenes
		queue = new createjs.LoadQueue(true);	
		queue.addEventListener("fileload", handleFileLoad);
		queue.addEventListener("complete", handleComplete);

		handleComplete();
		}
	
	function handleFileLoad(event) {
		var item = event.item; // Referencia al item que genera el evento
	}
	
	
	/* al acabar la carga lanzamos las animaciones */
	
	function handleComplete(event) {
	
		navigation.checkStatus(); // Comunication with Scorm
	}	
	
	

	/* AVANCE */
	
	function descontar(cual) {
		_global.externalTrace("plantilla descontar ",cual);
		totalActivos[cual] = 1;
		compruebaBotones();
	}
	
	function compruebaBotones() {
		alguno = false;
		for (i = 1; i < totalActivos.length + 1; i++) {
			if (totalActivos[i] == 0) {
				alguno = true;
				break;
			}
		}
		if (!alguno) {
		 
		HabilitaBotones();
		 
		}
		_global.externalTrace("plantilla compruebaBotones ",alguno);
	}

</script>