﻿<style>
.button{height: 130px;}

.fnd_M3_P04{
		background: url(img/fnd_M3_P04.png) no-repeat;
	}

#link_subpage_1{top:470px; left:40px;}
#link_subpage_2{top:410px; left:40px;}

#cartelIndicacion{top: -40px;left: 800px; }

</style>


<div id="container_page">
	<div id="fnd" class="fnd_M3_P04"></div>
	<div class="cartelIndicacion"> <p style="padding:99px 0px 0px 12px;">Pulse sobre el botón para más información.	</p></div>
	
	<div id="info_box" class="info_box" ><h1>¿Preparado para el cambio?</h1></div>
	
	<div id="info_box2" class="info_box" style="top:130px; left:120px; width:690px"><p style="font-size:20px;line-height:23px;"><b>"Ser docentes hoy no es fácil, tal vez nunca lo fue, pero como sabemos y sentimos en nuestros días la profesión docente está en cambios constantes, así que manos a la obra." </b><br/><i>Vladimir, profesor escuela en Perú.</i></p>	</div>
	
	<div id="info_box3" class="info_box" style="top:280px; left:305px; width:570px;"><p>El <b>primer contacto</b> del estudiante con el mundo desconocido <b>es el profesor.</b> Este debe generarle curiosidad sobre el tema, ganas de aprender y facilitarle el aprendizaje para <b>mantener la motivación inicial.</b>
</p></div>

	<div id="info_box9" class="info_box" style="left:264px; top:345px; width:560px;">
		<table style="width:560px;    margin: 40px; ">
			<tbody>
				<tr>
					<td style="width: 560px; padding:10px;">El docente es la <b>ficha clave.</b></td>
					</tr>
				<tr>
					<td style="width: 560px; padding:10px;">Una de las características más importante del docente del siglo XXI es que tiene la <b>capacidad de cambiar rápidamente</b> y mostrar ese cambio a sus alumnos, es decir, seguir la cadena del <b>adopte, adapte, cree y comparta.</b></td>
					</tr>
					</tbody>
				</table>
	</div>
				
	<div id="link_subpage_1" class="link_secundario azul" rel="1"> <p>Saber más</p></div>

	<div id="subpagePopUp_1" class="subpagePopUp">
		<div class="text">
			<a href="javascript:void(0)" class="btn_back"></a>
			<h1>El empleo</h1>
			<p>Debemos preparar a los niños, pues si su formación no se adecua a los cambios les será difícil ser competitivos. En el caso del empleo, cada vez hay más empleos que están siendo demandados que antes no existían.</p>
		 </div>
	</div>
	</div>

<script>
	var totalEventos;
	var totalActivos;
	var queue;
	var n_rel;
	var ruta_img =  "contenido/M1_P03/img/";



	function init(){
		portada = false;
		precarga();
		initInteractions();
		//HabilitaBotones(); //Enable next buttom	
		
		//Control de eventos para pasar de página (Plantilla)
		totalEventos = 1;
		totalActivos = new Array();
		for (var i = 1; i < totalEventos + 1; i++) {
			totalActivos[i] = 0;
		}
		_global.externalTrace("plantilla, cantidad de eventos",totalEventos);


		 
	}

	function initInteractions(){	
	 
		
		$("a.btn_back").bind(clickEvent,function(e){
			var container = $(this).parent().parent();
			e.preventDefault();	
				container.fadeOut();
		});

		$(".back_sub").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeOut();
			$(".subpagePopUp").fadeOut();
		});

		$(".link_secundario").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeIn();
			$("#subpagePopUp_" + $(this).attr("rel")).fadeIn();
			descontar($(this).attr("rel"));
		});



	}

	
	


	function precarga(){
		//Precarga de imagenes
		queue = new createjs.LoadQueue(true);	
		queue.addEventListener("fileload", handleFileLoad);
		queue.addEventListener("complete", handleComplete);

		handleComplete();
		}
	
	function handleFileLoad(event) {
		var item = event.item; // Referencia al item que genera el evento
	}
	
	
	/* al acabar la carga lanzamos las animaciones */
	
	function handleComplete(event) {
	
		navigation.checkStatus(); // Comunication with Scorm
	}	
	
	

	/* AVANCE */
	
	function descontar(cual) {
		_global.externalTrace("plantilla descontar ",cual);
		totalActivos[cual] = 1;
		compruebaBotones();
	}
	
	function compruebaBotones() {
		alguno = false;
		for (i = 1; i < totalActivos.length + 1; i++) {
			if (totalActivos[i] == 0) {
				alguno = true;
				break;
			}
		}
		if (!alguno) {
		 
		HabilitaBotones();
		 
		}
		_global.externalTrace("plantilla compruebaBotones ",alguno);
	}

</script>