﻿<style>

.fnd_M2_P03{
		background: url(img/fnd_M2_P03.png) no-repeat;
	}


</style>


<div id="container_page">
	<div id="fnd" class="fnd_M2_P03" style="top:10px;"></div>
	
	<div id="info_box" class="info_box" ><h1>¿Por qué se aprende tan poco?</h1></div>
	
	<div id="info_box2" class="info_box" style="top:90px; left:40px; width:740px"><p>Desde hace varios años las escuelas se han empezado a dar cuenta de que <b>los estudiantes aprenden muy poco.</b></p></div>

	<div id="info_box3" class="info_box" style="top:220px; left:96px; width:200px"><p style="width:200px; text-align:center; ">Aunque los <b>currículos educativos</b> cubren muchas materias y muchos temas. </p></div>
	
	<div id="info_box4" class="info_box" style="top:330px; left:688px; width:300px"><p style="width:200px; text-align:center;">Aunque los <b>Gobiernos</b> y las entidades de educación se han dedicado a intentar <b>encontrar soluciones</b> a los <b>problemas de educación.</b></p></div>
	
	<div id="info_box5" class="info_box" style="top:390px; left:40px; width:300px"><p style="width:300px; ">Algunas <b>escuelas no han querido esperar </b>a que se presente una reforma educativa; por eso no es raro que ahora se encuentren escuelas que promocionan su currículum como <b>método Montessori o método Freinet. 
</b> </p></div>

</div>

<script>
	var totalEventos;
	var totalActivos;
	var queue;
	var n_rel;
	var ruta_img =  "contenido/M1_P03/img/";



	function init(){
		portada = false;
		precarga();
		initInteractions();
		HabilitaBotones(); //Enable next buttom	
		
		//Control de eventos para pasar de página (Plantilla)
		totalEventos = 0;
		totalActivos = new Array();
		for (var i = 1; i < totalEventos + 1; i++) {
			totalActivos[i] = 0;
		}
		_global.externalTrace("plantilla, cantidad de eventos",totalEventos);


		 
	}

	function initInteractions(){	
	 
		$("a.btn_back").bind(clickEvent,function(e){
			var container = $(this).parent().parent();
			e.preventDefault();	
				container.fadeOut();
		});

		$(".back_sub").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeOut();
			$(".subpagePopUp").fadeOut();
		});

		$(".link_secundario").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeIn();
			$("#subpagePopUp_" + $(this).attr("rel")).fadeIn();
			descontar($(this).attr("rel"));
		});

		 $("#link_subpage_2").click(function(event){ 
		window.open('contenido/download/manuales/M2_P03_pdf1.pdf', '_blank');
		event.preventDefault();
		descontar($(this).attr("rel"));
		}); 

	}

	
	


	function precarga(){
		//Precarga de imagenes
		queue = new createjs.LoadQueue(true);	
		queue.addEventListener("fileload", handleFileLoad);
		queue.addEventListener("complete", handleComplete);

		handleComplete();
		}
	
	function handleFileLoad(event) {
		var item = event.item; // Referencia al item que genera el evento
	}
	
	
	/* al acabar la carga lanzamos las animaciones */
	
	function handleComplete(event) {
	
		navigation.checkStatus(); // Comunication with Scorm
	}	
	
	

	/* AVANCE */
	
	function descontar(cual) {
		_global.externalTrace("plantilla descontar ",cual);
		totalActivos[cual] = 1;
		compruebaBotones();
	}
	
	function compruebaBotones() {
		alguno = false;
		for (i = 1; i < totalActivos.length + 1; i++) {
			if (totalActivos[i] == 0) {
				alguno = true;
				break;
			}
		}
		if (!alguno) {
		 
		HabilitaBotones();
		 
		}
		_global.externalTrace("plantilla compruebaBotones ",alguno);
	}

</script>