/* Overwrite styles for especial Profuturo distribution  */
body {
  line-height: 1;
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 11px;
  color: #000;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 3%, 1);
}

#container_web {
  width: 980px;
  height: 596px;
  background-color: #e9dbc3;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  -moz-box-shadow: 0px 0px 26px 1px rgba(0, 0, 0, 0.55);
  margin-left: -490px;
  margin-top: -298px;
}

#content, #container_page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  /* z-index: 15; */
}

#content_wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 12;
}

#menu_wrap {
  height: 40px;
  width: 100%;
  position: absolute;
  z-index: 82;
  bottom: 0;
  background-color: rgba(68, 68, 68, 0.4);
}

#loading {
  width: 100%;
  height: 100%;
  background: url(img/ajax-loader.gif) no-repeat center center;
  overflow: hidden;
  position: absolute;
  z-index: 0;
}

#menu_index_container, #menu_downloads_container, #menu_credits_container, #menu_glosario_container {
  width: 980px;
  height: 620px;
  overflow: hidden;
  position: absolute;
  z-index: 150;
  display: none;
}

#menu_downloads_wrap p, #menu_glosario_wrap p{
  text-align: left!important;
}

#menu_index_wrap>div.wrap_text_index {
  width: 890px;
  height: 380px;
  overflow: auto;
  margin: 5px 0 0;
  padding-right: 20px;
  outline: none;
}

#menu_index_wrap {
  position: absolute;
  left: 0px;
  top: 620px;
  width: 940px;
  height: 490px;
  background-color: rgb(0, 175, 198);
  padding: 30px 0 0 40px;
}

#menu_downloads_wrap {
  position: absolute;
  left: 0px;
  top: 100px;
  width: 918px;
  height: 500px;
  padding: 25px 22px 0px 40px;
}

#menu_glosario_wrap {
  position: absolute;
  left: 0px;
  top: 100px;
  width: 930px;
  height: 500px;
  padding: 25px 22px 0 30px;
}

/* pages popups*/
.subpagePopUp {
  bottom: 0;
}

/* ===== */
.cartelAlerta {
  background: url(img/sprite.png) no-repeat -666px -674px #fff;
  position: absolute;
  width: 940px;
  min-height: 60px;
  top: unset;
  left: 10px;
  bottom: 55px;
  padding: 10px;
  z-index: 1000;
  display: block;
  box-shadow: 0px 2px 3px 0px rgba(7, 0, 0, 0.26);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(7, 0, 0, 0.26);
  -moz-box-shadow: 0px 2px 3px 0px rgba(7, 0, 0, 0.26);
}

.cartelAlerta p {
  font-family: 'OpenSans';
  font-size: 17px;
  line-height: 1.1;
  text-align: left;
  padding: 14px;
  color: #353535;
  padding-left: 54px;
}

/* Gallery */
#gallery {
  /* z-index: 100; */
}
.cartelIndicacion {
  /* z-index: 500; */
}
#menu_help_container{
  height: 100%;
}

.popMargin {
   padding-top: 15px !important;
   padding-bottom: 20px !important;
 }
