﻿<style>

	.fnd_azul{
		padding: 5px;
		text-align: center;
		 
	}
	#info_box1{width:600px;}
	#info_box2{
		top: 110px;
		left: 40px;
		width:250px;
	}
	
	#info_box3{ 
		top: 110px;
		left: 346px;
		width:250px;
	}
	
	#info_box4{
		top: 110px;
		left: 650px;
		width:250px;
	}
		
</style>

<div id="container_page">
	
<div id="fnd" class="fnd_objetivos"></div>
	
	
<div id="info_box1" class="info_box mediano1">
	<h1>Objetivos</h1> 

	<p></p>
	 
	<ul>
		<li>Identificar los <b>puntos clave</b> que han hecho del <b>modelo finlandés</b> un modelo exitoso.</li>
		<li>Establecer puntos de <b>comparación entre el modelo finlandés</b> y otros modelos de enseñanza.</li>
		<li>Analizar las <b>características</b> que debe tener un maestro en el <b>siglo XXI</b> para enfrentarse exitosamente a la <b>actual sociedad.</b></li>
		<li>Identificar <b>características</b> del maestro consideradas como claves en <b>agentes de cambio e innovación.</b></li>
		<li>Compartir <b>experiencias exitosas</b> entre maestros para ser implementadas y probadas en las diferentes escuelas.</li>
	</ul>
</div>
 
</div>


<script>
	var totalEventos;
	var totalActivos;
	var queue;
	var n_rel;
	var ruta_img =  "contenido/M1_P04/img/";


	function init(){
		portada = false;
		precarga();
		HabilitaBotones(); //Enable next buttom	
		
		//Control de eventos para pasar de página (Plantilla)
		totalEventos = 1;
		totalActivos = new Array();
		for (var i = 1; i < totalEventos + 1; i++) {
			totalActivos[i] = 0;
		}
		_global.externalTrace("plantilla, cantidad de eventos",totalEventos);

		
		 
	}

	


	function precarga(){
		//Precarga de imagenes
		queue = new createjs.LoadQueue(true);	
		queue.addEventListener("fileload", handleFileLoad);
		queue.addEventListener("complete", handleComplete);

		handleComplete();
		}
	
	function handleFileLoad(event) {
		var item = event.item; // Referencia al item que genera el evento
	}
	
	
	/* al acabar la carga lanzamos las animaciones */
	
	function handleComplete(event) {
	
		navigation.checkStatus(); // Comunication with Scorm
	}	
	
	

	/* AVANCE */
	
	function descontar(cual) {
		_global.externalTrace("plantilla descontar ",cual);
		totalActivos[cual] = 1;
		compruebaBotones();
	}
	
	function compruebaBotones() {
		alguno = false;
		for (i = 1; i < totalActivos.length + 1; i++) {
			if (totalActivos[i] == 0) {
				alguno = true;
				break;
			}
		}
		if (!alguno) {
		 
		HabilitaBotones();
		 
		}
		_global.externalTrace("plantilla compruebaBotones ",alguno);
	}

</script>
	