/*------------------------------------*\
    #GALLERY
\*------------------------------------*/

ul[class^="img-gallery"]{
    padding:10px 0px 10px 0px;
}
ul[class^="img-gallery"] li{
    list-style: none;
    display: list-item;
    text-align: -webkit-match-parent;
    width: 78px;
    height: 78px;
    float: left;
    position: relative;
    margin: 5px;
}

ul[class^="img-gallery"] li i{
    position: absolute;
    right: 1px;
    top: -6px;
    cursor: pointer;
    width: 10px;
    font-size: 18px;
}

ul[class^="img-gallery"] li img{
    width: 100%;
    height: 100%;
}