/*------------------------------------*\
    #MODAL
\*------------------------------------*/
[role="filemanager-modal"] {
  z-index: 70000;
}
[role="filemanager-modal"] .modal-title {
  font-size: 1.2em;
}
[role="filemanager-modal"] .modal-dialog {
  width: 1000px;
}
[role="filemanager-modal"] .modal-body {
  padding-top: 8px;
  padding-bottom: 8px;
}
/*------------------------------------*\
    #IFRAME
\*------------------------------------*/
[role="filemanager-frame"] {
  width: 100%;
  height: 530px;
}
/*------------------------------------*\
    #TINYMCE
\*------------------------------------*/
div.mce-edit-area {
  border-right-width: 1px!important;
}
