﻿<style>
.cartelIndicacion{
	top:-28px;
}
#fnd_M3_P02-1{
		background: url(img/fnd_M3_P02-1.png) no-repeat; 
}
#fnd_M3_P02_2{
		background: url(img/fnd_M3_P02-2.png) no-repeat; 
}
.recuadro {color:#fff; font-family: 'OpenSans';font-weight: 300;font-size: 16px;}

</style>

<div id="container_page">
	 <div class="cartelIndicacion"> <p>Pulse sobre las flechas verticales para ver el contenido.</p></div>

	<div id="gallery">
		<div id="gallery_container">
			
			<div class="gallery_item" id="fnd_M3_P02-1" rel="1">
				
				<div id="info_box2" class="info_box" style="left:0px; top:-10px; width:600px;"><h1>Un nuevo rol</h1></div>
				<div id="info_box2" class="info_box" style="left:0px; top:-10px; width:200px;"><p style="width:200px;">Algunos profesores han demostrado ser un ejemplo por el nuevo rol que han asumido en este siglo XXI.</p></div>
					
				<div id="info_box3" class="info_box fnd_marron1" style="left:67px; top:200px; width:200px; padding:10px; text-align:center;"><span class="recuadro">Por sus técnicas de enseñanza.</span></div>
				
				<div id="info_box4" class="info_box fnd_marron1" style="left:560px; top:30px; width:200px; padding:10px; text-align:center;"><span class="recuadro">Por su actitud frente a los estudiantes.</span></div>
				
				<div id="info_box5" class="info_box fnd_marron1" style="left:700px; top:100px; width:200px; padding:10px; text-align:center;"><span class="recuadro">Por lo que han compartido y enseñado a otros colegas.</span></div>

				<div id="info_box6" class="info_box" style="left:380px; top:270px; width:490px;"><p style="width:490px;"><b>¿Sabías qué?</b><br/>SMART Technologies Inc. es una empresa que provee soluciones interactivas a escuelas. Las TIC han tomado tanta importancia que SMART ya tiene sus programas en  104 colegios de Europa, Oriente Próximo y África (EMEA).</p></div>
			
			</div>
			
			<div class="gallery_item" id="fnd_M3_P02_2" rel="2">
					
				<div id="info_box7" class="info_box" style="left:220px; top:500px; width:600px;"><h1>El proyecto ITEC</h1></div>
				<div id="info_box8" class="info_box" style="left:220px; top:500px; width:660px;"><p style="width:660px;">Es un proyecto que pretende estudiar hasta <b>1.000 aulas</b> centradas en el aprendizaje en el siglo XXI, el <b>diseño de las aulas</b> en el futuro, las <b>capacidades y competencias</b> necesarias a los docentes del futuro.</p></div>
				
				<div id="info_box9" class="info_box" style="left:320px; top:610px; width:700px;">
				<table style="width:500px;    margin: 40px;">
					<tbody>
					<tr>
					<td style="width: 100px;">Nombre del docente</td>
					<td style="width: 400px;">Manuel Agudo.</td>
					</tr>
					<tr>
					<td style="width: 100px;">Área </td>
					<td style="width: 400px;">Matemáticas y Ciencias.</td>
					</tr>
					<tr>
					<td style="width: 100px;">Tema </td>
					<td style="width: 400px;">Teorema de Pitágoras.</td>
					</tr>
					<tr>
					<td style="width: 100px;">Acitvidad  </td>
					<td style="width: 400px;">Los alumnos salen al patio para medir la sombra del edificio, de un árbol y la canasta de baloncesto. Los alumnos toman muestras (datos en este caso), elaboran hipótesis, y con esta información, crean un material multimedia.</td>
					</tr>
					</tbody>
				</table>
				</div>
				
				<div id="info_box10" class="info_box" style="left:220px; top:810px; width:660px;"><p style="width:660px;">Un piloto del proyecto se está llevando a cabo. Se han tenido muy buenos resultados, demostrando las capacidades del nuevo docente del siglo XXI. </p></div>
				
			</div>
	

		<div class="gallery_prev" style="top:470px"></div>
		<div class="gallery_next"></div>
	</div>
	
	
</div>

<script type="text/javascript" src="js/_utils/_gallery/gallery.js"></script>
<script>
	var totalEventos;
	var totalActivos;
	var queue;
	
	var ruta_img =  "contenido/M3_P02/img/";
	
	function init(){
		portada = false;
		precarga();

		//Control de eventos para pasar de página (Plantilla)
		totalEventos = 2;
		totalActivos = new Array();
		for (var i = 1; i < totalEventos + 1; i++) {
			totalActivos[i] = 0;
		}

		$("#gallery").gallery({visible : 1, direction : "vertical", distance : 50, duration : 300, callback : descontarGaleria});
		
		_global.externalTrace("plantilla, cantidad de eventos",totalEventos);
	}


	function precarga(){
		//Precarga de imagenes
		queue = new createjs.LoadQueue(true);	
		queue.addEventListener("fileload", handleFileLoad);
		queue.addEventListener("complete", handleComplete);
		handleComplete();

	}
	
	function handleFileLoad(event) {
		var item = event.item; // Referencia al item que genera el evento
			
	}
	
	
	/* al acabar la carga lanzamos las animaciones */
	
	function handleComplete(event) {
		navigation.checkStatus();
	}	
	

	
	function descontarGaleria(item) {
		descontar(item.attr("rel"));
	}
	
	

	/* AVANCE */
	
	function descontar(cual) {
		_global.externalTrace("plantilla descontar ",cual);
		totalActivos[cual] = 1;
		compruebaBotones();
	}
	
	function compruebaBotones() {
		alguno = false;
		for (i = 1; i < totalActivos.length + 1; i++) {
			if (totalActivos[i] == 0) {
				alguno = true;
				break;
			}
		}
		if (!alguno) {
			HabilitaBotones();
		}
		_global.externalTrace("plantilla compruebaBotones ",alguno);
	}
	
</script>
	