.form-group.field-authitem-data, .form-group.field-rule_name{
    display: none;
}

.role-index table thead th:nth-child(3),
.role-index table tbody td:nth-child(3),
.role-index a[class='btn btn-success'],
.role-index a[aria-label='Eliminar'],
.auth-item-view .form-control.list  optgroup[label='Routes'],
.assignment-index .form-control.list  optgroup[label='Permission'],
.auth-item-view a[class='btn btn-danger'],
.auth-item-view a[class='btn btn-success'],
.auth-item-view table tbody tr:nth-child(3),
.auth-item-view table tbody tr:nth-child(4){
    display: none !important;
}

.role-index .glyphicon-eye-open:before,
.assignment-index .glyphicon-eye-open:before{
        content: "\e136" !important;
}

.box-body img{
    background-color: #ddd;
}

.btn-default{
    background-color: #f4f4f4 !important;
    color: #3c8dbc !important;
    border-color: #999 !important;
    margin-left: 18px;
}

.box-body .text-center{
    margin-bottom: 15px;
}

li.valor-caracteristica a{
    margin-left: 20px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right), .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu{
    width: 210px !important
}

.btn-reportes-content{
    margin-top: 25px;
} 

