﻿<style>
.button{height: 130px;}

.fnd_M2_P04{
		background: url(img/fnd_M2_P04.png) no-repeat;
	}

#link_subpage_1{top:400px; left:130px; width:330px;}
#link_subpage_2{top:322px; left:560px; height:65px;}
#link_subpage_3{top:480px; left:690px; }



.fnd_marron1{padding: 5px; text-align: center;	}
#cartelIndicacion{top: -40px;left: 800px; }

</style>


<div id="container_page">
	<div id="fnd" class="fnd_M2_P04" style="top:33px"></div>
	<div class="cartelIndicacion"> <p style="padding:99px 0px 0px 12px;">Pulse sobre los botones para más información.</p></div>
	
	<div id="info_box" class="info_box" ><h1>La falta de aprendizaje</h1></div>
	
	<div id="info_box2" class="info_box" style="top:90px; left:40px; width:750px"><p>En realidad, ¿cuál es la razón de la falta de aprendizaje?</p>
	</div>

<div id="link_subpage_1" class="link_secundario azul" rel="1"> <p>Cantidad vs. calidad</p></div>
<div id="link_subpage_2" class="link_secundario azul" rel="2"> <p>Metodologías<br/>usadas</p></div>
<div id="link_subpage_3" class="link_secundario azul" rel="3"> <p>Saber más</p></div>


	<div id="subpagePopUp_1" class="subpagePopUp">
		<div class="text">
			<a href="javascript:void(0)" class="btn_back"></a>
			<h1>Cantidad vs. calidad</h1>
			<p>Se sigue haciendo lo mismo. Todavía existe la creencia de que con <b>agregar contenido</b> se <b>solucionan los problemas.</b> Es decir, que con agregar unos años más a Primaria o a Secundaría, los niños y jóvenes adquirirán más conocimiento. El problema está relacionado con la “calidad” más que con la “cantidad”.</p>
		 </div>
	</div>

	<div id="subpagePopUp_2" class="subpagePopUp">
		<div class="text">
			<a href="javascript:void(0)" class="btn_back"></a>
			<h1>Metodologías usadas</h1>
			<p>Los docentes siguen usando <b>métodos poco creativos e innovadores</b> que no motivan a los niños a aprender. El estudiante se convierte en un “robot” que solo <b>ordena y graba la información</b> por un tiempo “para pasar el examen”.</p>
		 </div>
	</div>
	
	<div id="subpagePopUp_3" class="subpagePopUp">
		<div class="text">
			<a href="javascript:void(0)" class="btn_back"></a>
			<h1>Metodología finlandesa</h1>
			<p>Los docentes finlandeses saben que la <b>participación de los estudiantes</b> en clase es <b>importante</b> para <b>adquirir conocimientos:</b></p>
			<ul>
			<li>Durante el 60% de la clase habla el estudiante planteando ideas y dando respuestas.</li> 
			<li>Durante el 40% restante el profesor ofrece explicaciones y nuevos conocimientos.</li> 
			</ul>
		 </div>
	</div>

</div>  

<script>
	var totalEventos;
	var totalActivos;
	var queue;
	var n_rel;
	var ruta_img =  "contenido/M1_P03/img/";



	function init(){
		portada = false;
		precarga();
		initInteractions();
		//HabilitaBotones(); //Enable next buttom	
		
		//Control de eventos para pasar de página (Plantilla)
		totalEventos = 3;
		totalActivos = new Array();
		for (var i = 1; i < totalEventos + 1; i++) {
			totalActivos[i] = 0;
		}
		_global.externalTrace("plantilla, cantidad de eventos",totalEventos);


		 
	}

	function initInteractions(){	
	 
		$("a.btn_back").bind(clickEvent,function(e){
			var container = $(this).parent().parent();
			e.preventDefault();	
				container.fadeOut();
		});

		$(".back_sub").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeOut();
			$(".subpagePopUp").fadeOut();
		});

		$(".link_secundario").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeIn();
			$("#subpagePopUp_" + $(this).attr("rel")).fadeIn();
			descontar($(this).attr("rel"));
		});

		 $("#link_subpage_6").click(function(event){ 
		window.open('contenido/download/manuales/M2_P04_pdf1.pdf', '_blank');
		event.preventDefault();
		descontar($(this).attr("rel"));
		}); 

	}

	
	


	function precarga(){
		//Precarga de imagenes
		queue = new createjs.LoadQueue(true);	
		queue.addEventListener("fileload", handleFileLoad);
		queue.addEventListener("complete", handleComplete);

		handleComplete();
		}
	
	function handleFileLoad(event) {
		var item = event.item; // Referencia al item que genera el evento
	}
	
	
	/* al acabar la carga lanzamos las animaciones */
	
	function handleComplete(event) {
	
		navigation.checkStatus(); // Comunication with Scorm
	}	
	
	

	/* AVANCE */
	
	function descontar(cual) {
		_global.externalTrace("plantilla descontar ",cual);
		totalActivos[cual] = 1;
		compruebaBotones();
	}
	
	function compruebaBotones() {
		alguno = false;
		for (i = 1; i < totalActivos.length + 1; i++) {
			if (totalActivos[i] == 0) {
				alguno = true;
				break;
			}
		}
		if (!alguno) {
		 
		HabilitaBotones();
		 
		}
		_global.externalTrace("plantilla compruebaBotones ",alguno);
	}

</script>