﻿<style>
.fnd_M3_P03{ background: url(img/fnd_M3_P03.png) no-repeat;	}
	
.subpagePopUp .text{ padding: 20px 50px; }	

.button{
    width: 260px;
    height: 126px;
}

#img1 {
left:57px;
top:170px;
}
#img2 {
left: 370px;
top:170px;
}
#img3 {
left: 650px;
top:170px;
}

#img4 {
left:237px;
top:360px;
}
#img5 {
left: 507px;
top:360px;
}



#info_box2{top:210px;left:123px;width:160px;text-align:center;}
#info_box3{top:214px;left:450px;width:130px;text-align:center;}
#info_box4{top:215px;left:670px;width:110px;text-align:center;}
#info_box5{top:401px;left:322px;width:130px;text-align:center;}
#info_box6{top:408px;left:550px;width:110px;text-align:center;}
</style>


<div id="container_page">
<div id="fnd" class="fnd_M3_P03"></div>
<div class="cartelIndicacion"> <p style="padding-top:99px;">Pulse sobre los botones para más información.	</p></div>
	
	<div id="info_box" class="info_box grande">	<h1>¿Cómo transformar el aula?</h1>	
	<p>El docente del siglo XXI <b>no puede quedarse haciendo lo mismo</b> y seguir graduando estudiantes que no están preparados para <b>enfrentarse al nuevo mundo.</b> Así pues, el docente debe:</p></div>

	<div id="info_box2" class="info_box"><p><b>Desarrollar sus habilidades y conocimientos.</b></p></div>
	<div id="info_box3" class="info_box "><p><b>Promover el trabajo colaborativo.</b></p></div>
	<div id="info_box4" class="info_box "><p><b>Atreverse a tratar cosas nuevas.</b></p></div>
	<div id="info_box5" class="info_box "><p><b>Crear un ambiente idóneo.</b></p></div>
	<div id="info_box6" class="info_box "><p><b>Ser un agente de cambio.</b></p></div>
	
	
	
	<div id="img1" class="button" rel='1'> 
		<div class="link_verMas" style="left:185px; top:-10px;"></div>
	</div>

	<div id="subpagePopUp_1" class="subpagePopUp">
		<div class="text">
			<a href="javascript:void(0)" class="btn_back"></a>
			<h1>Desarrollar sus habilidades y conocimientos</h1>
			<p>Aprender sobre las TIC, las nuevas herramientas disponibles y las tendencias educativas, entre otras.</p>
		</div>
	</div>

  

	<div id="img2" class="button" rel='2'>
		<div class="link_verMas" style="left:185px; top:-10px;"></div>
	</div>

	<div id="subpagePopUp_2" class="subpagePopUp">
		<div class="text">
			<a href="javascript:void(0)" class="btn_back"></a>
			<h1>Promover el trabajo colaborativo</h1>
			<p>El trabajo colaborativo es una habilidad que también debe adquirir. Debe acostumbrarse a compartir su trabajo y a recibir retroalimentación e información por parte de sus colegas.</p>
		</div>
	</div>

	<div id="img3" class="button" rel='3'>
		<div class="link_verMas" style="left:185px; top:-10px;"></div>
	</div>

	<div id="subpagePopUp_3" class="subpagePopUp">
		<div class="text">
			<a href="javascript:void(0)" class="btn_back"></a>
			<h1>Atreverse a tratar cosas nuevas</h1>
			<p>Se trata de estar dispuesto a utilizar nuevas herramientas y a ser recursivo. En pocas palabras, atreverse a aplicar la creatividad y ser innovador.</p>
		</div>
	</div>


	<div id="img4" class="button" rel='4'>
		<div class="link_verMas" style="left:185px; top:-10px;"></div>
	</div>

	<div id="subpagePopUp_4" class="subpagePopUp">
		<div class="text">
			<a href="javascript:void(0)" class="btn_back"></a>
			<h1>Crear un ambiente idóneo</h1>
			<p>Debe dejar a un lado la idea de que el aula solo es para que los alumnos vayan a escucharlo y a responder sus preguntas. Debe estar dispuesto a crear un ambiente relajado y participativo. Ninguna idea es absurda y el aula es un ambiente de experimento en donde todos están aprendiendo y es normal fallar.</p>
		</div>
	</div>


	<div id="img5" class="button" rel='5'>
		<div class="link_verMas" style="left:135px; top:-10px;"></div>
	</div>

	<div id="subpagePopUp_5" class="subpagePopUp">
		<div class="text">
			<a href="javascript:void(0)" class="btn_back"></a>
			<h1>Ser un agente de cambio</h1>
			<p>El docente es un agente influenciador sobre el alumno y hace partícipe a la familia y sociedad, convirtiéndose en un agente de cambio.</p>
		</div>
	</div>






</div>


<script>
	var totalEventos;
	var totalActivos;
	var queue;

	var ruta_img =  "contenido/M4_P04/img/";
	    

	function init(){
		portada = false;

		precarga();
		//HabilitaBotones();
		// array for the buttons numbers

		//Control de eventos para pasar de página (Plantilla)
		totalEventos = 5;
		totalActivos = new Array();
		for (var i = 1; i < totalEventos + 1; i++) {
			totalActivos[i] = 0;
		}

		



		 $("a.btn_back").bind(clickEvent,function(e){
			var container = $(this).parent().parent();
			e.preventDefault();	
				container.fadeOut();
		});

		$(".back_sub").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeOut();
			$(".subpagePopUp").fadeOut();
		});

		$(".button").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeIn();
			$("#subpagePopUp_" + $(this).attr("rel")).fadeIn();
			descontar($(this).attr("rel"));
		});




		_global.externalTrace("plantilla, cantidad de eventos",totalEventos);
	}

	function precarga(){
		//Precarga de imagenes
		queue = new createjs.LoadQueue(true);	
		queue.addEventListener("fileload", handleFileLoad);
		queue.addEventListener("complete", handleComplete);
		handleComplete();

	}
	
	function handleFileLoad(event) {
		var item = event.item; // Referencia al item que genera el evento
			
	}
	
	
	/* al acabar la carga lanzamos las animaciones */
	
	function handleComplete(event) {
		navigation.checkStatus();
	}	




	/* AVANCE */

	function descontar(cual) {
		_global.externalTrace("plantilla descontar ",cual);
		totalActivos[cual] = 1;
		compruebaBotones();
	}

	function compruebaBotones() {
		alguno = false;
		for (i = 1; i < totalActivos.length + 1; i++) {
			if (totalActivos[i] == 0) {
				alguno = true;
				break;
			}
		}
		if (!alguno) {
			HabilitaBotones();
		}
		_global.externalTrace("plantilla compruebaBotones ",alguno);
	}

</script>
