﻿<style>


#info_box1{left: 310px; top: 20px;    width: 500px;}

#info_box3{
top: 300px;
left: 385px;
} 

#cartelIndicacion{top: -50px; }

</style>


<div id="container_page">
	<div id="fnd" class="fnd_presentacion"></div>
	
	<div id="info_box_1" class="info_box mediano3" >
		<h1>Presentation</h1>
			
	</div>

	
	<div id="cartelAlerta-old" class="cartelAlerta-old" style="display:none;"> 
		<p style="padding: 11px 0px 0px 52px;">Without connectivity, there are contents that will not be displayed.</p></div>
	
	<!-- VÍDEOS -->
	<div id="video_box1" class="video_infobox" style="left:170px; top:135px;">
		<iframe src="https://player.vimeo.com/video/86295727" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>	


</div>

<script>
	var totalEventos;
	var totalActivos;
	var queue;

	var n_rel;
	
	var ruta_img =  "contenido/M1_P02/img/";
	
 	initVideo();
	pauseAudio();
	
	
	function init(){
		portada = false;
		precarga();
		HabilitaBotones();
		//Control de eventos para pasar de página (Plantilla)
		totalEventos = 1;
		totalActivos = new Array();
		for (var i = 1; i < totalEventos + 1; i++) {
			totalActivos[i] = 0;
		}
		//initVideo();
		_global.externalTrace("plantilla, cantidad de eventos",totalEventos);

		

		 
	}
	
	
	
	function initVideo(){
			  //Gets the iframe by id
			    var iframe = $('#video')[0],
    			player = $f(iframe);

			    // When the player is ready/loaded, add a finish event listener
			   player.addEvent('ready', function() {       
       				 player.addEvent('finish', onFinish);
   				 });

			    //Define the onFinish function that will be called

			    function onFinish(id) {
			    	 HabilitaBotones();

			    }
			     

	}
	
	function precarga(){
		//Precarga de imagenes
		queue = new createjs.LoadQueue(true);	
		queue.addEventListener("fileload", handleFileLoad);

		queue.addEventListener("complete", handleComplete);
		handleComplete();
	}
	
	function handleFileLoad(event) {
		var item = event.item; // Referencia al item que genera el evento
	}
	
	
	/* al acabar la carga lanzamos las animaciones */
	
	

	function handleComplete(event) {
		lanzarAnimaciones();
	}	
	


	function lanzarAnimaciones(event) {
			 navigation.checkStatus(); //// Comunication with Scorm
	}	
	

	/* AVANCE */
	
	function descontar(cual) {
		_global.externalTrace("plantilla descontar ",cual);
		totalActivos[cual] = 1;
		compruebaBotones();
	}
	
	function compruebaBotones() {
		alguno = false;
		for (i = 1; i < totalActivos.length + 1; i++) {
			if (totalActivos[i] == 0) {
				alguno = true;
				break;
			}
		}
		if (!alguno) {
			
			HabilitaBotones();
		}
		_global.externalTrace("plantilla compruebaBotones ",alguno);
	}
	
</script>