<style>

.cartelIndicacion{
	top:-28px;
}
#ayuda_img_1{
	background: url(img/ayuda_img_1.png) no-repeat;
}
#ayuda_img_2{
	background: url(img/ayuda_img_2.png) no-repeat;
}
#ayuda_img_3{
	background: url(img/ayuda_img_3.png) no-repeat;
}
#ayuda_img_4{
	background: url(img/ayuda_img_4.png) no-repeat;
}
#ayuda_img_5{
	background: url(img/ayuda_img_5.png) no-repeat;
}
#ayuda_img_6{
	background: url(img/ayuda_img_6.png) no-repeat;
}
#ayuda_img_7{
	background: url(img/ayuda_img_7.png) no-repeat;
}
#ayuda_img_8{
	background: url(img/ayuda_img_8.png) no-repeat;
}

</style>

<div id="container_help">
	 <div id="fnd" class="fnd_neutro"></div>
 <div class="cartelIndicacion"> <p>Pulse sobre las flechas verticales para ver el contenido.</p></div>

<div id="menu_help_wrap">



			<a href="#" id="help_close" class="close"></a>

		</div>


	<div id="gallery">
		<div id="gallery_container">
			<div class="gallery_item" id="ayuda_img_1" rel="1">
				<h1>Ayuda</h1>

				<p style="padding-top: 0px;">Bienvenidos,<br> En esta ayuda conocerá los <b>aspectos más importantes</b> para moverse por el curso:<br>
				<ul>
					<li>Sabrá <b>cómo navegar</b> a través del curso y cómo utilizar los diferentes recursos que aparecen.</li>
			   		<li>Conocerá cuáles son los <b>elementos interactivos.</b></li>
			   	</ul>
			   	<h2>¡Comencemos!</h2>

	   		</div>

			<div class="gallery_item" id="ayuda_img_2" rel="2">
				<h3>Interfaz</h3>

				<p style="padding-top: 0px;">La interfaz del curso es <b>muy intuitiva</b> y se compone de las <b>siguientes secciones:</b></p>
				<ul>
					<li>Botones de navegación.</li>
					<li>Barra de herramientas.</li>
				</ul>
			</div>

			<div class="gallery_item" id="ayuda_img_3" rel="3">
				<h3>¿Cómo navegar?</h3>
				<p style="padding-top: 0px;width: 250px;"><b>Menú de navegación horizontal (lineal): </b> está formado por los botones de avance y retroceso. Para que pueda completar el curso tiene que avanzar por todas las pantallas en el orden establecido pulsando en los cursores.</p>
			</div>

			<div class="gallery_item" id="ayuda_img_4" rel="4">
				<h3>¿Cómo navegar?</h3>
				<p style="padding-top: 0px;width: 280px;"><b>Menú vertical (secuencial): </b> a medida que vaya visitando las pantallas (con el menú horizontal), se irán activando las secciones en la que se encuentra. Si finaliza todo el tema, ya le permitirá navegar libremente. Podrá acceder desde el botón de “Índice”, situado en la barra de herramientas.</p>
			</div>


			<div class="gallery_item" id="ayuda_img_5" rel="5">
				<h3>Barra de herramientas</h3>
				<ul style="padding-top: 0px;width: 400px;">
					<li><b>Índice:</b> le permitirá navegar libremente una vez haya visitado todas las pantallas.</li>
					<li><b>Ayuda:</b> le permite acceder a la ayuda del curso.</li>
					<li><b>Numeración:</b> identificará en todo momento cuantas pantallas ha visitado y cuantas le faltan para finalizar el contenido.</li>
					<li><b>Material:</b> accede a la documentación adicional que le sugerimos en el curso, así como a los enlaces de interés.</li>
			   	</ul>
			   	<p style="padding-top: 15px; width: 400px;">Vienen representados por los siguientes iconos:</p>
			</div>

			<div class="gallery_item" id="ayuda_img_6" rel="6">
				<h3>Elementos interactivos</h3>

				<ul style="padding-top: 0px;width: 250px;">
					<li><b>Galería de imágenes:</b> permite mediante flechas de avance y retroceso visualizar el contenido a modo de banco de imágenes con texto.</li>
			   	</ul>
			   	<p style="padding-top: 20px;width: 300px;">Siempre se indicará la existencia de este elemento con la ilustración de una esfera.</p>
			</div>

			<div class="gallery_item" id="ayuda_img_7" rel="7">
				<h3>Elementos interactivos</h3>

				<ul style="padding-top: 0px;width: 250px;">
					<li><b>Botones interactivos:</b> en las pantallas pueden aparecer elementos en los que hay que pulsar para ver el contenido asociado.</li>
			   	</ul>
			</div>

			<div class="gallery_item" id="ayuda_img_8" rel="8">
				<h3>Elementos interactivos</h3>
			 	<ul style="padding-top: 0px;width: 250px;">
					<li><b>Ventanas emergente:</b> pueden salir de texto o de imagen. Al pulsar sobre elementos se abrirá una pequeña ventana con el contenido. Además, encontrará un icono que le permitirá identificar rápidamente el contenido interactivo.</li>
			   	</ul>
			   	<p style="padding-top: 40px;width: 300px;">Siempre se indicará la existencia de este elemento con la ilustración de una esfera.</p>
			</div>


		</div>
		<div class="gallery_prev"></div>
		<div class="gallery_next"></div>
	</div>


</div>

<script type="text/javascript" src="js/_utils/_gallery/gallery.js"></script>
<script>

	function help_init(){

		$("#gallery").gallery({visible : 1, direction : "vertical", distance : 50, duration : 300, callback : descontarGaleria});

		$("#help_close, #fnd_shadow").click(function(e){
			e.preventDefault();
			//resumeVideo();
			resumeAudio();
			$("#menu_help_container").fadeOut();
			if((ie)||(oldIe)){
			$('#popup-youtube-player').show();
		}
		});

		function descontarGaleria(item) {
		descontar(item.attr("rel"));

	}
      }

</script>
