﻿<style>

</style>

<div id="container_glosario">

<div id="menu_glosario_wrap"  class="fnd_azul">
<h1>Glosario</h1>
<a href="javascript:void(0)"  id="glosario_close" class="close"></a>
<div id="glosario">
</div>
</div>

</div>

<script type="text/javascript" src="contenido/glosario/js/iniciaGlosario1.js"></script>
<script>
	 
	 function glosario_init(){
		
		$("#glosario_close, #fnd_shadow").click(function(e){
			e.preventDefault();
			resumeVideo();
			resumeAudio();
			$("#menu_glosario_container").fadeOut();
		});
      }  
</script>

