﻿<style>
.cartelIndicacion{
	top:-28px;
}
#fnd_M2_P07-1{
		background: url(img/fnd_M2_P07-1.png) no-repeat; 
}
#fnd_M2_P07_2{
		background: url(img/fnd_M2_P07-2.png) no-repeat; 
}
.piramide {text-align:center;}
.piramideizq {color:#fff !important; font-size:14px !important; text-align:left; line-height:13px !important;}
.piramideder {color:#fff !important; font-size:14px !important; text-align:right; line-height:13px !important;}

.giro {width:100px;
      transform: rotate(3deg);
      -webkit-transform: rotate(3deg); 
      -moz-transform: rotate(3deg);
      -o-transform: rotate(3deg);
	}

</style>

<div id="container_page">
	 <div class="cartelIndicacion"> <p>Pulse sobre las flechas verticales para ver el contenido.</p></div>
	<div id="info_box1" class="info_box grande"><h1 style="width:600px;">Los roles</h1> </div>			

	<div id="gallery">
		<div id="gallery_container">
			
			<div class="gallery_item" id="fnd_M2_P07-1" rel="1">
				
				<div id="info_box2" class="info_box" style="left:0px; top:0px; width:600px;"><p style="width:600px;">Así como las herramientas de enseñanza-aprendizaje cambian, los alumnos y los docentes van asumiendo <b>diferentes roles</b> que se ajustan a las herramientas usadas. Estos nuevos roles inclinan la balanza hacia <b>mejores métodos</b> de aprendizaje.</p></div>
					
			</div>
			
			<div class="gallery_item" id="fnd_M2_P07_2" rel="2">
					
				<div id="info_box5" class="info_box giro" style="left:-8px; top:454px; width:980px;">
					<div id="info_box5a" class="info_box" style="left:88px; top:59px; width:300px;"><p class="piramide" style="width:300px;"><b>Roles y herramientas clásicas</b></p></div>
					<div id="info_box5b" class="info_box" style="left:140px; top:97px; width:200px;"><p class="piramide" style="width:200px;">Los materiales permitidos son los libros elaborados por expertos. </p></div>
					<div id="info_box5c" class="info_box" style="left:80px; top:170px; width:200px;"><p class="piramide" style="width:200px;"><b>Alumno</b></p></div>
					<div id="info_box5d" class="info_box" style="left:223px; top:176px; width:200px;"><p class="piramide" style="width:190px;"><b>Profesor</b></p></div>
					<div id="info_box5e" class="info_box" style="left:117px; top:209px; width:120px;"><p class="piramide" style="width:120px;">Debe creer únicamente en lo que dice el docente.</p></div>
					<div id="info_box5f" class="info_box" style="left:260px; top:223px; width:100px;"><p class="piramide" style="width:100px;">Es el único que tiene la razón.</p></div>
					
					<div id="info_box5g" class="info_box" style="left:117px; top:319px; width:100px;"><p class="piramide" style="width:100px;">Sujeto pasivo. Solo receptor. </p></div>
					<div id="info_box5h" class="info_box" style="left:254px; top:320px; width:100px;"><p class="piramide" style="width:100px;">Sujeto activo. Solo transmisor.</p></div>
				</div>	
				
				<div id="info_box6a" class="info_box" style="left:496px; top:410px; width:280px;"><p class="piramide" style="width:280px; text-align:right;"><b>Roles y herramientas del siglo XXI </b></p></div>

				<div id="info_box6" class="info_box giro" style="left:420px; top:375px; width:980px;">
					
					<div id="info_box6b" class="info_box" style="left:118px; top:80px; width:270px;"><p class="piramide" style="width:270px; line-height:16px;">Impulsan el trabajo colaborativo entre estudiantes y docentes. </p></div>
					
					<div id="info_box6b" class="info_box" style="left:130px; top:127px; width:270px;"><p class="piramide" style="width:270px;line-height:16px; ">La tecnología juega un papel muy importante en el aprendizaje y enseñanza de un tema. </p></div>
					
					<div id="info_box6c" class="info_box" style="left:77px; top:183px; width:200px;"><p class="piramide" style="width:200px;"><b>Alumno</b></p></div>
					<div id="info_box6d" class="info_box" style="left:260px; top:183px; width:200px;"><p class="piramide" style="width:190px;"><b>Profesor</b></p></div>
					<div id="info_box6e" class="info_box" style="left:100px; top:219px; width:150px;"><p class="piramide" style="width:150px; line-height:16px;">Se mantiene alerta a nuevos conocimientos y es cada vez más curioso. </p></div>
					<div id="info_box6f" class="info_box" style="left:275px; top:223px; width:150px;"><p class="piramide" style="width:150px; line-height:16px;">Debe mantener al alumno interesado y despertar la creatividad.</p></div>
					
					<div id="info_box6g" class="info_box" style="left:114px; top:315px; width:150px;"><p class="piramide" style="width:150px; line-height:16px;">Tiene otras fuentes de información diferentes al profesor. No le cree todo. </p></div>
					<div id="info_box6h" class="info_box" style="left:284px; top:346px; width:150px;"><p class="piramide" style="width:150px;">No lo sabe todo.</p></div>
					
					<div id="info_box6i" class="info_box" style="left:111px; top:422px; width:150px;"><p class="piramide" style="width:150px; line-height:16px;">Sujeto activo, es tanto receptor como transmisor de información.  </p></div>
					<div id="info_box6j" class="info_box" style="left:284px; top:423px; width:150px;"><p class="piramide" style="width:150px; line-height:16px;">Sujeto activo. Receptor y transmisor  de la información.</p></div>
				</div>	
				
				
			</div>
	

		<div class="gallery_prev" style="top:470px"></div>
		<div class="gallery_next"></div>
	</div>
	
	
</div>

<script type="text/javascript" src="js/_utils/_gallery/gallery.js"></script>
<script>
	var totalEventos;
	var totalActivos;
	var queue;
	
	var ruta_img =  "contenido/M2_P07/img/";
	
	function init(){
		portada = false;
		precarga();

		//Control de eventos para pasar de página (Plantilla)
		totalEventos = 2;
		totalActivos = new Array();
		for (var i = 1; i < totalEventos + 1; i++) {
			totalActivos[i] = 0;
		}

		$("#gallery").gallery({visible : 1, direction : "vertical", distance : 50, duration : 300, callback : descontarGaleria});
		
		_global.externalTrace("plantilla, cantidad de eventos",totalEventos);
	}


	function precarga(){
		//Precarga de imagenes
		queue = new createjs.LoadQueue(true);	
		queue.addEventListener("fileload", handleFileLoad);
		queue.addEventListener("complete", handleComplete);
		handleComplete();

	}
	
	function handleFileLoad(event) {
		var item = event.item; // Referencia al item que genera el evento
			
	}
	
	
	/* al acabar la carga lanzamos las animaciones */
	
	function handleComplete(event) {
		navigation.checkStatus();
	}	
	

	
	function descontarGaleria(item) {
		descontar(item.attr("rel"));
	}
	
	

	/* AVANCE */
	
	function descontar(cual) {
		_global.externalTrace("plantilla descontar ",cual);
		totalActivos[cual] = 1;
		compruebaBotones();
	}
	
	function compruebaBotones() {
		alguno = false;
		for (i = 1; i < totalActivos.length + 1; i++) {
			if (totalActivos[i] == 0) {
				alguno = true;
				break;
			}
		}
		if (!alguno) {
			HabilitaBotones();
		}
		_global.externalTrace("plantilla compruebaBotones ",alguno);
	}
	
</script>
	