﻿<style>

#info_box{width: 520px;}
#info_box2{top:332px;left:150px;width:335px;}

</style>

<div id="container_page">
	
	<div id="fnd" class="fnd_despedida"></div>
	
	<div id="info_box1" class="info_box mediano2">
		<h1>Cierre</h1> 
		<p>Le animamos a poner en práctica todo lo aprendido para implantar un modelo innovador que transforme su escuela.</p>
		<h5>¿Está preparado para implantar una cultura de innovación en su aula?</h5>
		<p>* Le recordamos que para finalizar puede realizar el test de autoevaluación y comprobar lo que ha aprendido. </p>
</div>


<script>
	var totalEventos;
	var totalActivos;
	var queue;
	var n_rel;
	var ruta_img =  "contenido/M5_P05/img/";


	function init(){
		portada = false;
		precarga();
		initInteractions();
		//HabilitaBotones(); //Enable next buttom	
		
		//Control de eventos para pasar de página (Plantilla)
		totalEventos = 1;
		totalActivos = new Array();
		for (var i = 1; i < totalEventos + 1; i++) {
			totalActivos[i] = 0;
		}
		_global.externalTrace("plantilla, cantidad de eventos",totalEventos);
		scorm.data.set("cmi.core.score.raw",100);
		scorm.data.set("cmi.core.lesson_status","completed");	
		 
	}



	


	function precarga(){
		//Precarga de imagenes
		queue = new createjs.LoadQueue(true);	
		queue.addEventListener("fileload", handleFileLoad);
		queue.addEventListener("complete", handleComplete);

		handleComplete();
		}
	
	function handleFileLoad(event) {
		var item = event.item; // Referencia al item que genera el evento
	}
	
	
	/* al acabar la carga lanzamos las animaciones */
	
	function handleComplete(event) {
	
		navigation.checkStatus(); // Comunication with Scorm
	}	
	
	

	/* AVANCE */
	
	function descontar(cual) {
		_global.externalTrace("plantilla descontar ",cual);
		totalActivos[cual] = 1;
		compruebaBotones();
	}
	
	function compruebaBotones() {
		alguno = false;
		for (i = 1; i < totalActivos.length + 1; i++) {
			if (totalActivos[i] == 0) {
				alguno = true;
				break;
			}
		}
		if (!alguno) {
		 
		HabilitaBotones();
		 
		}
		_global.externalTrace("plantilla compruebaBotones ",alguno);
	}

</script>
	