.main-box img{
    max-width: 100%;
}

.recomendacion-tool-bar a.fucsia-link{
    margin-left: 10px;
}

.recomendacion-tool-bar{
    position: absolute;
    bottom: 0px;
}

.row .col-xs-12,.row .col-sm-6,.row .col-ms-6,.row .col-lg-6{
    padding-bottom: 15px;
}

.lined-box .body-lined{
    padding-bottom: 10px;
}

textarea.round-form-control{
    height: auto !important;
}

.main-box{
        padding: 5px 5px 5px;
}
.link-group.detalle-recurso{
    margin-top: 10px;
}

.resultados-tool-bar{
    margin-top: 10px;
}

.resultados-tool-bar a{
    padding-right: 10px;
    display: inline-table;
}

.stars-vote-form .rating-sm{
    font-size: 14px;
    padding-right: 10px;
}

@media screen and (max-width: 767px){
    .sm-link{
        font-size: 9px;
    }
}

.has-success .control-label{
    color: #000000;
}
.has-success .form-control{
    border-color: #0070AB;
}

.has-error .control-label, .has-error .help-block{
    color: #D4145A;
}
.has-error .form-control{
    border-color:  #D4145A;
} 

.form-control{
    height:  26px;
}

.has-success .select2-container--open .select2-selection, .has-success .select2-container--krajee.select2-container--focus .select2-selection{
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #0070AB80;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #0070AB80;
border-color: #0070AB;
} 
.has-success.select2-container--krajee .select2-dropdown, .has-success .select2-container--krajee .select2-selection{
border-color: #0070AB;
}
