@charset "UTF-8";
    /*! normalize.css v3.0.2 | MIT License | git.io/normalize */body, html {
    height: 100%}
body, mark {
    color: #000;
}
.btn, a, a:visited {
    -webkit-transition: all .3s;
    outline: 0;
    text-decoration: none;
}
a, a:active, a:focus, a:hover, a:visited, fieldset, img {
    border: none;
}
a, label {
    color: #0070AB;
}
.block-box, .body-wrap, .main-box {
    width: 100%}
.btn, .form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
}
.btn, a, a:active, a:focus, a:hover, a:visited, a[href^=tel], a[href^=tel]:hover {
    text-decoration: none;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, .05);
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden], template {
    display: none;
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: 1px dotted;
}
dfn {
    font-style: italic;
}
mark {
    background: #ff0;
}
small {
    font-size: 80%}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.azul-link .icon, .fucsia-link .icon, .gris-link .icon, img {
    vertical-align: middle;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
}
pre, textarea {
    overflow: auto;
}
code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
.btn, input.labelauty+label {
    cursor: pointer;
    -khtml-user-select: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto;
}
input[type=search] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}
legend {
    border: 0;
    padding: 0;
}
optgroup {
    font-weight: 700;
}
[class*=" icon-"]:before, [class^=icon-]:before, [data-icon]:before {
    font-family: fod!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
}
@font-face {
    font-family: "Century Gothic";
    src: url(fonts/CenturyGothic.eot);
    src: url(fonts/CenturyGothic.eot?#iefix) format("embedded-opentype"), url(fonts/CenturyGothic.woff) format("woff"), url(fonts/CenturyGothic.ttf) format("truetype"), url(fonts/CenturyGothic.svg#CenturyGothic) format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Century Gothic";
    src: url(fonts/CenturyGothic-Bold.eot);
    src: url(fonts/CenturyGothic-Bold.eot?#iefix) format("embedded-opentype"), url(fonts/CenturyGothic-Bold.woff) format("woff"), url(fonts/CenturyGothic-Bold.ttf) format("truetype"), url(fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold) format("svg");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: fod;
    src: url(fonts/fod.eot);
    src: url(fonts/fod.eot?#iefix) format("embedded-opentype"), url(fonts/fod.woff) format("woff"), url(fonts/fod.ttf) format("truetype"), url(fonts/fod.svg#fod) format("svg");
    font-weight: 400;
    font-style: normal;
}
[data-icon]:before {
    content: attr(data-icon);
}
.icon-fod-icon-arroba:before {
    content: "\61"}
.icon-fod-icon-binocular:before {
    content: "\62"}
.icon-fod-icon-box-chain:before {
    content: "\63"}
.icon-fod-icon-cammera:before {
    content: "\64"}
.icon-fod-icon-cancel:before {
    content: "\65"}
.icon-fod-icon-chain:before {
    content: "\66"}
.icon-fod-icon-check:before {
    content: "\67"}
.icon-fod-icon-cloud:before {
    content: "\68"}
.icon-fod-icon-download:before {
    content: "\69"}
.icon-fod-icon-email:before {
    content: "\6a"}
.icon-fod-icon-exclamation:before {
    content: "\6b"}
.icon-fod-icon-facebook:before {
    content: "\6c"}
.icon-fod-icon-filter:before {
    content: "\6d"}
.icon-fod-icon-glass:before {
    content: "\6e"}
.icon-fod-icon-hamburger:before {
    content: "\6f"}
.icon-fod-icon-home:before {
    content: "\70"}
.icon-fod-icon-link:before {
    content: "\71"}
.icon-fod-icon-pencil:before {
    content: "\72"}
.icon-fod-icon-phone:before {
    content: "\73"}
.icon-fod-icon-place:before {
    content: "\74"}
.icon-fod-icon-play:before {
    content: "\75"}
.icon-fod-icon-plus:before {
    content: "\76"}
.icon-fod-icon-plus-circle:before {
    content: "\77"}
.icon-fod-icon-question:before {
    content: "\78"}
.icon-fod-icon-ribbon:before {
    content: "\79"}
.icon-fod-icon-star:before {
    content: "\7a"}
.icon-fod-icon-triangle:before {
    content: "\41"}
.icon-fod-icon-twitter:before {
    content: "\42"}
.icon-fod-icon-uncheck:before {
    content: "\43"}
.icon-fod-icon-upload:before {
    content: "\44"}
.centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
body {
    padding: 0;
    margin: 0;
    font-family: "Century Gothic", sans-serif;
    font-size: 13px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    background-color: #ffffff;
}
#myAccount, b, h1, h2, h3, h4, strong {
    font-weight: 700;
}
a, img {
    outline: 0;
}
a, a:visited {
    transition: all .3s;
}
a:focus, a:hover {
    color: #F7931E;
}
a:active, a:focus, a:hover, a:link, a:visited {
    outline: 0!important;
}
a[href^=tel], a[href^=tel]:hover {
    border-bottom: none;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin: 0 0 10px;
}
h1 {
    font-size: 21px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 13px;
}
em {
    font-style: italic;
}
p {
    margin: 0 0 15px;
    line-height: 140%;
    orphans: 3;
    widows: 3;
}
ol:not(.bullet), ul:not(.bullet) {
    margin: 0;
    padding: 0;
    list-style: none;
}
ol.bullet, ul.bullet {
    margin-bottom: 20px;
}
ol.bullet li, ul.bullet li {
    margin-bottom: 10px;
}
ol.bullet li ol, ol.bullet li ul, ul.bullet li ol, ul.bullet li ul {
    margin: 20px 0;
}
.no-margin, fieldset {
    margin: 0;
}
fieldset {
    padding: 0;
}
label {
    font-size: 14px;
}
@media screen and (max-width:767px) {
    h1 {
    font-size: 18px;
}
h2 {
    font-size: 16px;
}
h3 {
    font-size: 14px;
}
h4 {
    font-size: 13px;
}
}@media screen and (max-width:600px) {
    label {
    font-size: 12px;
}
}.container {
    min-width: 300px;
}
.top-space {
    margin-top: 40px;
}
.tb-xs-space {
    margin: 10px 0;
}
.fucsia-link {
    color: #D4145A;
    line-height: 1;
}
.azul-link {
    color: #0070AB;
    line-height: 1;
}
.gris-link {
    color: #333;
    line-height: 1;
}
.lg-link {
    font-size: 16px;
}
.md-link {
    font-size: 14px;
}
.sm-link {
    font-size: 12px;
}
.sm-link .icon {
    margin: 0 4px;
    font-size: 160%}
.xs-link {
    font-size: 11px;
}
.xs-link .icon {
    margin: 0 4px;
    font-size: 160%}
.link-group a {
    margin: 0 2px;
    display: inline-block;
}
.link-group span {
    margin: 0 4px;
}
.link-group .icon {
    margin: 0;
}
.body-wrap {
    position: fixed;
    top: 50px;
    bottom: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.body-wrap>.container {
    padding-top: 10px;
}
.main-box.quienes-pict {
    padding: 50px 180px 20px 50px;
    background: url(../images/quienes_somos.jpg) right top no-repeat #fff;
}
.small-box {
    max-width: 730px;
}
.large-box {
    max-width: 860px;
}
.main-box {
    padding: 45px 50px 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
}
.main-box h1, .main-box h1 .icon {
    color: #fff;
    position: absolute;
    top: -15px;
    background-color: #333;
}
.main-box h1 {
    width: 670px;
    padding: 7px 0 7px 80px;
    margin: 0;
    white-space: pre;
    left: -30px;
    display: block;
}
.main-box h1 .icon {
    padding: 17px;
    font-size: 35px;
    line-height: 28px;
    right: -10px;
    border-radius: 50%}
.main-box h2 {
    color: #0070AB;
}
.main-box h2.page-header {
    font-size: 21px;
    font-weight: 400;
    color: #333;
    display: none;
}
.main-box h2.page-header small {
    display: block;
    font-size: 12px;
    color: #333;
}
.page-header {
    margin: 5px 0 10px;
    border-bottom: solid 1px #D4145A;
    padding-bottom: 10px;
}
.balloon-group {
    margin-bottom: 10px;
    clear: both;
}
.balloon-group:after, .balloon-group:before {
    content: "";
    display: table;
    clear: both;
}
.globe-style {
    width: 100%;
    max-width: 600px;
    padding: 25px 50px;
    margin-top: 30px;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
}
.lined-title.lined-sm .round-ico.big-ico img, .round-ico.small-ico img {
    max-width: 100%}
.globe-style:before {
    content: "";
    width: 19px;
    height: 26px;
    position: absolute;
}
.globe-style h2, .globe-style h3 {
    color: #0070AB;
}
.round-ico, .round-square-ico {
    color: #fff;
    text-align: center;
}
.globe-style .md-link, .globe-style .sm-link {
    float: right;
}
.character-right {
    margin: 40px 0 30px 30px;
    float: left;
}
.character-left, .globe-right {
    margin-left: 10px;
    float: left;
}
.globe-right:before {
    left: -18px;
    top: 5px;
    background: url(../images/right_balloon.png) no-repeat;
}
.globe-left {
    margin-left: 10px;
    float: left;
}
.globe-left:before {
    margin: auto;
    right: -19px;
    top: 0;
    bottom: 0;
    background: url(../images/left_balloon.png) no-repeat;
}
.round-ico {
    overflow: hidden;
    background-color: grey;
    border-radius: 50%}
.round-ico.big-ico {
    width: 48px;
    height: 48px;
    line-height: 45px;
}
.round-ico.big-ico img {
    width: 100%}
.round-ico.small-ico {
    width: 33px;
    height: 33px;
    line-height: 30px;
}
.round-square-ico {
    background-color: #D4145A;
    border-radius: 4px;
}
.round-square-ico.big-ico {
    width: 33px;
    height: 33px;
    font-size: 23px;
    line-height: 38px;
}
.round-square-ico.small-ico {
    width: 16px;
    height: 16px;
    font-size: 14px;
    line-height: 14px;
}
.underlined-title {
    padding-bottom: 5px;
    color: #D4145A;
    border-bottom: solid 2px #D4145A;
}
.lined-title {
    display: table;
}
.lined-title .round-ico-wrap, .lined-title .round-ico-wrap-transp, .lined-title .txt-wrap, .lined-title h3, .lined-title input {
    padding-bottom: 5px;
    display: table-cell;
    vertical-align: middle;
}
.lined-title .round-ico-wrap, .lined-title .round-ico-wrap-transp {
    padding-right: 7px;
    position: relative;
}
.lined-title .round-ico-wrap:after {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    left: 0;
    bottom: -10px;
    z-index: 2;
    background-color: #fff;
}
.lined-title h3 a {
    color: #000;
}
.lined-title h3 a:hover {
    color: #F7931E;
}
.txt-wrap {
    clear: both;
}
.txt-wrap:after, .txt-wrap:before {
    content: "";
    display: table;
    clear: both;
}
.txt-wrap>h3 {
    padding-right: 5px;
}
.txt-wrap .btn {
    padding: 6px 30px;
    float: right;
}
.lined-box {
    min-height: 110px;
    padding: 15px 30px 0 0;
    position: relative;
    border: 2px solid inherit;
    border-top: solid 2px #D4145A;
    border-right: solid 2px #D4145A;
    border-radius: 0 10px;
}
.lined-box h4 {
    margin-top: 0;
    color: #0070AB;
}
.lined-box h4 a {
    margin-left: 5px;
}
.lined-box h4 a:first-child {
    margin-left: 0;
}
.lined-box .md-link {
    padding-top: 20px;
    display: block;
    position: absolute;
    bottom: 0;
    right: -8px;
    z-index: 2;
    background-color: #fff;
}
.image-wrap {
    display: table;
}
.image-wrap .image-ico, .image-wrap p {
    display: table-cell;
    vertical-align: top;
}
.image-wrap p {
    padding-left: 7px;
}
.text-wrap .btn {
    padding: 6px 40px;
    float: right;
}
.lined-title.lined-sm .round-ico.big-ico {
    width: 44px;
    height: 44px;
    line-height: 41px;
}
.lined-title.lined-sm h3 {
    font-size: 15px;
}
.lined-box.lined-sm {
    padding: 14px 20px 0 0;
}
.lined-box.lined-sm h4, .lined-box.lined-sm p, .lined-box.lined-sm small {
    font-size: 12px;
}
.lined-box.lined-sm small {
    margin-bottom: 10px;
    display: block;
}
.fucsia-group {
    padding-top: 20px;
    display: table;
    vertical-align: top;
}
.fucsia-group .round-ico-wrap, .fucsia-group .round-ico-wrap-transp {
    width: 45px;
}
.fucsia-group .round-ico-wrap, .fucsia-group .round-ico-wrap-transp, .fucsia-group p {
    display: table-cell;
    vertical-align: top;
}
.fucsia-group a, .fucsia-group p {
    font-size: 10px;
    color: #D4145A;
}
#advanced-search-wrap {
    display: none;
}
.adv-search-form {
    margin-top: 30px;
}
.adv-search-form .adv-srch-input label {
    color: #999;
}
.adv-search-form .adv-srch-input .input-group-btn {
    vertical-align: top;
}
.adv-search-form .adv-srch-input .btn {
    height: 23px;
    padding: 0 12px;
    border-radius: 5px;
}
.banco-ckeckboxlist label.control-label {
    margin-bottom: 12px;
}
.banco-ckeckboxlist label:not(.control-label) {
    font-size: 13px;
    color: #666;
    font-weight: 400;
}
.stars-vote-form {
    display: inline-block;
}
.stars-vote-form .help-block, .stars-vote-form .rating-container .caption, .stars-vote-form .rating-container .clear-rating {
    display: none;
}
.stars-vote-form .form-group {
    margin-bottom: 0;
}
.stars-vote-form .rating-xs {
    font-size: 17px;
}
.stars-vote-form .rating-container .filled-stars {
    color: #D4145A;
    text-shadow: none;
    -webkit-text-stroke: 0 transparent;
}
.resultados-tool-bar {
    position: relative;
}
#tool-bar-panel-btn, .resultados-tool-bar .social-group {
    position: absolute;
    right: 0;
    bottom: 4px;
}
#tool-bar-panel-btn:focus, #tool-bar-panel-btn:hover {
    color: #D4145A;
}
#tool-bar-panel-btn.open-panel {
    color: #F7931E;
}
#resultados-tool-bar-panel {
    width: 150px;
    display: none;
    position: absolute;
    right: 0;
    border: 1px solid #666;
    background-color: #fff;
    z-index: 9;
    border-radius: 4px;
    clear: both;
}
#resultados-tool-bar-panel:after, #resultados-tool-bar-panel:before {
    content: "";
    display: table;
    clear: both;
}
#resultados-tool-bar-panel>li {
    width: 25%;
    padding: 5px;
    float: left;
}
#resultados-tool-bar-panel.open-panel {
    display: block;
}
.responsive-video {
    height: 0;
    margin: 15px 0;
    padding-bottom: 53.25%;
    padding-top: 30px;
    position: relative;
    overflow: hidden;
}
.responsive-video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.responsive-video, .responsive-video iframe {
    max-width: 1280px;
    max-height: 720px;
}
@media (min-width:600px) {
    .container {
    width: 95%}
}@media (min-width:768px) {
    .container {
    width: 750px;
}
}@media (min-width:870px) {
    .container {
    width: 850px;
}
}@media (min-width:992px) {
    .container {
    width: 987px;
}
}@media (min-width:1024px) {
    .container {
    width: 987px;
}
}@media (min-width:1200px) {
    .container {
    width: 1100px; /* Can be adjusted to preferred width */
    margin: 0px auto;
}    
}
}@media (min-width:1300px) {
    .container {
    width: 1187px;
}
}@media screen and (max-width:991px) {
    .globe-style {
    width: 60%;
    padding: 20px;
    margin-top: 20px;
}
.character-right {
    width: 24%;
    margin: 40px 0 30px 20px;
}
.character-left {
    width: 24%;
    margin: 20px 0 0 30px;
}
.globe-left, .globe-right {
    margin-left: 10px;
}
.main-box.quienes-pict {
    padding: 20px 180px 20px 30px;
}
.main-box {
    width: 92%;
    padding: 10px 10px;
    margin-left: 0;
}
.main-box h1 {
    width: 570px;
}
.link-group span {
    display: none;
}
}@media screen and (max-width:767px) {
    .top-space {
    margin-top: 10px;
}
.body-wrap {
    top: 123px;
    bottom: 0;
}
.body-wrap>.container {
    padding-top: 50px;
}
.main-box {
    width: 95%;
    padding: 20px;
    margin-bottom: 50px;
}
.main-box h1 {
    width: 90%;
    padding: 7px 0 7px 50px;
    top: -15px;
    left: -30px;
}
.main-box h1 .icon {
    padding: 15px;
    font-size: 23px;
    line-height: 20px;
    top: -15px;
    right: -10px;
}
.main-box h2.page-header {
    font-size: 14px;
}
.main-box h2.page-header small {
    font-size: 10px;
}
.page-header {
    margin: 10px 0 10px;
}
.lined-box {
    min-height: 60px;
    padding: 10px 20px 0 0;
    margin-bottom: 20px;
}
.round-ico.big-ico {
    width: 33px;
    height: 33px;
    line-height: 28px;
}
.round-ico.small-ico {
    width: 23px;
    height: 23px;
    line-height: 20px;
}
.lined-title.lined-sm .round-ico.big-ico {
    width: 24px;
    height: 24px;
    line-height: 21px;
}
.lined-box.lined-sm {
    padding: 14px 20px 0 0;
}
.lined-box.lined-sm small {
    margin-bottom: 10px;
    display: block;
}
.image-wrap .image-ico img {
    max-width: 50px;
}
.image-wrap .image-ico, .image-wrap p {
    vertical-align: middle;
}
#approvalform-criterios_validacion_calidad_ids>label, #app rovalform-criterios_validacion_educacion_ids>label {
    margin-bottom: 15px;
}
}@media screen and (max-width:600px) {
    .body-wrap>.container {
    padding-top: 10px;
}
.top-space {
    margin-top: 5px;
}
.link-group.pull-right {
    position: absolute;
    top: 10px;
    right: 10px;
}
.main-box.quienes-pict {
    padding: 20px;
    background: #fff;
}
.main-box {
    width: 95%;
    padding: 15px;
    margin-bottom: 20px;
}
.main-box h1 {
    width: 100%;
    padding: 20px 0 0;
    color: #333;
    white-space: normal;
    position: relative;
    top: 0;
    left: 0;
    background-color: transparent;
}
.main-box h1 .icon {
    display: none;
}
.main-box h2.page-header {
    font-size: 14px;
}
.main-box h2.page-header small {
    font-size: 10px;
}
.page-header {
    margin: 15px 0 10px;
}
.responsive-video {
    margin: 5px 0;
}
.balloon-group {
    margin-bottom: 40px;
}
.globe-style {
    width: 60%;
    padding: 10px;
    margin-top: 0;
}
.globe-style h2 {
    font-size: 12px;
}
.character-right {
    width: 29%;
    margin: 55px 20px 0 0;
    float: right;
}
.character-left {
    width: 29%;
    margin: 20px 0 0 20px;
}
.globe-right {
    margin-left: 0;
}
.globe-right:before {
    margin: auto;
    right: -12px;
    top: -40px;
    bottom: 0;
    left: auto;
    background: url(../images/left_balloon.png) no-repeat;
}
.globe-left {
    margin-left: 0;
}
.globe-left:before {
    right: -12px;
}
.adv-search-form {
    margin-top: 10px;
}
.txt-wrap .btn {
    padding: 6px 10px;
}
.lined-title.lined-sm .round-ico.big-ico, .round-ico.big-ico {
    width: 23px;
    height: 23px;
    line-height: 20px;
}
.image-wrap .image-ico, .image-wrap p {
    vertical-align: top;
}
.fucsia-group {
    padding-top: 10px;
}
.fucsia-group .round-ico-wrap, .fucsia-group .round-ico-wrap-transp {
    width: 30px;
}
.fucsia-group a, .fucsia-group p {
    font-size: 11px;
}
.round-square-ico.big-ico {
    width: 23px;
    height: 23px;
    font-size: 12px;
    line-height: 26px;
}
}header {
    width: 100%;
    position: fixed;
    z-index: 3;
}
header .header-bar {
    width: 100%;
    height: 61px;
    background center center/cover no-repeat #fff;
}
header .navbar-brand {
    height: auto;
    padding: 5px 5px 5px;
}
header .container {
    position: relative;
}
#myAccount {
    color: #fff;
    float: right;
    font-size: 12px;
    line-height: 22px;
    display: none;
}
#login-header {
    position: absolute;

    right: 65px;
    left: 15px;
    top: 55;
    bottom: 0;
}
.box-status-wrap {
    height: 100%;
    display: table;
    position: relative;
}
.error-login-wrap {
    position: absolute;
}
.error-login {
    position: relative;
    left: -290px;
}
.user-box-status {

    min-height: 93px;
    padding: 15px 5px;
    background-color: none;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    border-radius: 10px;
}
.user-box-status .help-block {
    margin: 0;
    font-size: 9px;
}
.user-box-status .checkbox, .user-box-status .radio {
    margin-bottom: 0;
    margin-top: 0;
}
.user-box-status .checkbox label {
    margin-bottom: 0;
    font-size: 11px;
    color: #fff;
    float: left;
}
.user-box-status input[type=checkbox] {
    width: 12px;
    margin-top: 0;
}
.user-box-status .form-group {
    margin-bottom: 3px;
    position: relative;
}
.user-box-status .form-control {
    height: 20px;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1.4;
}
.user-box-status .user-actions, .user-box-status .user-info {
    clear: both;
}
.user-box-status .user-actions:after, .user-box-status .user-actions:before, .user-box-status .user-info:after, .user-box-status .user-info:before {
    content: "";
    display: table;
    clear: both;
}
.user-box-status .user-image {
    width: 45px;
    height: 45px;
    display: block;
    overflow: hidden;
    float: left;
    border: 4px solid #fff;
    border-radius: 50%}

.user-box-status .user-text {
    height: 40px;
    padding-right: 20px;
    float: right;
}
.user-box-status .user-text p {
    margin: 0;
    font-size: 11px;
    color: #fff;
    text-align: right;
}
.user-box-status .insignia-nivel-1 {
    background: url(../images/insignia_nivel_1.png) top right no-repeat;
}
.user-box-status .insignia-nivel-2 {
    background: url(../images/insignia_nivel_2.png) top right no-repeat;
}
.user-box-status .insignia-nivel-3 {
    background: url(../images/insignia_nivel_3.png) top right no-repeat;
}
.user-box-status .insignia-nivel-4 {
    background: url(../images/insignia_nivel_4.png) top right no-repeat;
}
.user-box-status .insignia-nivel-5 {
    background: url(../images/insignia_nivel_5.png) top right no-repeat;
}
.user-box-status .insignia-nivel-6 {
    background: url(../images/insignia_nivel_6.png) top right no-repeat;
}
.user-box-status .btn {
    float: right;
}
.user-box-status .links-left {
    float: left;
}
.user-box-status .links-left .icon {
    margin-right: 3px;
}
.user-box-status .links-left a {
    padding: 3px 0;
    font-size: 11px;
    color: #fff;
    line-height: 1;
    display: block;
}
#userOption_btn.open, .user-box-status .links-left a:hover {
    color: #F7931E;
}
.user-box-status .user-options {
    width: 130px;
    display: none;
    padding: 0 10px 3px;
    position: absolute;
    left: 0;
    background-color: #40484B;
    border-radius: 0 0 10px 10px;
}
.user-box-status .user-options a {
    padding: 4px 0 7px 9px;
}
.user-box-status .user-options li:first-child {
    background: url(../images/usr_bottom.png) center bottom/100% auto no-repeat;
}
#fod-nav .navbar-nav>li>a {
    height: 18px;
    padding: 10px 5px;
    color: #fff;
    font-size: 13px;
    line-height: 19px;
    background: url(../images/nav_bottom.png) center bottom/80% 0 no-repeat;
}
#fod-nav .navbar-nav>li>a .icon {
    font-size: 18px;
}
#fod-nav .nav>li.active>a, #fod-nav .nav>li>a:focus, #fod-nav .nav>li>a:hover {
    color: #F7931E;
    background: url(../images/nav_bottom.png) center bottom/80% 9% no-repeat;
}
#fod-nav .navbar-toggle {
    height: 40px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    background-image: none;
    border: none;
    border-radius: 0;
    float: none;
    position: relative;
    color: #fff;
}
#fod-nav .navbar-toggle .icon {
    font-size: 20px;
    vertical-align: middle;
}
#fod-nav .navbar-toggle strong {
    margin-left: 7px;
    font-size: 14px;
    line-height: 23px;
}
.nav-wrap {
    width: 100%;
    position: relative;
    background-color: #333;
}
#header-search {
    position: absolute;
    top: 15px;
    left: 75px;
}
#header-search form {
    display: table;
}
#header-search .form-control {
    width: auto;
    resize: horizontal;
    height: 18px;

    font-size: 11px;
    color: #EAECEB;
    background-color:  #EAECEB;
    border: none;
    border-radius: 0;
}
#header-search .input-group-addon, #header-search .input-group-btn {
    width: 26px;
    vertical-align: middle;
    white-space: nowrap;
}
#header-search .btn {
    width: 26px;
    height: 18px;
    padding: 4px;
    border: none;
    font-size: 11px;
    line-height: 1;
}
#header-search .help-block {
    display: none;
}
#header-search .form-group {
    margin-bottom: 0;
}
#side-nav {
    position: relative;
    z-index: 2;
}
#side-nav .pull-right {
    margin-right: 10px;
}
#side-nav .side-line {
    width: 10px;
    height: 100%;
    padding-top: 10px;
    position: fixed;
    top: 90px;
    background: #333;
}
#side-nav .side-button {
    width: 47px;
    height: 47px;
    margin: 0 0 17px -19px;
    text-align: center;
    position: relative;
    background: #333;
    border-radius: 50%}
#side-nav .side-button>a {
    color: #fff;
}
#side-nav .side-button>a .icon {
    font-size: 22px;
    line-height: 50px;
}
#side-nav .side-button.open>a, #side-nav .side-button>a:hover {
    color: #F7931E;
}
#side-nav .side-button.open .side-lateral {
    display: block;
}
#side-nav .side-lateral {
    display: none;
    position: absolute;
    top: 0;
    right: 17px;
    text-align: right;
}
#side-nav .side-lateral p {
    margin-bottom: 10px;
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 0 6px #00968F, 0 0 6px #00968F, 0 0 6px #00968F, 0 0 6px #00968F;
}
#side-nav .side-box li, #side-nav .side-box li a {
    font-size: 17px;
    color: #fff;
    white-space: pre;
}
#side-nav .side-lateral p span {
    margin-right: 5px;
}
#side-nav .side-box {
    padding: 5px 5px;
    background-color: #333;
    border-radius: 10px;
}
#side-nav .side-box li {
    padding: 5px 0;
    background: url(../images/side_nav_bottom.png) center bottom/95% auto no-repeat;
}
#side-nav .side-box li a span {
    margin-right: 7px;
}
#side-nav .side-box li a:hover {
    color: #F7931E;
}
@media screen and (max-width:1024px) {
    header .header-bar {
     center center/cover no-repeat #fff;
}
}@media screen and (max-width: 91px) {
    .navbar-header {
    float: none;
}
.navbar-left, .navbar-nav, .navbar-right {
    float: none!important;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-nav {
    margin-top: 7.5px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.collapse.in {
    display: none!important;
}
#header-search {
    display: none;
}
#fod-nav .navbar-nav {
    padding: 15px 0;
}
#fod-nav .navbar-nav>li>a {
    height: 30px;
    padding: 0;
    line-height: 30px;
    background: 0 0;
}
#fod-nav .nav>li>a:focus, #fod-nav .nav>li>a:hover {
    background: 0 0;
}
#side-nav .pull-right {
    margin-right: 20px;
}
}@media screen and (max-width:767px) {
    header .header-bar {
    width: 100%;
    height: 25px;
     center center/cover no-repeat #fff;
}
header .navbar-brand {
    padding: 9px 0 5px;
}
header .navbar-brand>img {
    max-width: 98px;
}
#fod-nav .navbar-toggle {
    height: 23px;
    line-height: 1;
}
#fod-nav .navbar-toggle .icon {
    font-size: 16px;
}
#fod-nav .navbar-toggle strong {
    margin-left: 7px;
    font-size: 12px;
}
#side-nav .pull-right {
    margin-right: 0;
}
#side-nav .side-line {
    width: 4px;
    padding-top: 16px;
    top: 123px;
}
#side-nav .side-button {
    width: 23px;
    height: 23px;
    margin: 0 0 15px -10px;
}
#side-nav .side-button>a .icon {
    font-size: 10px;
    line-height: 23px;
}
#side-nav .side-lateral {
    right: 30px;
}
#side-nav .side-lateral p {
    margin-bottom: 5px;
    font-size: 11px;
}
#side-nav .side-box {
    padding: 5px 10px;
}
#side-nav .side-box li {
    padding: 5px 0;
    font-size: 12px;
}
#side-nav .side-box li a {
    font-size: 12px;
}
#side-nav .side-box li a span {
    margin-right: 5px;
}
#myAccount {
    display: block;
}
#myAccount.open-panel {
    color: #F7931E;
}
#myAccount.open-panel .icon {
    display: inline-block;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
#login-header.open-panel {
    display: block;
}

.user-box-status {
    border-radius: 25px;
    width: 210px;
    min-height: 75px;
    padding: 7px 10px;
    position: relative;
    top: auto;
    right: 0;
    z-index: 9;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    border-radius: 5px;
}
.user-box-status .checkbox label {
    min-height: 10px;
}
.user-box-status .form-group {
    width: 100%;
    float: left;
}
.user-box-status .field-loginform-rememberme {
    width: 100%}
.user-box-status .form-control {
    font-size: 11px;
}
.user-box-status .user-image {
    width: 35px;
    height: 35px;
    border: 3px solid #fff;
}
.user-box-status .links-left a {
    padding: 3px;
    display: inline-block;
}
}.btn, .round-form-group, footer {
    position: relative;
}
@media screen and (max-width:600px) {
    .error-login {
    position: relative;
    top: 88px;
    left: -10px;
}
}footer {
    width: 100%;
    padding: 15px 0 30px;
    z-index: 3;
    background-color: #333;
}
footer .pull-right {
    padding-top: 7px;
}
footer>div {
    text-align: right;
}
footer p, footer small {
    margin: 0;
    line-height: 1;
}
footer a, footer p, footer small {
    color: #fff;
}
@media screen and (max-width:767px) {
    footer {
    padding: 10px 0;
}
footer img {
    display: none;
}
footer>div {
    text-align: center;
}
footer p {
    font-size: 12px;
}
footer small {
    font-size: 10px;
}
footer p, footer small {
    margin: 3px;
    line-height: 1.4;
}
}.btn-lg, .btn-md {
    line-height: 1.33333;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    border: none;
    transition: all .3s;
    -webkit-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -o-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    appearance: none;
    border-radius: 4px;
}
.comment-wrapper .comment-box .comment-box-partial .comment-submit, .glyphicon {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
}
.btn-default, .btn-default:visited {
    color: #fff;
    border: none;
    background-color: #45B390;
}
.btn-default:focus, .btn-default:hover {
    color: #fff;
    border: none;
    background-color: #F7931E;
}
.btn-lg {
    padding: 10px 15px;
    font-size: 14px;
}
.btn-md, .btn-sm, .form-control {
    font-size: 12px;
}
.btn-md {
    padding: 7px 14px;
}
.btn-sm {
    padding: 6px 19px;
    line-height: 1;
}
.help-block {
    color: red!important;
}
.form-control {
    width: 100%;
    height: 23px;
    padding: 5px 6px;
    display: block;
    line-height: 1.42857;
    font-weight: 400;
    color: #333;
    border: 1px solid #333;
    background-color: #fff;
    box-shadow: none;
    border-radius: 0;
    appearance: none;
}
.form-control::placeholder {
    color: #333;
}
.form-control::-webkit-input-placeholder {
    color: #333;
}
.form-control:-moz-placeholder {
    color: #333;
}
.form-control::-moz-placeholder {
    color: #333;
}
.form-control:-ms-input-placeholder {
    color: #333;
}
.form-control:focus {
    border-color: #333;
    box-shadow: none;
    outline: 0;
}
.form-control.search-input {
    margin-bottom: 20px;
    background-color: #E2E2E2;
}
.round-form-control {
    width: 100%;
    height: 30px;
    padding: 5px 16px;
    border: 1px solid #989898;
    border-radius: 15px;
}
textarea.round-form-control {
    height: 192px;
}
.round-form-group {
    margin-top: 20px;
    padding-left: 40px;
}
.round-form-group .form-group {
    margin-bottom: 10px;
}
.round-form-group .lined-title {
    width: 90%}
.round-form-group .lined-title .round-ico-wrap {
    position: absolute;
    left: 0;
}
.round-form-group .btn {
    position: absolute;
    right: 0;
    top: 0;
}
.disabled label {
    color: #999;
}
.bootstrap-select.disabled .btn-default, .bootstrap-select.disabled .btn-default:focus, .bootstrap-select.disabled .btn-default:hover {
    border: 1px solid #999;
    background-color: #999;
    opacity: 1;
}
.bootstrap-select .btn {
    padding: 2px 5px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0;
}
.bootstrap-select .btn-default, .bootstrap-select .btn-default:focus, .bootstrap-select .btn-default:hover, .bootstrap-select .btn-default:visited {
    color: #fff;
    border: 1px solid #0070AB;
    background-color: #0070AB;
}
.bootstrap-select .caret {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px dashed;
}
.bootstrap-select .btn-default.active, .bootstrap-select .btn-default:active, .bootstrap-select.open>.dropdown-toggle.btn-default {
    box-shadow: none;
    color: #fff;
    border-color: #0070AB;
    background-color: #0070AB;
}
.bootstrap-select .dropdown-menu {
    background-clip: padding-box;
    background-color: #E2E2E2;
    border: 1px solid #333;
    border-radius: 0;
    box-shadow: none;
    font-size: 10.5px;
}
.bootstrap-select .dropdown-menu>li>a:focus, .bootstrap-select .dropdown-menu>li>a:hover {
    color: #fff;
    background-color: #F7931E;
}
input.labelauty+label ::selection {
    background-color: rgba(255, 255, 255, 0);
}
input.labelauty+label ::-moz-selection {
    background-color: rgba(255, 255, 255, 0);
}
input.labelauty {
    display: none!important;
}
input.labelauty+label {
    margin-right: 12px;
    display: inline-block;
    position: relative;
    float: left;
    vertical-align: middle;
    -o-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bootstrap-select.btn-group .dropdown-menu li.disabled a, .bootstrap-select.btn-group.disabled, .bootstrap-select.btn-group>.disabled {
    cursor: not-allowed;
}
input.labelauty+label>span.labelauty-checked-image, input.labelauty+label>span.labelauty-unchecked-image {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-position: left center;
}
input.labelauty:checked+label>span.labelauty-unchecked, input.labelauty:checked+label>span.labelauty-unchecked-image, input.labelauty:not(:checked)+label>span.labelauty-checked, input.labelauty:not(:checked)+label>span.labelauty-checked-image {
    display: none;
}
input.labelauty:checked+label>span.labelauty-checked {
    display: inline-block;
}
input.labelauty.no-label:checked+label>span.labelauty-checked {
    display: block;
}
input.labelauty[disabled]+label {
    opacity: .5;
}
label input.labelauty+label>span.labelauty-unchecked-image {
    background-image: url(../images/input-unchecked.png);
}
label input.labelauty+label>span.labelauty-checked-image {
    background-image: url(../images/input-checked.png);
}
@media screen and (max-width:869px) {
    .round-form-group .lined-title {
    width: 85%}
input.labelauty+label {
    float: none;
}
}@media screen and (max-width:767px) {
    input.labelauty+label {
    margin: 0;
}
}@media screen and (max-width:600px) {
    .form-control.search-input, .form-group {
    margin-bottom: 10px;
}
.bootstrap-select .btn {
    padding: 2px 5px;
    font-size: 13px;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
    margin-top: -3px;
}
.bootstrap-select .caret {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px dashed;
}
.bootstrap-select .dropdown-menu {
    font-size: 10px;
}
.round-form-group {
    margin-top: 10px;
    padding-left: 30px;
}
.round-form-group .lined-title {
    width: 100%}
.round-form-group .btn {
    position: relative;
}
textarea.round-form-control {
    height: 110px;
}
}select.bs-select-hidden, select.selectpicker {
    display: none!important;
}
.bootstrap-select {
    width: 220px\9;
}
.bootstrap-select>.dropdown-toggle {
    width: 100%;
    padding-right: 25px;
    z-index: 1;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:active, .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    color: #fff;
}
.bootstrap-select>select {
    position: absolute!important;
    bottom: 0;
    left: 50%;
    display: block!important;
    width: .5px!important;
    height: 100%!important;
    padding: 0!important;
    opacity: 0!important;
    border: none;
}
.bootstrap-select>select.mobile-device {
    top: 0;
    left: 0;
    display: block!important;
    width: 100%!important;
    z-index: 2;
}
.error .bootstrap-select .dropdown-toggle, .has-error .bootstrap-select .dropdown-toggle {
    border-color: #b94a48;
}
.bootstrap-select.fit-width {
    width: auto!important;
}
.bootstrap-select.btn-group[class*=col-] .dropdown-toggle, .bootstrap-select.form-control:not([class*=col-]), .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn), .form-inline .bootstrap-select.btn-group .form-control {
    width: 100%}
.bootstrap-select .dropdown-toggle:focus {
    outline: #333 dotted thin!important;
    outline: -webkit-focus-ring-color auto 5px!important;
    outline-offset: -2px;
}
.bootstrap-select.form-control {
    margin-bottom: 0;
    padding: 0;
    border: none;
}
.bootstrap-select.form-control.input-group-btn {
    z-index: auto;
}
.bootstrap-select.form-control.input-group-btn:not(:first-child):not(:last-child)>.btn {
    border-radius: 0;
}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*=col-] {
    float: none;
    display: inline-block;
    margin-left: 0;
}
.bootstrap-select.btn-group.dropdown-menu-right, .bootstrap-select.btn-group[class*=col-].dropdown-menu-right, .row .bootstrap-select.btn-group[class*=col-].dropdown-menu-right {
    float: right;
}
.form-group .bootstrap-select.btn-group, .form-horizontal .bootstrap-select.btn-group, .form-inline .bootstrap-select.btn-group {
    margin-bottom: 0;
}
.form-group-lg .bootstrap-select.btn-group.form-control, .form-group-sm .bootstrap-select.btn-group.form-control {
    padding: 0;
}
.bootstrap-select.btn-group.disabled:focus, .bootstrap-select.btn-group>.disabled:focus {
    outline: 0!important;
}
.bootstrap-select.btn-group.bs-container {
    position: absolute;
    height: 0!important;
    padding: 0!important;
}
.bootstrap-select.btn-group.bs-container .dropdown-menu {
    z-index: 1060;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    text-align: left;
}
.bootstrap-select.btn-group .dropdown-toggle .caret {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -2px;
    vertical-align: middle;
}
.bootstrap-select.btn-group .dropdown-menu {
    min-width: 100%;
    box-sizing: border-box;
}
.bootstrap-select.btn-group .dropdown-menu.inner {
    position: static;
    float: none;
    border: 0;
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
}
.bootstrap-select.btn-group .dropdown-menu li {
    position: relative;
}
.bootstrap-select.btn-group .dropdown-menu li.active small {
    color: #fff;
}
.bootstrap-select.btn-group .dropdown-menu li a {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bootstrap-select.btn-group .dropdown-menu li a.opt {
    position: relative;
    padding-left: 2.25em;
}
.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
    display: none;
}
.bootstrap-select.btn-group .dropdown-menu li a span.text {
    display: inline-block;
}
.bootstrap-select.btn-group .dropdown-menu li small {
    padding-left: .5em;
}
.bootstrap-select.btn-group .dropdown-menu .notify {
    position: absolute;
    bottom: 5px;
    width: 96%;
    margin: 0 2%;
    min-height: 26px;
    padding: 3px 5px;
    background: #f5f5f5;
    border: 1px solid #e3e3e3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    pointer-events: none;
    opacity: .9;
    box-sizing: border-box;
}
.bootstrap-select.btn-group .no-results {
    padding: 3px;
    background: #f5f5f5;
    margin: 0 5px;
    white-space: nowrap;
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
    position: static;
}
.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
    position: static;
    top: auto;
    margin-top: -1px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    position: absolute;
    display: inline-block;
    right: 15px;
    margin-top: 5px;
}
.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
    margin-right: 34px;
}
.bootstrap-select.show-menu-arrow.open>.dropdown-toggle {
    z-index: 1061;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(204, 204, 204, .2);
    position: absolute;
    bottom: -4px;
    left: 9px;
    display: none;
}
.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    bottom: -4px;
    left: 10px;
    display: none;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
    bottom: auto;
    top: -3px;
    border-top: 7px solid rgba(204, 204, 204, .2);
    border-bottom: 0;
}
.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
    bottom: auto;
    top: -3px;
    border-top: 6px solid #fff;
    border-bottom: 0;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
    right: 12px;
    left: auto;
}
.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
    right: 13px;
    left: auto;
}
.bootstrap-select.show-menu-arrow.open>.dropdown-toggle:after, .bootstrap-select.show-menu-arrow.open>.dropdown-toggle:before {
    display: block;
}
.bs-actionsbox, .bs-donebutton, .bs-searchbox {
    padding: 4px 8px;
}
.bs-actionsbox {
    width: 100%;
    box-sizing: border-box;
}
.bs-actionsbox .btn-group button {
    width: 50%}
.bs-donebutton {
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.bs-donebutton .btn-group button {
    width: 100%}
.bs-searchbox+.bs-actionsbox {
    padding: 0 8px 4px;
}
.bs-searchbox .form-control {
    margin-bottom: 0;
    width: 100%;
    float: none;
}
.rating-container .caption, .rating-container .clear-rating, .rating-container .rating {
    display: inline-block;
    vertical-align: middle;
}
.rating-loading {
    background: url(../img/loading.gif) left top no-repeat;
    border: none;
    color: #fff;
    font-size: 0;
    height: 25px;
    width: 25px;
}
.rating-container .rating {
    cursor: default;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}
.rating-disabled .rating {
    cursor: not-allowed;
}
.rating-container .star {
    display: inline-block;
    margin: 0 3px;
    text-align: center;
}
.rating-container .empty-stars {
    color: #aaa;
}
.rating-container .filled-stars {
    -webkit-text-stroke: 1px #777;
    color: #fde16d;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: absolute;
    text-shadow: 1px 1px #999;
    top: 0;
    white-space: nowrap;
}
.glyphicon, .panel {
    position: relative;
}
.rating-rtl {
    float: right;
}
.rating-animate .filled-stars {
    -webkit-transition: width .25s ease 0s;
    transition: width .25s ease 0s;
}
.rating-rtl .filled-stars {
    left: auto;
    right: 0;
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0) translate3d(0, 0, 0);
}
.rating-rtl.is-star .filled-stars {
    right: .06em;
}
.rating-rtl.is-heart .empty-stars {
    margin-right: .07em;
}
.rating-lg {
    font-size: 3.91em;
}
.rating-md {
    font-size: 3.13em;
}
.rating-sm {
    font-size: 2.5em;
}
.rating-xs {
    font-size: 2em;
}
.rating-xl {
    font-size: 4.89em;
}
.rating-container .clear-rating {
    color: #aaa;
    cursor: not-allowed;
    font-size: 60%;
    padding-right: 5px;
}
.clear-rating-active {
    cursor: pointer!important;
}
.clear-rating-active:hover {
    color: #843534;
}
.rating-container .caption {
    color: #999;
    font-size: 60%;
    margin-left: 5px;
    margin-right: 0;
    margin-top: -.6em;
}
.rating-rtl .caption {
    margin-left: 0;
    margin-right: 5px;
}
@media print {
    .rating-container .clear-rating {
    display: none;
}
}@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(fonts/glyphicons-halflings-regular.eot);
    src: url(fonts/glyphicons-halflings-regular.eot?#iefix) format("embedded-opentype"), url(fonts/glyphicons-halflings-regular.woff2) format("woff2"), url(fonts/glyphicons-halflings-regular.woff) format("woff"), url(fonts/glyphicons-halflings-regular.ttf) format("truetype"), url(fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format("svg");
}
.glyphicon {
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    line-height: 1;
}
.glyphicon-minus:before {
    content: "−"}
.glyphicon-star-empty:before, .glyphicon-star:before {
    content: ""}
.comment-wrapper .comments .comment-author-name {
    margin: 0 0 5px;
    font-size: 12px;
    font-weight: 400;
    color: #D4145A;
}
.comment-wrapper .comments .comment-date {
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    color: #D4145A;
}
.comment-wrapper .comment-body {
    color: #666;
}
.comment-wrapper .comment-action-buttons a {
    padding: 5px;
    font-size: 12px;
    font-weight: 400;
    color: #D4145A;
}
.comment-wrapper .comment-action-buttons a:hover {
    color: #F7931E;
}
.comment-wrapper .comments .comment-author-avatar {
    width: 33px;
    float: left;
    overflow: hidden;
    border-radius: 50%}
.comment-wrapper .comments .comment-author-avatar img {
    width: 100%;
    border: none;
}
.comment-wrapper .comments .comment-content {
    padding: 0;
    border-radius: 0;
    border-top: none;
    box-shadow: none;
    overflow: hidden;
}
.comment-wrapper .comments .comment-details {
    padding-left: 60px;
}
.comment-wrapper .comments-list .children {
    margin: 20px 0 0;
    padding-left: 60px;
    border-left: none;
}
.comment-wrapper .comments-list .children .comment::after, .comment-wrapper .comments-list .children .comment::before {
    content: "";
    display: none;
}
.comment-wrapper .title-block .h3-body-title {
    margin: 0 5px 5px 0;
    float: left;
    font-size: 14px;
    color: #666;
}
.comment-wrapper .title-block .title-separator {
    height: 5px;
    margin-top: 8px;
    overflow: hidden;
    background: 0 0;
}
.comment-wrapper .comment-box .comment-box-partial .comment-submit {
    height: auto;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    outline: 0;
    color: #fff;
    border: none;
    background-color: #00968F;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    -o-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
}
.comment-wrapper .comment-box .comment-box-partial .comment-submit:hover {
    color: #fff;
    border: none;
    background-color: #F7931E;
}
.comment-wrapper .comment-box textarea {
    padding: 7px 9px;
    font-size: 12px;
    line-height: 17px;
    color: #666;
    border: 1px solid #989898;
    background: #fff;
    box-shadow: none;
    border-radius: 10px;
}
.panel, .panel-default {
    border: none;
}
@media screen and (max-width:600px) {
    .comment-wrapper .comments .comment-details, .comment-wrapper .comments-list .children {
    padding-left: 30px;
}
.comment-wrapper .comments {
    margin: 10px -15px;
}
.comment-wrapper .title-block .h3-body-title {
    font-size: 12px;
}
.comment-wrapper .comments .comment-author-avatar {
    width: 23px;
}
.comment-wrapper .comment-action-buttons {
    float: none;
}
}.panel {
    margin-bottom: 20px;
    border-radius: 0;
    box-shadow: none;
    background-color: #fff;
}
.panel-default>.panel-heading {
    padding: 0;
    border: none;
    color: #333;
    border-radius: 0;
    background-color: #fff;
}
.panel-default>.panel-heading a:focus, .panel-default>.panel-heading a:hover {
    color: #333;
}
.panel-title {
    font-size: 15px;
}
.panel-title .icon {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 34px;
    color: #D4145A;
    position: absolute;
    right: -14px;
    bottom: -16px;
    z-index: 2;
    background-color: #fff;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.panel-title a {
    width: 98%;
    margin-bottom: -2px;
    padding: 10px 0;
    display: block;
    border-bottom: solid 2px #D4145A;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.panel-title .collapsed .icon {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    padding: 15px 30px 0 0;
    position: relative;
    border: 2px solid inherit;
    border-top: solid 2px #D4145A;
    border-right: solid 2px #D4145A;
    border-radius: 0 10px;
}
.paginator-container {
    margin: 20px 0;
    display: block;
    clear: both;
}
.paginator-container:after, .paginator-container:before {
    content: "";
    display: table;
    clear: both;
}
.paginator-container ul.pagination {
    float: left;
}
.paginator-container .filtro-ordenar {
    padding-top: 5px;
    float: right;
}
ul.pagination {
    padding-left: 0;
    display: inline-block;
    border-radius: 0;
}
ul.pagination.pagination-sm>li>a, ul.pagination.pagination-sm>li>span {
    font-size: 10px;
    line-height: 1.5;
    padding: 5px 10px;
}
ul.pagination>li>a, ul.pagination>li>span {
    background-color: #fff;
    color: #666;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
}
ul.pagination>.active>a, ul.pagination>.active>a:focus, ul.pagination>.active>a:hover, ul.pagination>.active>span, ul.pagination>.active>span:focus, ul.pagination>.active>span:hover {
    border-color: #D4145A;
    background-color: #D4145A;
}
ul.pagination>li>a:focus, ul.pagination>li>a:hover, ul.pagination>li>span:focus, ul.pagination>li>span:hover {
    background-color: #fff;
    border-color: #F7931E;
    color: #F7931E;
}
.filtro-ordenar label {
    font-size: 11px;
    color: #000;
    font-weight: 400;
}
@media screen and (max-width:600px) {
    .panel-title {
    font-size: 14px;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    padding: 10px 20px 0 0;
}
ul.pagination {
    margin: 5px 0;
}
ul.pagination.pagination-sm>li>a, ul.pagination.pagination-sm>li>span, ul.pagination>li>a, ul.pagination>li>span {
    margin: 1px;
    padding: 3px 7px;
    font-size: 10px;
}

}