﻿<style>

	.fnd_azul{padding: 5px; text-align: center;	}
	
	#info_box2{	top: 130px;	left: 160px; width:390px; }
	
	#info_box3{	top: 205px;	left: 110px; width: 200px; }	
	#info_box7{	top: 205px;	left: 400px; width: 200px; }
	#info_box9 {top: 205px;	left: 670px; width: 200px; }
	
	#info_box8{	top: 297px;	left: 400px; width:200px; }
	#info_box10 {top: 297px;	left: 670px; width:200px; }
	
	
	
.M1_P05{background: url(img/M1_P05_img01.png) no-repeat;}


</style>

<div id="container_page">
	
	<div id="fnd" class="fnd_esquemaContenidos"></div>
	

	<div id="info_box1" class="info_box mediano2">
		<h1>Esquema de contenidos</h1> 
	</div>

	<!-- 1 -->
	<div id="info_box2" class="info_box fnd_azul"><p class="text_blanco">Transformar el aula desde la innovación</div>
	
	<div id="info_box3" class="info_box fnd_azul"><p class="text_blanco"><b>Finlandia</b><br/>Descripción de un modelo educativo innovador y exitoso</div>
	<div id="info_box7" class="info_box fnd_azul"><p class="text_blanco"><b>El docente del siglo XXI </b></div>
	<div id="info_box9" class="info_box fnd_azul"><p class="text_blanco"><b>Transformación del aula </b></div>
	
	<div id="info_box8" class="info_box fnd_azul"><p class="text_blanco">¿Por qué se aprende tan poco en la escuela? </div>
	<div id="info_box10" class="info_box fnd_azul"><p class="text_blanco">Adapte, adopte, cree y comparta </div>
	
	<div id="flecha03" class="flechazul01" style="top:266px; left:490px;"></div>
	<div id="flecha04" class="flechazul01" style="top:266px; left:760px;"></div>
	
	<div id="flecha03" class="flechazul01" style="top:180px; left:220px;"></div>
	<div id="flecha04" class="flechazul01" style="top:180px; left:490px;"></div>
	
	<div id="flecha05" class="flecha02_derecha" style="top:220px; left:632px;"></div>
	
	
	<div id="link_subpage_1" class="link_secundario gris" rel="1" style="left:110px; top:370px; width:190px" >
		<p>Descargar PDF</p>
	</div>
	
	
	
</div>

<script>
	var totalEventos;
	var totalActivos;
	var queue;
	var n_rel;
	var ruta_img =  "contenido/M3_P08/img/";



	function init(){
		portada = false;
		precarga();
		initInteractions();
		//HabilitaBotones(); //Enable next buttom	
		
		//Control de eventos para pasar de página (Plantilla)
		totalEventos = 1;
		totalActivos = new Array();
		for (var i = 1; i < totalEventos + 1; i++) {
			totalActivos[i] = 0;
		}
		_global.externalTrace("plantilla, cantidad de eventos",totalEventos);


		 
	}

	function initInteractions(){	
	 
		$("a.btn_back").bind(clickEvent,function(e){
			var container = $(this).parent().parent();
			e.preventDefault();	
				container.fadeOut();
		});

		$(".back_sub").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeOut();
			$(".subpagePopUp").fadeOut();
		});

		$(".link_secundario, #link_subpage_1").bind(clickEvent,function(e){
			e.preventDefault();
			$(".back_sub").fadeIn();
			$("#subpagePopUp_" + $(this).attr("rel")).fadeIn();
			descontar($(this).attr("rel"));
		});


		 $("#link_subpage_1").click(function(event){ 
		window.open('contenido/download/manuales/M1_P04_pdf1.pdf', '_blank');
		event.preventDefault();
		descontar($(this).attr("rel"));
		}); 



	}

	
	


	function precarga(){
		//Precarga de imagenes
		queue = new createjs.LoadQueue(true);	
		queue.addEventListener("fileload", handleFileLoad);
		queue.addEventListener("complete", handleComplete);

		handleComplete();
		}
	
	function handleFileLoad(event) {
		var item = event.item; // Referencia al item que genera el evento
	}
	
	
	/* al acabar la carga lanzamos las animaciones */
	
	function handleComplete(event) {
	
		navigation.checkStatus(); // Comunication with Scorm
	}	
	
	

	/* AVANCE */
	
	function descontar(cual) {
		_global.externalTrace("plantilla descontar ",cual);
		totalActivos[cual] = 1;
		compruebaBotones();
	}
	
	function compruebaBotones() {
		alguno = false;
		for (i = 1; i < totalActivos.length + 1; i++) {
			if (totalActivos[i] == 0) {
				alguno = true;
				break;
			}
		}
		if (!alguno) {
		 
			HabilitaBotones();
		 
		}
		_global.externalTrace("plantilla compruebaBotones ",alguno);
	}

</script>
	